<h1>mon corps est mon corps</h1>
<p>
    toute personne a droit au respect de l’intégrité de
  son corps dans son intégralité – de la tête au pied en passant par tous les
  organes du plaisir sexuel. le droit à l’intégrité corporelle est inhérent à la
  personne humaine. il doit être aujourd’hui protégé par une loi qui retire à
  quiconque toute possibilité d’altérer délibérément le corps d’autrui, quelles
  que soient les justifications vidéologiques de telles atteintes.
  <br>reconnaître
  aux enfant•e•s le droit à l’intégrité corporelle, c’est nécessairement choquer
  et bouleverser les traditions qui le bafouent.</p>
  <h2>mon clitoris est mon clitoris</h2>
  <p>
  certaines atteintes sont aujourd’hui considérées soit comme des agressions
  illicites, soit comme des rites licites, selon qu’elles sont commises sur des
  adultes non consentant•e•s ou sur des enfant•e•s ne pouvant ni vouloir ni
  refuser – circoncire un homme adulte sans son consentement est un crime,
  tandis que des parents peuvent en toute impunité faire exciser le prépuce de
  leur petit garçon, comme si sa chair était leur chose.
  <br>faites sur des
  personnes sans défense, de telles violences aux conséquences définitives et
  irréparables, ne sont pas seulement une négation de la dignité des filles et
  des garçons en tant que tel•le•s, mais aussi une négation de la liberté des
  femmes et des hommes qui ne pourront jamais revenir sur ces coupures décidées
  à leur place quand elles et ils étaient au pouvoir excessif de leurs parents.
  <br>reconnaître le droit à l’intégrité corporelle des enfant•e•s conduit à
  l’interdiction de la circoncision des garçons – c’est-à-dire d’abord à la
  reconnaissance de la prévalence des principes modernes de la civilisation
  libérale et démocratique sur les dogmes antiques. si l’excision du prépuce
  n’était le fait que de quelques ethnies du tiers-monde, on n’hésiterait guère
  à la dénoncer, mais elle est aussi une tradition des musulman•e•s, des
  juif•ve•s et d’une partie des protestant•e•s anglo-saxon•ne•s. la crainte
  d’être taxé•e d’antisémitisme, la peur de l’islamisme et l’appréhension
  qu’inspire la plus grande puissance économique et militaire de l’heure,
  contribuent à faire régner la loi du silence et accepter cette violence
  commise sur des enfant•e•s. d’ailleurs rien ne devrait empêcher de pratiquer
  la circoncision à la majorité, c'est-à-dire au moment de la libre disposition
  de son corps par le jeune 6 adulte ; ce que pratiquent déjà les adultes qui se
  convertissent ainsi que ceux qui, sans être juifs ou musulmans, le décident
  volontairement. </p>
  <h2>mon prépuce est mon prépuce</h2>
   <p>les nations les plus avancées ne
  pourront contribuer à faire reculer l’ablation du clitoris et les autres
  mutilations antisexuelles des petites filles, si elles ne déclarent sans
  ambiguïté le droit à l’intégrité corporelle des enfant•e•s, sans
  discrimination de sexe, d’âge, de religion, de nationalité, de culture, de
  communauté, d’origyne (de or- oris orifice, et gynê femme), de couleur de peau
  ou de cheveux. si vidéologisées soient-elles, les destructions de petites
  portions de corps enfantins dégradent l’humaine chair en viande vivante,
  ravalent l’humanité en bétail que l’on marque. qu’elles endommagent ou non des
  organes génitaux, qu’elles soient perpétrées dans les pires ou les meilleures
  conditions d’hygiène, qu’elles soient aussi bénignes que l’affirment celles et
  ceux qui répètent sans réfléchir des idées reçues, ces découpes imposées
  constituent une ingérence irrémédiable dans la vie d’autrui contraire à
  l’épanouissement de la liberté individuelle ou de la sexualité, une tentative
  d’aliénation irréversible.</p>
  <h2>ma vulve-vagin est ma vulve-vagin ma verge est ma
  verge</h2>
  <p>l’interdiction absolue de porter atteinte à l’intégrité corporelle de
  toute fille et de tout garçon, n’est possible que dans une nation universelle
  dotée de la capacité et de la volonté de lutter contre sa propre arriération,
  de réduire la violence contre les enfant•e•s
  <span>– celle des violeurs comme celle  des exciseurs et des exciseuses –</span>
  et d’élever l’humanité. l’abolition des
  coutumes ancestrales qui dépossèdent chacune et chacun de soi-même, la
  renonciation aux pratiques qui écrasent l’individualité sexuelle et la
  liberté sous le laminoir de l’identité collective et de la communauté, sont
  aujourd’hui réalisables en france. le droit à l’intégrité corporelle de chaque
  personne, quels que soient son sexe et son âge, appelle en priorité l’adoption
  d’une loi qui interdise aux adultes d’effectuer toute déformation des os,
  toute détérioration des dents, toute scarification, tout tatouage, toute
  marque, toute brûlure, tout  perçage, toute incision de la peau et toute
  excision de la chair des filles et des garçons mineur•e•s. </p>
  <p>la révolution
  intersexuelle de la paresse propose à toutes les personnes, associations,
  institutions soucieuses du respect et des droits des enfant•e•s, de mener la
  campagne pour la préservation de l’intégrité corporelle des filles et des
  garçons. il s’agit de reconnaître aux filles et aux garçons le droit d’être
  traité•e•s, non comme des objets ou des animaux que l’on marque, mais comme
  des personnes à part entière, aussi intouchables que n’importe quel•le adulte,
  de sorte que les femmes qu’elles deviendront et les hommes qu’ils deviendront,
  auront la capacité de décider en conscience elles-mêmes et eux-mêmes de
  l’éploiement de leur corps. <b>cette campagne appelle l’adoption d’une loi qui
  retire aux adultes tout droit de disposer du corps des enfant•e•s, qui
  interdise, et punisse lourdement, toute déformation des os, toute
  scarification ou marque, toute excision, ablation, brûlure ou perçage de la
  peau et de la chair des filles et des garçons mineur•e•s</b>.
</p>
