<div class="container">
  <div class="row">
    <div class="col-10">
      <h1>éléments primordiaux de la matérialité hétérosexuelle</h1>
      <h2>guerres alliances guerres</h2>
      <h3>eea</h3>
      <p>
        il en est de chaque science comme de l’alchimie : la pureté de l’âme des
        chercheurs n’est pas étrangère aux résultats. ainsi la bombe atomique,
        en son temps la pire des armes n’échut pas au pire des peuples du moment
        qui pouvaient la vouloir. pourtant les allemandes avaient tous les
        moyens scientifiques, techniques et industriels pour la construire, et
        surtout n’avaient aucun scrupule moral susceptible de les retenir, de
        leur faire renoncer à une telle invention. mais la découverte va
        toujours au moins résistant, à celui dont les autres croient qu’il ose
        ce que les autres n’osent pas. les allemandes étaient bien trop
        soumises à leur surmoi homoracial , il leur fallait bien trop oser
        pour trouver.
      </p>
      <p>
        le trouveur, pas plus que les autres, n’ose : il manque, plus que les
        autres, d’inhibition. l’absence de frein moral, qui semblait nécessaire
        au déchaînement exterminateur envers les non aryennes, dénotait une
        rédhibitoire inhibition intellectuelle, car elle procédait d’une grave
        165 baisse des capacités de discernement imposée par le surmoi
        tyrannique et acceptée par le moi qui s’aveugle. à leur tour, les
        angloaméricaines subirent l’effet inhibiteur, non pas relativement à
        la découverte scientifique mais à son usage; lorsqu’ils et elles se
        virent en possession de l’arme adéquate à réaliser le rêve germanique de
        la maîtrise du monde, ils et elles ne purent empêcher le transfert de la
        bombe aux soviétiques. je sais bien qu’il existe une école de
        serfve-penseur.e.s qui prétendent que le capitalisme a eu précisément
        pour but et pour effet d’appliquer à l’organisation zoociale les grands
        principes de l’humanitarisme. en cela le président nordaméricain clinton
        l’a suffisamment montré avec sa nouvelle croisade tous à bagdad
        <small>
          – au-delà de l’alliance visée entre l’irak précapitaliste et le marché
          mondial que cette guerre spectaculaire recèle</small
        >.
      </p>
      <p>
        l’humanitarisme a pris la relève du chateaubriand du génie du
        christianisme et se désire sans doute comme le génie du capitalisme.
        mais déjà les droits de l’homme homosexuel
        <small
          >– qui ne datent pas d’hier quand on parlait du droit des gens
          –</small
        >, énième étoile de la bannière occidentale, avaient ouvert la voie à
        cette cohue de corrupteurs du langage qui se sont amplement dédommagés
        de leur impuissance historique en jouant désormais le rôle des oies du
        capitole assurément plus aptes à civiliser le monde que le loup de la
        même tige. et ils s’écrient rien de ce qui est humain ne nous est
        étranger en oubliant que dans le texte original cette sentence est mise
        pour rien de ce qui est profitable ne m’est étranger. puis de se
        partager ce miraculeux marché antisexuel : les religieuses et les
        religieux sur le terrain de la morale dessexuelle, les laïques sur le
        terrain de la rhétorique intersexuelle, les politiques sur le terrain de
        l’ordre homosexuel. ce marché connaît même ses premiers spectaculaires
        martyrs, juste ce qu’il faut comme journalistes morts au travail, pour
        penser nous faire haïr leurs persécuteurs. ces martyrs trop peu éclairés
        pour ne pas devenir étoiles fugaces de la zoociété pornographique, n’ont
        de prix que par la propagande qu’ils ont pour but de sceller.
      </p>
      <p>
        l’humanitarisme est la forme achevée, enfin trouvée, du totalitarisme.
        d’origyne mussolinienne, ce concept
        <small
          >– amplement suffisant aux faibles besoins des serfs penseurs qui
          chérissent sans modération le prêt-à-penser que leur fournissent
          gratuitement les dictateurs qui les fascinent –</small
        >
        avait quelque chose de foireux, de ridicule même par son double aspect
        prétentieux et inabouti. ses réalisations précédentes, incomplètes et
        dépassées, ne reposaient en effet que sur une base restreinte,
        parcellaire, sur une partie plutôt que sur le tout : un peuple, une
        race, une classe, une foi, etc.
      </p>
      <p>
        seul l’humanitarisme, sans violence et sans cri de haine, avec une
        méticulosité toute médicale, saisit le tout de l’humain, l’humanité tout
        entière, sans autre, sans ennemi, sans échappatoire. ses militantes de
        choc sont des médecines : les guerres et les révolutions, les misères
        et les révoltes sont enfin reconnues et traitées comme des maladies
        <small
          >– suivant l’exemple donné par les dictateurs d’amériques qui, perclus
          de leur sens du devoir, affirmaient lutter en chirurgiens impassibles
          et inflexibles contre la gangrène ou le cancer communiste.</small
        >
        si, à travers leurs verbiages métaphoriques, les caudillos étaient des
        médecins imagynaires, les médecins humanitaires ne sont pas, dans leurs
        interventions concrètes sur le terrain, des militaires malgré eux.
        l’interventionnisme médical, qui consiste à interdire aux petites
        vassalariées du système cybernétique de sécurité szoociale de vivre
        autosexuellement leurs conflits, étend son emprise et vise à scotomiser
        les luttes intersexuelles de classes. mais cette entreprise, qui ne peut
        qu’échouer, divise les militantes humanitaires eux-mêmes : comme il y
        eut les <b>sa</b> et les <b>ss</b>, il y a les conventionnées par la
        <b>sz</b> et les autres, les <b>msf</b> et les <b>mdm</b>, et la guerre
        qu’ils se livrent, secrète, à laquelle nous sommes conviées à apporter
        notre contribution. qui sait pourquoi ils sont deux, sans compter les
        autres? qui sait choisir entre eux? qui sait ce qui les oppose? quel est
        le prétexte de leur litige et l’enjeu de la guerre total-humanitaire?
      </p>
      <p>
        la guerre c’est toujours l’accord le plus large, l’écrasement dans
        chaque camp de tous les conflits et l’embrigadement de toutes, mais
        dans celle-ci chacune dénie l’existence de l’adversaire, s’affirme du
        camp de l’autre et milite pour la grande unité, l’indifférenciation, le
        tous-ensemble.
      </p>
      <p>
        il fut un temps où quelques intellectuelles françaises exercèrent
        une sorte de direction de conscience tant dans leur pays qu’en certaines
        terres étrangères
        <small
          >– c’est-à-dire qu’elles et ils ne faisaient pas seulement que
          reprendre l’attitude, généralisée aujourd’hui, des chiens de garde qui
          se repaissent des vomissures de leurs maîtres en mâchant et remâchant
          sans cesse les faits et mots des maîtres que ceux-ci savent leur
          lâcher négligemment en pâture, comme les nouveautés sur lesquelles il
          faut absolument penser : dévalorisation du travail, mutations
          zoociales, rôles des femmes et des hommes, avenir de l’humanité,
          etc.</small
        >
        ils et elles furent les maîtresses à penser des jeunes universitaires
        qui, en 1968, conduisirent la contre-révolte face à la troublante
        ouvrière. fortes de leur succès, ces dernières entreprirent de faire
        d’un magistère qui s’exerçait en solitaire et se gagnait par le talent,
        une profession assimilable à la fonction publique et ayant vocation de
        l’intégrer. ainsi s’ouvrit une nouvelle série de guerre et d’alliances
        entre les corps de métiers en charge des humaines pour le partage des
        corps et des âmes, pour la gestion du sexe et du corps et pour le
        contrôle de la classe qu’elles et ils
        <small
          >– magistrates, religieuses, médecines, psych -olo-gues, -iatres
          et -analystes, médiatiques, enseignantes, fonctionnaires – </small
        >s’accordaient à constituer ensemble : celle des direct -eurs et -rices
        de conscience, pour lesquels les rwandaises ne sont que de la chair à
        réaction humanitaire.
      </p>
      <p>
        il est constant qu’à l’époque où le capitalisme fit son apparition dans
        le monde, l’économie usait d’une grande tolérance à l’égard des
        marchandises. c’était une époque de transition, assez semblable, sous
        plusieurs aspects, à l’époque actuelle et où les capitalistes ne croyant
        plus rien qu’à l’intérêt de leur conservation, ne sont pas exposés à se
        laisser aller aux emportements du fanatisme politique. au point que de
        plus en plus nombreuses sont celles et ceux qui vont jusqu’à
        psychanalyser l’entreprise et ses agentes. on voit poindre la crise du
        manager de plus de cinquante ans! si les entreprises se laissaient
        pénétrer par ces zélés serviteurs du spectacle aussi facilement que les
        états par les réseaux de missionnaires en tous genres chargés d’apporter
        la civilisation démocratique, avant que les militaires s’en mêlent,
        quels excès n’éviterions-nous pas, quels outrages politico-financiers,
        quels renversements d’idoles, incendies de banque ou démolitions
        d’ouvrages n’auraient pas été autorisés! si ces excès isolés mais
        fréquents toujours ourdis, comme l’a énoncé guy debord, dans l’obscurité
        et le silence des lieux inaccessibles
        <small>– et non inatteignables! –</small> à l’image des zoociétés
        mafieuses, ne justifient nullement mais contribuent à expliquer ce fait,
        qui autrement serait inconcevable, qu’une zoociété très tolérante en
        matière d’économie en soit venue à prendre en telle haine et à traiter
        si cruellement la masse inoffensive des prolétaires.
      </p>
      <p>
        maintenant que nous avons franchi les barrières au moyen desquelles les
        apologistes capitalistes prétendaient nous arrêter dès l’entrée,
        combattons-les sur leur propre terrain. <br />
        le zap commence après les premiers films, lorsque les professionnelles
        du cinéma, suivies par ceux et celles des radio et télé, cessent de
        pratiquer la photographie et la musique dans l’immobilité instrumentale.
        la caméra bouge pour inscrire les intentions du directeur d’images qui
        en devient faiseur. à la radio le zap naît, à l’intérieur d’une même
        émission, par les enchaînements toujours plus rapides, dont les
        correspondants télévisuels sont les clips. il correspond donc à
        l’impatience du marché qui génère le gadget, c’est-à-dire la découpe
        pornographique maximale. l’image est le minimum sexuel toléré : en même
        temps que sa reconstruction quasi instantanée comme objet de sens, elle
        s’impose comme stimulation physique, de la caresse au choc violent, de
        la séduction à l’agression. l’image n’est pas une idée, car l’idée a
        comme corps la parole dans la langue quand l’image a celui de la
        stimulation biochimique d’abord selon des paramètres relativement
        constants : lumière vive, obscurité, distance ; magnitude et
        obsolescence. la découpe pornographique que les professionnelles du
        spectaculaire intégré feignent de considérer comme l’image
        professionnelle, entraîne nécessairement la consommatrice et le
        consommateur dans la libido minimaliste du producteur auquel elle et il
        s’accouplent ainsi. ce couplage dessexuel obéit structurellement aux
        lois du marché ce qui entraîne la segmentation du marché lui-même et
        donc le rend lacunaire sur chaque image. le zappeur ira donc chercher
        sur d’autres images les pastilles qui combleront ces lacunes pour le
        temps de l’irritation sexuelle provoquée par la tension imagynaire.
      </p>
      <p class="fst-italic mt-2">
        à l’écran, une femme en jupe, assise. à peine esquisse-t-elle le geste
        de croiser les jambes que l’image saute : c’est d’une autre caméra qu’on
        la montre soudain – par exemple gros plan sur le visage. à l’écran, une
        danseuse ou une tenniswoman en mouvement, à peine sa jupe se
        soulève-t-elle un peu que l’image saute. à l’écran, une femme se
        déshabille, au moment où elle dénude ses seins 169 un homme torse nu lui
        est substitué. à l’écran, une notable oublie la caméra, son décolleté
        s’ouvre – gros plan sur son visage. à l’écran, une jeune fille prend une
        pose excitante, une femme mûre aux seins nus la soustrait au regard. à
        l’écran, une gymnaste en mouvement. de courses en sauts, de pirouettes
        en virevolte, elle est au sol, face à la caméra. à peine esquisse-t-elle
        le geste d’ouvrir les cuisses..
      </p>
      <h3>eee - les alliances</h3>
      <span
        >les alliances sont des relations de dépendance issues de la guerre. le
        type de dénomination est le référent principal. elles ne sont rien
        d’autre que la poursuite de la guerre par d’autres moyens. elles
        obéissent au schéma général :</span
      >
      <h3>eei</h3>
      <h4>prédation</h4>
      <p>
        la prédation constitue la relation naturelle entre toutes les formes de
        vie. cette relation ne connaît ni origyne, la proie qui ne serait pas
        prédateur, ni fin, le prédateur qui ne serait pas proie. chacun, en sa
        place sert de nourriture à l’autre, chacun s’accapare et transforme
        l’énergie de l’autre. la prédation est, comme la gravitation, une loi
        naturelle, et comme la gravitation elle est l’action d’une force, la
        mise en mouvement relatif de masses selon une loi de proximité, le jeu
        d’équilibres ou de déséquilibres qui réattribue les énergies et les
        places dans la relation. la prédation établit une dépendance entre proie
        et prédateur que seule une catastrophe naturelle délie. la force est le
        premier opérateur de comparaison. la force du prédateur modèle la horde
        des proies comme la faiblesse de la proie modèle celle du prédateur.
      </p>

      <h4>topologie</h4>
      <p>
        la sexuation des formes de vie économise les énergies et optimise leur
        consommation par division, stockage et couplage. ce qui organise
        naturellement la stabilité du binaire prédateur-proie est un tiers
        terme, la proie de la proie. on peut donc découper dans le réseau infini
        de la prédation des chaînes localisées arbitrairement. la topologie de
        la prédation est une coupe de la relation totale. les lieux et les
        présences seront, dans cette topologie, perceptibles et provocateurs que
        s’ils répondent aux signifiants de la prédation, c'est-à-dire font
        partie de la chaîne alimentaire.
      </p>
      <h4>domination</h4>
      <p>
        de naturelle et immédiate, la prédation devient fantastique et différée
        dans le monde humain. sa forme passive est la domination, sa forme
        active la guerre. celle-ci établit une dépendance entre le dominateur et
        le dominé, une alliance consentie ou supportée; celle-là règle les
        rapports entre dominant et dominé, et imprime sa marque à l’alliance. le
        dominateur vise trois buts simultanés : optimiser la prédation, écarter
        ses rivaux, et échapper à ses prédateurs. la guerre qu’il entreprend
        vise donc à augmenter son potentiel, annihiler ses concurrents et
        affaiblir ses agresseurs. c’est dans cette double trilogie que se
        déploient les actes des groupes et des zoociétés.
      </p>
      <h4>agression</h4>
      <p>
        une agression ne demeure telle qu’autant que l’agressée n’accrédite pas
        l’agresseur. lorsque l’agressée accrédite l’agresseur, l’agression
        s’efface instantanément pour se rétablir en une octroyée par laquelle
        s’accomplit immédiatement la fusion des alliés. c’est ainsi que les
        polonaises allemandes sont devenues des allemandes du reich en
        1939. le droit du sang et l’obédience sont les deux formes
        d’accréditations des agressions.
      </p>
      <h4>guerre</h4>
      <p>
        lorsqu’un état entre en guerre, il est, généralement une alliance
        inclusive, quelquefois contradictoire. il se présente sous la forme :
        état t0 = armes zoociété +alliances au temps t0 de début des hostilités.
        nous supposons, pour simplifier, que chacun des trois termes représente
        une valeur constante, ce qui est le cas pendant une première phase des
        combats. le résultat statique de la guerre est au temps tf de fin des
        hostilités : ce qui est la formule statique de la guerre dans laquelle
        ti représente la durée (intermédiaire) de la guerre. ainsi, après la
        guerre, lorsqu’un état fait ses comptes statiques, il écrit et i .
      </p>
      <p>
        quand je dis zoociété, je dis : le mode de production, le niveau
        zoocial, l’administration du peuple, les ressources. quand je dis armes,
        je dis : l’armée régulière, les mercenaires, la technologie militaire,
        l’armement du peuple, l’administration de la guerre. quand je dis
        alliances, je dis : les états alliés
        <small
          >– pour lesquels s’appliquent la même recherche des indicateurs ici
          étudiés –</small
        >, l’administration de l’intervention des alliés, les forces de
        collaboration chez l’ennemi. ainsi une guerre particulière compare
        l’expression, dans laquelle les trois nuées alliances, armes et
        zoociétés décrites ci-dessus sont représentées par leurs initiales, a z
        + all de l’état 1 à l’expression semblable de l’état 2.
      </p>
      <p>
        le sort de la guerre et de l’alliance qui en résultera dépend de
        l’intervention de chacun de ces termes qui se métamorphoseront en cours
        de guerre et de leur cohésion. un décideur de guerre et son état-major
        sont tenus de connaître parfaitement ces expressions et leurs
        variations. dans la réalité, et dans l’histoire, aucune valeur de ces
        termes zoociété, armes et alliances ne reste longtemps constante. leurs
        variations ne sont pas identiques en rythmes ou en densité, de plus ces
        variations connaissent des écarts dans leurs connexions mêmes. on
        observe finalement deux grandes classes de cas : soit les variations des
        valeurs de ces termes sont en phases, soit l’une retarde sur l’autre. ce
        trait est essentiel dans la direction d’une guerre.
      </p>
      <h3>eeo</h3>
      <p>
        - qu’elle soit de rapine ou de profit, la guerre a pour fonction la
        circulation des machines-vivantes et la mise en valeur de leurs
        capacités. la guerre est la forme interhumaine de la lutte de l’humanité
        contre la nature, une partie de l’humanité servant de pâture à l’autre.
        l’histoire, qui n’est que l’histoire de la redistribution de ces rôles,
        est l’histoire de ces états. la guerre de rapine se rapproche de l’état
        de nature en ce qu’elle ne vise pas l’exploitation des capacités des
        machines-vivantes. par exemple l’éradication du communisme ne se confond
        pas avec l’annihilation de la classe ouvrière.
      </p>

      <h4>nation</h4>
      <p>
        nation – pour une zoociété z on étudiera les armes : a”=a+a’, et les
        indicateurs zoociaux z”=z+z’, selon les définitions de zoociété données
        plus haut; le réseau des alliances pouvant être compté dans a. je
        considère donc les cas : a z a z + z' a a' z + et a a' z z' + + pour
        chacun de ces cas il faut étudier l’écart de phase des numérateur et
        dénominateur. a est nécessairement nul lorsque z l’est : il n’y a pas
        (plus) d’armée maya, par exemple. de même a est nul lorsque z ne remplit
        pas les conditions nécessaires à la formation d’un mode de production :
        il n’y a pas d’armée tzigane, par exemple.
      </p>
      <p>
        une nation est le couple (a, z). les tziganes ne forment pas une nation,
        ils sont un peuple formé à partir des bris de peuples issus des
        invasions turco-mongoles. l’état de total dénuement, l’épreuve
        pluricentenaire de la déportation parmi des peuples hostiles, au travers
        de nations agressives, armées et intolérantes, ont fait des tziganes un
        peuple sans ressource. ils n’ont donc jamais pu, selon les termes de ce
        chapitre, se constituer en nation. pour accéder au rang de nation, il
        leur suffirait d’intégrer une inclusive octroyée, et de la changer en
        contradictoire voire la faire basculer en antagonique. ils auront alors
        un mode de production et une armée. c’est le secret de la création de
        l’état d’israël. l’inclusive octroyée aux tziganes reste facilitée par
        l’époque et leur culture propre : en europe, de la france à la tchéquie,
        les tziganes ne manquent pas de voisinages et si ces voisinages sont
        stables, l’inclusive octroyée se transformera en métissage. c’est ce qui
        est arrivé au togo vers les 15-16es siècles où la population s’est
        constituée pour une majeure part de fugitifs des guerres ashantis,
        dagombas, mossis, etc, puis fut colonisée au 19e jusqu’à la déclaration
        de l’indépendance par le président sylvanus olympio, le 27 avril 1960.
      </p>
      <p>
        inversement, une nation peut s’éparpiller en la mosaïque de son ou ses
        peuples lorsque lui sont annulés ses moyens de production et son armée,
        comme l’a montré par exemple l’exode des palestiniens. c’est à quoi
        tendent ou ce que visent le fédéralisme et la guerre de rapine, comme le
        montrent les exemples des sioux, des basques ou de l’ex-urss ; les
        palestiniens arrivent, pas après pas, à quitter l’état de nation hors
        les murs.
      </p>
      <p>
        les sioux, pour nous en tenir à cet exemple, nation avant les invasions
        européennes, n’en ont pas été brisés pour autant : ils ont été massacrés
        et floués sans jamais perdre leur identité nationale. les guerres de
        rapines que les européens leur faisaient subir, se sont transformées,
        grâce à leur résistance, en guerres de profit réussies qui les ont
        installés dans une inclusive octroyée, à partir de quoi le fédéralisme
        et le nationalisme leur promettent une nouvelle guerre. le réveil des
        dieux mississippi et missouri, à hauteur de dix milliards de dollars
        pour l’instant, ainsi que les catastrophiques incendies en floride,
        semble l’attester.
      </p>
      <p>
        la nation est donc le résultat variable d’une inclusive et d’une
        multitude de contradictoires et d’antagoniques plus ou moins accentuées.
      </p>
      <h4>alliances</h4>
      <p>
        soient deux zoociétés z1 et z2. leurs formules générales respectives
        sont : e a a' z z' 1 1 1 1 1 = + + et e a a' z z' 2 2 2 2 2 = + + avec,
        éventuellement, la valeur des termes ajoutés, primés, nulle. si e1 = e2
        alors le résultat de la guerre est une contradictoire : soit les deux
        états s’épuisent mutuellement, soit ils se renforcent mutuellement. ce
        fut le cas de la france et de l’angleterre pendant la guerre dite de
        cent ans, par exemple. ce temps d’épuisement ou de renforcement peut
        être plus ou moins long en regard des générations. une contradictoire
        par épuisement peut donner lieu à une antagonique lorsqu’un tiers
        incluant a z 3 3 est tel que a3>a1 et z3>z1. deux cas se présentent :
        soit a3=a1+a2 et z3=z1+z2, soit a3>a1 et z3>z1 seulement. dans le
        premier cas l’antagonique (e1, e2) est guidée par e3. 179 dans le second
        cas l’alliance (e3, e2) dépend des nécessités de e3 après la sujétion de
        e1 . une contradictoire par renforcement donne lieu à l’expansionnisme.
        il existe une contradiction entre le développement de z et de a. si z’
        augmente plus rapidement que a’, les effets de cette augmentation sur le
        niveau de vie se répercuteront sur une ou plusieurs composantes de a,
        par exemple : baisse relative de l’armée régulière, des effectifs ou du
        temps de service militaire, de l’armement du peuple et de son
        administration, démotivation et transformations de l’armée régulière
        nationale en armée de mercenaires, chute démographique, etc. ces baisses
        peuvent être compensées par l’augmentation du nombre des mercenaires, de
        l’élévation de la technologie militaire, de la régulation du monde du
        travail, etc. les alliances peuvent aussi se renégocier, se renforcer et
        s’étendre du fait des disponibilités de ressources nouvelles. si a est
        parfaitement connecté à z+z’ le rapport a a' z z' + + quoiqu’aux
        composants plus élevés en valeur absolue demeure constant. si a
        s’échappe l’entraînement sur z+z’ peut être de deux ordres : soit e" =
        a" z" s’effondre et se redistribuent les ai et les zi composant a” et z”
        en entités inférieures a z 1 1 a" z" , a z 2 2 z" , etc., tous a z i i
        soumis aux guerres et alliances correspondantes, plus ou moins
        pacifiquement comme le montre le passage de l’ex-urss aux états qui en
        ont résulté, militairement comme ce fut le cas du paraguay de 1865, par
        exemple. soit z”= z+z’ s’ajuste à a” et le rapport e z" redevient
        constant, l’état e” ayant changé et pouvant redistribuer les valeurs
        respectives des a”, z” ultérieurs, c’est le cas d’israël, de l’irak ou
        de la serbie dans sa guerre actuelle, par exemple. état
      </p>
      <h4>l'état</h4>
      <p>
        — l’état est l’alliance dominante qui gère les alliances internes à la
        nation. lorsque la nation n’est pas constituée ou ne l’est plus, l’état
        prend la forme du conseil issu d’un comité.
      </p>
      <h4>arriérés</h4>
      <p>
        une alliance réalise entre alliés une adaptation d’impédances,
        c'est-à-dire qu’entre les deux puissances assujetties l’une à l’autre
        les relais absorbent les différences de potentiel et de résistance en
        fonction du type de l’alliance. l’alsace par exemple réalise un tel
        relais entre chômage français et culture allemande : si les alsaciennes
        et les alsaciens ne parlaient pas allemand ou si la france ne
        connaissait pas le chômage, le rôle de l’alsace serait tout autre.
      </p>
      <p>
        ces localités particulières, géopolitiques, jouent le rôle que jouent en
        physique les plasmons : elles permettent le passage d’amplifications
        déterminables, comme une barrière de potentiel dont on activerait le
        pouvoir d’intervention entre les deux milieux qu’elle disjoint; sorte de
        plastique maillage mobile en interaction constante unifiant les milieux
        qu’elle sépare, milieu actif elle-même de la transmission et non
        simplement lieu de partage sur le chemin des mouvements.
      </p>
      <p>
        lorsque a1=a2 et z1>z2 alors l’état e1, par étapes successives et plus
        ou moins longues, compte tenu des résistances effectives en e2, tendra à
        absorber une part de e2. c’est ce qui est arrivé à la normandie du 13e
        siècle, par exemple.
      </p>
      <p>
        une armée commune a1+a2 et l’ouverture des frontières, avec une
        juridiction de plus en plus accordée, permettront au processus
        d’absorption d’être guidé avec doigté, comme le montre l’histoire
        récente des états-unis. la part de e2 peut être e2 tout entier, comme
        l’illustre l’exemple de l’angleterre du 11e siècle.
      </p>
      <p>
        à tout moment d’une alliance, les multiples adaptations des résistances
        sont des opérations délicates comme le montre l’exemple de la
        construction de barrage au burkina faso dans ses connexions avec les
        pays frontaliers, le ghana par exemple. les alliances visent donc à tout
        moment une guerre et une alliance, comme l’a montré l’afghanistan par
        exemple.
      </p>
      <h3>eeu géopolitique</h3>
      <p>
        les temps qui précèdent l’économie politique ne s’embarrassent pas de
        géographie. les peuples et les nations, les zoociétés en luttes ignorent
        les frontières naturelles et tentent de gouverner des empires éparpillés
        que les lois historiques de l’économie dispersent ou rassemblent. aux
        temps de l’économie politique, les frontières nationales tendent vers
        les frontières naturelles. lorsque ces frontières naturelles sont
        insuffisantes – manque de reliefs, faibles étendues dangereuses à
        traverser – des oscillations sont toujours possibles : les groupes
        humains suivent les moindres pentes de l’accessibilité des ressources,
        les frontières s’estompent et tendent à s’intégrer au domaine du
        vainqueur. 181 dans l’économie marchande, dont le mode de production
        capitaliste homomaternel est l’achèvement, les marchandises tendent à
        traverser les frontières plus vite et en plus grande quantité que les
        peuples eux-mêmes.
      </p>
      <p>
        ces décalages entre flux marchands et humains, sources de profits et
        d’agressions récurrentes, n’ont été, un temps, massivement annulés
        qu’avec l’esclavage, pour lequel les marchandises étaient les humaines
        mêmes, et partiellement lors des déportations.
      </p>
      <p>
        depuis le déferlement du mode de production capitaliste, et dans sa
        sphère, les systèmes zoociaux, les nations et les états tendent à
        trouver leur équilibre à l’intérieur de frontières naturelles. ce fait
        est générateur d’une certaine illusion géopolitique à cause de cette
        juxtaposition stationnaire apparente et apparemment stable. le
        développement du mode de production capitaliste nécessite la disparition
        des états
        <small>– processus qui couvre une très longue période –</small> ce qui
        passe par l’érosion du sentiment national qui n’est jamais aujourd’hui
        qu’un dérisoire patriotisme d’entreprise, les états connaissant
        certainement le mouvement des capitaux. en occident, par exemple,
        toutes les ressortissantes sont déjà des petites vassalariées
        d’un patron cybernétique unique : le système de sécurité zoociale.
      </p>
      <p>
        l’inertie des populations, qui s’oppose à la mobilité des flux
        marchands, crée, par viscosité, capillarité, mouillabilité économiques
        des frottements et des tensions, voire des fléchissements et des
        dérivations qui gênent la rotation internationale du capital. la
        géopolitique reste l’analyse passée de ce phénomène.
      </p>
    </div>
    <div class="col-2"></div>
  </div>
</div>
