<div class="container p-2 mt-2">
  <h1 class="text-center">la vie sexuelle immortelle</h1>
  <span class="fs-4"
    >de n’importe quel point de vue hétérosexuel, il n’y a rien de plus
    intéressant que la sexualité
    <small
      >– car l’importance que tu donnes à la sexualité est proportionnelle à la
      portance du plaisir sexuel que tu peux subir et que tu éprouves.</small
    ></span
  >

  <p>
    dans notre ère biologique, la reproduction sexuée et la mort des identifiées
    vont de pair; chaque mort est la victoire actuelle de l’espèce
    homomaternelle sur l’autosexualité de l’identifiée et la victoire virtuelle
    de l’espèce duale sur l’hétérosexualité de l’individue. celle-ci impose à
    l’espèce des délais de plus en plus longs. le réalisme suicidaire, le
    respect de la tradition, commande d’accepter cette défaite programmée, et
    même de préférer le sexe au prix de la mort plutôt que l’immortalité sans le
    sexe.
    <br />renoncer ainsi à la vie sexuelle immortelle, c’est accréditer en
    permanence, dans la vie quotidienne, la répression antisexuelle dont la mort
    est le garant, la figure ultime et invincible
    <small
      >– le commandeur maternomâle qui saisit don giovanni et
      l’engloutit.</small
    >
    <br />la répression antisexuelle, par laquelle s’effectue la reconnaissance
    de l’état dessexué de la matière, la réduction à l’unique état d’un noeud
    statique est le chemin qui mène à la mort. ne sont mortels, ne sont proies
    de la pulsion antisexuelle que les noeuds statiques. <br />le fade plaisir
    qu’ils connaissent, régi par le seul principe de réduction des tensions, est
    l’effet de la série des métamorphoses diminutives qui, du réductible au
    réduit, font passage de l’auto- à l’intersexualité. mais ils ne quittent
    celle-là que pour se retrouver en leur état de mortelle sidération
    homosexuelle. c’est dire qu’au moment d’accéder à l’intersexualité ils
    renoncent à l’autosexualité pour s’homomifier : les nœuds statiques ont en
    effet comme les ronds non noués à zéro croisement, un seul état réduit.
    <br />
    le principe de fade plaisir et la pulsion antisexuelle de mort, terme de la
    doctrine freudienne, régulent la sexualité comme l’apoptose la vie. celle-ci
    l’emporte déjà sur celle-là.
  </p>
</div>
