<h1 class=" fs-2 text-center border1">zoociétés<span class="badge bg-secondary mx-3 my-3">malheurs de
  l'histoire</span>
</h1>
<div class="row">

<div class="col-sm-9">
  <p>en économie, l’idéal capitaliste est de réduire la travailleuse à sa simple force de travail, seule part
      mercantile
      <small class="text-muted">– mais toute la part! –</small> nécessaire à ce mode de production, c’est-à-dire
      réduire la travailleuse
      à sa structure de machine-vivante. du point de vue de la structure résiduelle concernée, cela revient à
      réduire la travailleuse au résidu marchandise du schéma <b>p-v/t/a-r</b> de économie.
      <br>en tant que forme résiduelle
      produit, la travailleuse ainsi réduite correspond à un défaut
      <small class="text-muted">– perte de rentabilité provisoire –</small> dynamique
      <small class="text-muted">– par définition –</small>
      connaissant un développement historique réutilisable par le système comme amplification *
      <small class="text-muted">– seule marchandise produisant plus que son coût</small>.
      pour montrer le procès historique, barbarie-civilisation,
      on utilise le schéma résiduel ci-contre :
  </p>
  <p>en tant que forme résiduelle dépôt, la <span class="physique">zoociété</span> correspond à un excès, en excédent sur la stricte
      organisation du travail
      <small class="text-muted">– ce qu’on appelle droit de vie ou de mort sur la machine vivante que le nazisme a
          tenté de réaliser globalement n’est qu’une modalité de la volonté de destruction de la <span class="physique">zoociété</span> comme
          excédent, ou confort superflu, réduction trivialisante à la stricte utilisation, du genre fourmilière,
          des
          machines-vivantes.</small>
      <br>une autre version de l’abolition de la <span class="physique">zoociété</span> des travailleuses et des travailleurs est
      l’apartheid, ou développement séparé, qui nie, refoule, le caractère non-machine et n’accepte comme autre
      choix que l’animalité, machine ou animal en est le credo commun
      <small class="text-muted">– provisoire pétrifié, ses transformations
          correspondent à celles des moyens de productions, réutilisable par le système comme alimentation, vivier
          de
          la force de travail utilisable</small>.
      <br>c’est par son mouvement que le capital, à partir du marché du travail,
      produit comme résidu, actualisé d’abord dans la division sexuelle du travail, la sexualité des
      machines-vivantes. cette sexualité a pour forme résiduelle la réserve, défaut
      <small class="text-muted">– inégalité des forces de travail –</small> provisoire pétrifié
      <small class="text-muted">– fixation des tâches –</small> réutilisable par le système comme alimentation
      <small class="text-muted">– reproduction de la matière à force de travail possible –</small>, selon le
      schéma résiduel :
  </p>
  <p>la sexualité donne sa viscosité particulière à la <span class="physique">zoociété</span> qui, tours après tours
      <small class="text-muted">– tours qui loupent et tours qui nouent –</small>,
      dans les schémas résiduels, et par les heurts et brassages permanents entre sens naturel
      et contresens des schémas, métamorphosables et mutables à merci, se développe en symbiose avec ses propres
      productions jusqu’à devenir méconnaissable tant les déjections de travail mort l’ont ensevelie, remodelée
      pour la pâtifier finalement en <span class="physique">zoociété</span> du spectacle.
      <br>la sexualité, en tant que résidu obéit à la loi universelle selon laquelle une forme tend à s’opposer au
      mouvement qui la génère et dote ainsi la <span class="physique">zoociété</span> d’une inertie qui tend à l’opposer, et ce d’autant plus
      massivement que le mouvement s’accélère, à la transformation du marché du travail par le mouvement du
      capital.
      <br>mais il arrive à la <span class="physique">zoociété</span>, relativement à la sexualité, ce qui est arrivé au mode
      de production relativement à la <span class="physique">zoociété</span> : la sexualité tend à s’opposer aux transformations zoociales
      selon le schéma résiduel :
  </p>
  <h2>histoire de la famille</h2>
  <p>l’ est contenue dans ce schéma, plus précisément articulée à la forme résiduelle,
      l’excroissance, que prend la liberté sexuelle : excès du système, elle est dynamique car elle possède son
      histoire spécifique, réutilisable par le système comme amplification. elle est l’équivalent par excès de son
      défaut, le produit. elle est donc l’antithèse du travail : plus la travailleuse est absorbée, comme
      machine-vivante, c’est-à-dire comme capital, par le capital, moins il y a de liberté sexuel-le;
      l’accumulation de travail mort s’oppose à l’éploiement de la liberté sexuelle. réciproquement, plus se
      développe la liberté sexuelle, ses indénombrables pratiques, en opposition à la <span class="physique">zoociété</span>, moins la
      travailleuse travaille. la structure nouvelle du chômage français, par exemple, est strictement
      contemporaine des légalisations de l’avortement, de l’homosexualité, du minitel rose et de la télévision
      pornérotique <small class="text-muted">de porno et érotique</small>. seule la publicité, philosophie contemporaine de no-tre
      <span class="physique">zoociété</span>-entreprise, colle encore à l’ancienne <span class="physique">zoociété</span>, comme la religion après l’avènement de la science
      dans le monde capitaliste et celle de l’inconscient après la <span class="physique">zoociété</span> du spectacle. inconscient, publicité
      et religion sont les trois ronds d’un noeud borroméen qui présente toujours un désir comme refoulé, leur
      rêve commun le présentant com-me réalisé. la <span class="physique">zoociété</span> connaît donc une double contradiction : à la fois elle
      s’oppose au mode de production auquel elle résiste
      <small class="text-muted">– les institutions sont les sédiments de ces résistances –</small>,
      à la fois elle s’oppose à la liberté sexuelle qu’elle contient
      <small class="text-muted">– les parentés en sont les vestiges</small>.
      <br>institutions et parentés sont asynchrones. ce fait engendre guerres et alliances entre ces formations,
      comme
      les théories successives des impôts le montrent. les institutions normalisent les interdits et les
      obligations qui nouent mode de production et <span class="physique">zoociété</span>,
      les parentés normalisent les interdits et les obligations qui nouent <span class="physique">zoociété</span> et liberté sexuelle.
      <br>il appartiendra au capitalisme de nouer clairement mode de production et liberté sexuelle par
      l’achèvement du droit de la
      propriété privée qui normalisera l’interdit fait à la travailleuse et aux femmes d’être libres,
      même contractuellement, dans l’entreprise et l’obligation de se déposséder de leur sexualité.
      ce qui implique la synergie de trois états : l’état du capital, possesseur des forces
      <small class="text-muted">– le père –</small>, l’état du dépôt, la <span class="physique">zoociété</span>
      <small class="text-muted">– le fils –</small>, l’état de la conjonction des deux précédents,
      l’administration
      <small class="text-muted">– le syntesprit</small>. le syntesprit
      aura pour tâche de gérer la convolution sens naturel/shunt, c’est-à-dire l’entropie du système. l’entropie
      est minimisée lorsque le système, considéré comme quasi isolé, est complexifié par l’apparition et la
      multiplication en son sein des familles, <span class="physique">zoociété</span>s fractales, limites et champs de la liberté sexuelle,
      comme l’entreprise l’est de la liberté civile et la nation de la liberté zoociale, alvéoles des rayons que
      construisent les abeilles, et qui furent, cellules et rayons l’idéal d’organisation des communistes.
      le rôle des mères et des filles est directement lié, quoique plus ou moins bien camouflé, à l’accès aux
      ressources.
      <br>dans les périodes qui précèdent les <span class="physique">zoociété</span>s de guerres et d’alliances, cette liaison s’opère
      avec la météorologie. lors de catastrophes écologiques, les mères et les filles voient leurs attributions
      zoociales muter : quand s’amplifie leur rôle de conservatrice familiale du potentiel sexuel s’abaisse leur
      rôle zoocial, et réciproquement.
      <br>les massacres régulent les dosages du nombre de femmes rapporté à
      l’effectif zoocial total. le père se scinde en une multitude de pères. le fils les réunit, le syntesprit
      gérera le tout. à ces trois termes homosexuels s’ajoutera la fonction octroyée à la mère d’être la
      tenancière de la liberté sexuelle. la simple logique de l’affirmation et de la négation appliquée aux trois
      termes conduit à la combinatoire octale présentant toutes les configurations selon l’importance que l’on
      donnera à un ou plusieurs ensembles ou à aucun de ces trois états.
      <br>l’histoire, qui est l’histoire de la
      lutte des classes et de la sexualité humaine contre l’inhumanité et la mort est l’histoire de l’apparition
      et de la différenciation progressive de ces états et de leurs structures relationnelles.
      depuis l’abandon de l’animalité jusqu’à nos jours, il a existé six types structurels fondamentaux de
      <span class="physique">zoociété</span>s :
  </p>
  <h3>les <span class="physique">zoociété</span>s antérieures</h3>
  <p>les <span class="physique">zoociété</span>s antérieures furent celles où se confondaient les trois états. ce sont les <span class="physique">zoociété</span>s de la mère
      et de la fille pour lesquelles la famille équivalait à la horde, la sexualité se pratiquant, comme
      l’alimentation, sans ordre, avec des accouplements restreints et cycliques. la possession, la force de
      travail et le besoin se correspondaient intégralement pour et en chacune.
      <br>totalement tributaires des forces
      de la nature auxquelles elles ne font que s’adapter écologiquement, et de l’inégalité des forces de travail
      <small class="text-muted">– compensées cependant par l’inégalité des besoins –</small>,
      ce sont des <span class="physique">zoociété</span>s hébétées
      <small class="text-muted">– d’où leur ressemblance apparente aux groupes animaux, que cette même
          ressemblance a fait appeler sociétés –</small>,
      ne se distinguant pas encore de la nourriture, sujettes aux pulsions immédiates, à l’identification
      homomaternelle
      puissante, notamment par l’odorat, c’est dire que la proximité s’oppose au mixage, à la quasi amnésie grâce
      à laquelle les expériences musculaires l’emportent sur le développement sexuel, c’est-à-dire zoocial.
      <br>ces <span class="physique">zoociété</span>s stationnaires, dans lesquelles chacune est greffée à la loi de la horde, plus ou moins
      condamnées par les forces naturelles, sont celles qui n’ont besoin que d’inventions à faible mobilité : le
      coup, l’accroche, le feu. une machine est un truc qui déplace une force de son lieu de naissance à son lieu
      d’utilisation : les humaines ne sont que des machines-vivantes, parties de la grande machine primordiale
      cosmique. elles forment les <span class="physique">zoociété</span>s d’appropriation et de force brutes, les <span class="physique">zoociété</span>s du potentiel. – de
      -3 000 000 à -200 000.
  </p>
  <h3>les <span class="physique">zoociété</span>s archaïques</h3>
  <p>les <span class="physique">zoociété</span>s archaïques furent celles où apparut la disjonction entre le père et le fils, c’est-à-dire entre
      un possesseur de forces et le reste zoocial. ce sont les <span class="physique">zoociété</span>s du maître de rapine pour lequel la
      <span class="physique">zoociété</span> s’offre comme la nature et où s’ébauchent marché du travail et classes de forces de travail
      <small class="text-muted">– cour du maître, artisans, jeunes et vieux, marchés d’échanges et de
          répartitions,
          apparition du travail mort</small>.
      <br>ces <span class="physique">zoociété</span>s, après avoir détruit les traces de leurs cousinages primates, dégradent la fille en la
      détachant
      de la mère et en la réduisant à n’être qu’une faiblesse de travail, un gibier sexuel, un déchet : le désir
      peut apparaître. la puissance du maître est immédiate et proche, elle identifie le chef et ses conquêtes à
      la <span class="physique">zoociété</span>. le maître n’est pas encore un individu, il n’est que le plus fort. ces <span class="physique">zoociété</span>s inventent les
      marques de la possession et son espace : marques corporelles des places des hommes et des femmes
      <small class="text-muted">– mutilations, incisions, tatouages et bijoux, parures –</small>;
      marques idéales, phanérales et pariétales, ornements
      <small class="text-muted">– vêtements et bijoux, colifichets végétaux et animaux voire humains –</small>,
      linguistiques
      <small class="text-muted">– mots et images qui font du langage autre chose qu’un simple organe de
          préhension, de maintien et de répulsion – </small>
      <br>car le processus de diffusion zoociale a commencé qui s’oppose à la proximité et favorise le mixage.
      les femmes, statuettes phalloïdes pour les hommes homosexuels, se doteront de phallus doubles en bois de
      renne sculptés
      pour réunir leurs vulves.
      elles inventent, comme marques particulières de possession, les fun érailles etla mort
      <small class="text-muted">– à commencer par la progéniture –</small>,
      comme marques particulières du désir qui y reste attaché –
      <small class="text-muted">le deuil et la sépulture.</small>
      <br>ces inventions sont aux origynes des mises en scène dans lesquelles les <span class="physique">zoociété</span>s se
      vivront désormais, préparant le terrain au théâtre du travail mort.
      <br>jusqu’à présent la horde était comme un fluide : aucune relation stable, hormis la chefferie,
      ne s’y cristallisait; désormais, une famille tend à s’opposer au reste de la horde,
      l’inhibition sexuelle apparaît avec son corollaire le sacrifice, le chant et la légende.
      ces <span class="physique">zoociété</span>s qui s’assemblent en myriades de chefferies provisoires, commencent à se déplacer
      et requièrent des inventions articulées et à long rayon d’action : langue, arme à jet, flotteur, animal
      porteur. de -200 000 à -50 000.
      <br>ces <span class="physique">zoociété</span>s, issues des <span class="physique">zoociété</span>s antérieures par progrès ou captures, se scindent en deux groupes
      principaux : celui où le possesseur des forces est en guerre permanente contre sa <span class="physique">zoociété</span>
      <small class="text-muted">– la <span class="physique">zoociété</span> des saigneurs –</small>, celui où demeure un flou politique et
      zoocial
      <small class="text-muted">– la <span class="physique">zoociété</span> égalitaire</small>.
      <br>les formes politiques de ces <span class="physique">zoociété</span>s seront indifféremment républicaines
      – lorsque le corps zoocial est en symbiose avec son
      maître, celui-ci incarne la <span class="physique">zoociété</span> – ou féales – lorsque le maître partage une part de son pouvoir et de
      ses richesses avec autrui. chacun de ces groupes influera désormais sur l’histoire ultérieure : les
      <span class="physique">zoociété</span>s des saigneurs tendront à l’ordre fondé sur la comparaison des forces, à la représentation
      personnelle et à l’immobilier, les <span class="physique">zoociété</span>s égalitaires sont poussées à l’expulsion, à la délégation et à
      la revendication belliqueuse. l’ébauche d’une organisation zoociale centralisée accompagne et produit la
      dégradation des chefs et l’ébauche de l’état. ces <span class="physique">zoociété</span>s inventent les guerres de profits, surtout
      ratées, qui se combinent encore peu aux guerres de rapines. les familles apparaissent et s’organisent sur le
      modèle
      précédent. les liens de parentés, c’est-à-dire l’organisation familiale, suivent les lignes de forces et les
      pentes des richesses et en même temps représentent les tributs versés par les plus riches à la jalousie, la
      rapacité ou au besoin de la multitude des autres; le maître est devenu la mère de sa horde. ce sont les
      <span class="physique">zoociété</span>s des habitats séparés, des troupeaux, des premières distinctions de l’humaine d’avec la
      nourriture, des premiers échanges. les inhibitions sexuelle, économique et alimentaire génèrent le cadeau,
      la subordination et la déférence que les langues, dans la structure essentiellement phatique, retiendront.
      la chute des mères s'amorce à l’occasion de la catastrophe glacière et le sang chaud des règles rejoindra
      celui des animaux tués : l’art rouge du sang vif rejoindra l’art noir du sang séché et l’art jaune des
      graisses, que les pigments minéraux, petit à petit, remplaceront. ce sont les <span class="physique">zoociété</span>s des images, – de
      massacres –, première apparition idéale du rapport de la mort et du refoulement. ce sont les <span class="physique">zoociété</span>s du
      virtuel. de -50 000 à -10 000.
  </p>
  <h2>les <span class="physique">zoociété</span>s anciennes</h2>
  <p>les <span class="physique">zoociété</span>s anciennes sont celles où la résistance sexuelle de la <span class="physique">zoociété</span> s’accroît face à l’extension et
      à l’accélération des transformations du mode de production. les familles s’opposent à la <span class="physique">zoociété</span>. ce sont
      les <span class="physique">zoociété</span>s qui nécessitent le syntesprit comme liant, les <span class="physique">zoociété</span>s du roi et de l’écriture, c’est-à-dire
      les <span class="physique">zoociété</span>s où la puissance, médiate et distante se transmet. les images continuent, en se diversifiant, à
      transmettre les massacres.
      <br>le vecteur radicalement nouveau de cette transmission est le texte. le texte, et avec lui l’écriture
      comme
      représentation d’une puissance matérielle devient magique. l’écriture provient de la sédimentation
      millénaire des marques selon la double espèce de leur fixité attachée à la contingence des formes des
      supports et à leur transportabilité.
      <br>ces <span class="physique">zoociété</span>s se reconnaissent et s’éprouvent comme machines, éléments
      et projections de la grande machine cosmique. la division génitale du travail correspond à la division du
      travail et à la division zoociale. les places de chacune y sont fixées et ont toutes pour point conique de
      convergence celle du roi, ces <span class="physique">zoociété</span>s inventent les cultes solaires à tendances monoïdes
      <small class="text-muted">– le point sans voisinage du cône ou son équivalent topologique pyramidal</small>.
      elles développent et dépassent tout ce qui les a précédées sur tous les plans : technique
      <small class="text-muted">– métallurgie, poterie, roue; économie – </small>agriculture, domestication
      du cheval, monnaie, esclavage; guerre
      <small class="text-muted">– arc, route, char, ville; sexualité –</small> interdit de l’inceste public,
      généalogie paternelle; idéologie
      <small class="text-muted">– système religieux</small>. grâce à l’apparition du syntesprit qui lie le père,
      maître des forces de travail, et le fils, résidu multiple du procès de zoocialisation, ces <span class="physique">zoociété</span>s
      inventent la politique, première forme théorique de la gestion comptable au service du maître, et avec elle
      l’imperium <small class="text-muted">– l’entrepôt de ses richesses</small>.
      ces <span class="physique">zoociété</span>s inventent les guerres de profits réussies tout en
      conservant les guerres de rapines. la formation économique connaît une période d’essor et de stabilité, les
      humaines y sont habiles, beauté, richesse et pouvoir se concentrent et s’offrent le savoir et l’art comme
      parures. l’unité zoocio-économique du père, du fils et du syntesprit crée l’état moderne entraînant la
      chute des chefs et fondant des empires.
      le modèle monogame, patriarcal, dans lequel la mère et la fille seront ensemble dégradées, s’établit,
      se conforte et termine l’immense révolution putschiste de près de
      trois millions d’années des homomâles <small class="text-muted">– les peuples conserveront jusqu’à nos jours
          la mémoire spécifique de
          leur attribution révolutionnaire dans ce putsch sans équivalent</small>.
      <br>l’amour et la prostitution peuvent
      apparaître. le couple s’oppose à la famille. ce sont les <span class="physique">zoociété</span>s du maître et de l’esclave, de la
      systématisation des échanges, du travail, de la technique et de la théorie. le sujet qui s’affirme est le
      su-jet du pouvoir dans lequel le désir est encore indistinct. ce sont les <span class="physique">zoociété</span>s de la transformation. de
      -10 000 à -1000.
      <br>à ce stade de l’histoire, le nouage trèflé du père, du fils et du syntesprit
      <small class="text-muted">– mode de production, <span class="physique">zoociété</span> affine, état policier –</small>
      fait de ces trois instances une seule. de ce fait, une nouvelle confusion va pouvoir
      s’é-tablir et faire réapparaître la mère comme gardienne et dispensatrice de la fertilité, entraînant avec
      elle un rôle nouveau pour la fille qui féminisera quelques attributs de la mère, comme la conservation et
      l’attention domestiques, et tendra à idéaliser ces attributs en amour, justice et chasteté.
  </p>
  <h2>les <span class="physique">zoociété</span>s antiques</h2>
  <p>les <span class="physique">zoociété</span>s antiques sont celles où l’oeuvre du syntesprit, ce que de plus en plus on a appelé l’état, a
      permis l’amortissement des oscillations dangereuses, des perturbations mortelles qui parcourent la <span class="physique">zoociété</span>.
      en stabilisant la <span class="physique">zoociété</span>, il occasionnait l’accumulation, sans cela
      impossible. ceci s’effectuait selon le schéma résiduel :</p>
  <table class="table table-bordered mt-5">
      <tbody>
          <tr>
              <td scope="row">potentiel</td>
              <td>ressources mondiales</td>
          </tr>
          <tr>
              <td scope="row">virtuel</td>
              <td><i>empire</i></td>
          </tr>
          <tr>
              <td scope="row">transformation</td>
              <td>guerre</td>

          </tr>
          <tr>
              <td scope="row">actuel</td>
              <td>état</td>
          </tr>
          <tr>
              <td scope="row">résiduel</td>
              <td>accumulation</td>
          </tr>
      </tbody>
  </table>
  <p>l’accumulation connaît plusieurs formes résiduelles : <i>fossile</i>
      <small class="text-muted">– thésaurisation, elle servira au crédit, c’est-à-dire à l’établissement du champ
          juridique des échanges</small>;
      dépôt <small class="text-muted">– les richesses acquises</small>,
      essentiellement par conquêtes, sont supérieures à celles engagées, elles réapprovisionneront l’expansion, et
      son antithèse <i>la réserve</i> <small class="text-muted">– issue de la privation</small>, qui servira à
      bâtir des fortunes et le surmoi moderne
      s’étirant apparemment sans fin par les fils de l’héritage. toutes trois organiseront, selon leurs
      importances réciproques, les particularités des <span class="physique">zoociété</span>s qui feront du savoir un instrument de gestion de
      l’opacité
      <small class="text-muted">– ce que deviennent les rapports entre propriété et production</small>. cette
      opacité favorise
      l’apparition des types humains identifiés.
      <br>ces <span class="physique">zoociété</span>s sont celles où le père est redevenu lointain, invisible.
      ses manifestations sont devenues des miracles, c’est-à-dire des gains immédiats, ceux qui tendent
      à passer par le contresens. la religion deviendra la discipline de gestion de ce type de gain. elle gérera
      aussi la sexualité, c’est-à-dire la division génitale du travail commandée par le père. les hérésies seront
      soit une manifestation d’adaptation et de développement chaotiques plus ou moins locale, soit une résistance
      à cette gestion et la mise en cause de ses étais zoociaux. la religion reste ainsi sensible par son histoire
      particulière à la dynamique de la lutte des classes et de la sexualité. le couple adulte hétérosexuel
      devient la famille. la mère réapparaît quoique modérément, et avec elle les mystères et la philosophie,
      comme garante de la famille, avec les traits féminisés de l’amour absolu, de la justice miséricordieuse et
      de la sainte chasteté. les couples illégitimes peuvent apparaître et avec eux passion – c’est-à-dire amour
      malade, c’est-à-dire amour plaintif, sous tutelle –, littérature et tragédie sous les deux espèces des
      tensions entre systèmes de parentés différents et de la culture contre la nature. la prééminence donnée à
      l’état permet au père et au fils de s’estomper : le système de production et la <span class="physique">zoociété</span> sont devenues
      opaques ainsi que leurs rapports.
      <br>l’exploitation des travailleuses et des
      travailleurs accompagne l’esclavage et tend à le supplanter. les guerres de profits, de mieux en mieux
      réussies prennent le pas sur les guerres de rapines et stabilisent, au-delà de l’empire immédiat,
      collectivités et systèmes de production, l’empire lissant le tout, faisant surgir l’esprit national. le
      maître est le syntesprit lui-même, celui grâce à qui l’ordre se maintient et par qui l’ordre est requis. ce
      faisant il s’éloigne de la production qui sourd dans les entrailles de la <span class="physique">zoociété</span> par laquelle le fils
      prendra la place du père.
      <br>ces <span class="physique">zoociété</span>s nécessitent des inventions zoociales et fantasmatiques. elles se
      réfléchissent comme machines, artefacts de la machine cosmique. les empires se disloquent et leurs
      fragments se dispersent et se regroupent selon les lois de l’accumulation et des identifications anciennes.
      ce sont les <span class="physique">zoociété</span>s de l’actuel. de -1000 à 1400.
  </p>
  <p>ce qu’on a eu l’habitude d’appeler <b>moyen-âge occidental</b> était un défaut de perspective
      occidentocentrique dû
      au refoulement de l’asie et au mépris de l’afrique et des amériques, ainsi qu’au trouble causé par la
      persistance et la coexistence de <span class="physique">zoociété</span>s différentes sans référent contemporain commun, entraînant pour
      les chercheurs classiques l’impos-sibilité de tentatives classificatoires avec les mêmes difficultés qu’ont
      connues les linguistes à partir de l’indoeuropéen.</p>
  <h2><span class="physique">zoociété</span>s classiques</h2>
  <p>l’ère des <span class="physique">zoociété</span>s classiques s’ouvre avec l’ascension du mode de production capitaliste. elles se séparent
      définitivement, sur le plan structurel, des <span class="physique">zoociété</span>s précédentes. les royaumes sont les ventres féconds de
      ce nouveau mode de production. dans les monarchies, le père, camouflé par le surmoi zoocial et la force
      publique laisse aller le fils à la recherche de nouveaux trésors, la <span class="physique">zoociété</span> s’enrichit, les pouvoirs se
      séparent, politiquement de plus en plus centralisés afin de contenir les forces de travail de plus en plus
      nombreuses pour mieux les servir à l’infinité des petits pères bourgeois. la fille rejoint le prolétariat.
      les familles se stabilisent, les vertus sont domestiques, les sentiments sont tendres et constants, les
      amants familiers, dieue et l’amour entrent en compétition au point de s’inquiéter. les princes gouvernent,
      quelquefois en héros afin que demeure l’image virile de la conquête, la satire zoociale s’étend quand les
      guerres se rationalisent. les monarchies ont vaincu les féodaux grâce au tiers-état marchand. les
      capitalistes se reconnaissent, se regroupent comme le leur impose la circulation du
      capital, leur classe est encore constituée de personnes. le monarque n’est déjà plus le père, il n’est que
      le fils aîné du nouveau mode de production et il traversera les temps pourvu qu’il ait accordé, obligé ou
      consentant, des chartes et des libertés, partout où ce fut fait, aux peuples, c’est-à-dire aux féodaux
      accumulateurs ou aux tiers-états urbains et aux compagnies ouvrières. ailleurs sa tête servira de symptôme.
      la <span class="physique">zoociété</span>, le dépôt, le fils, se scinde : d’un côté les féodaux parasites qui transforment les esclaves et
      les vassalariées en domestiques, de l’autre les féodaux reconvertis et les patrons apeurés face aux
      ouvriers qui grouillent et grondent. la prostitution de classe participe de l’achat de la faiblesse de
      travail. les femmes des peuples découvrent leur énergie politique. les féodaux
      <small class="text-muted">– ombre portée du maître –</small>,
      les hobereaux, les désirent avilies. l’érotisme surgira de ce désir d’avilissement. la domesticité
      l’accomplira. les femmes et les ouvriers se donneront des voix tonnantes, amplifiées par leur réunion à
      celle des marchands qui butent encore contre ce qu’il reste de féodalité chez le fils aîné
      <small class="text-muted">– le roi et son administration du royaume –</small>, afin de propulser toujours
      plus loin le nouveau système zoocial porteur de la
      liberté du travail, c’est-à-dire de la liberté du refoulement sexuel, car il poindra bien ce jour de la
      levée du refoulement. dans ces <span class="physique">zoociété</span>s, le camouflage du réel, c’est-à-dire son épuration en concepts
      collectivisants, résout la disparition des corps pesants et sexués en formules dont l’effectivité fait
      rejaillir les corps comme par un miracle de la pensée. ces <span class="physique">zoociété</span>s nécessitent des découvertes minérales,
      et des inventions stratégiques, juridiques et fis-cales. ce sont les <span class="physique">zoociété</span>s du résiduel. de 1400 à 1789.
      ces <span class="physique">zoociété</span>s, aussitôt apparues réalimentent le potentiel, sous les espèces d’un nouveau potentiel et d’un
      nouveau virtuel, la forme résiduelle du travailleur étant le produit, générateur d’une nouvelle structure.
  </p>
  <h2><span class="physique">zoociété</span>s pornographiques</h2>
  <p>les <span class="physique">zoociété</span>s pornographiques apparaissent lors de l’effondrement des
      <span class="physique">zoociété</span>s précédentes, des luttes et des transformassions qu’elles recelaient. elles inaugurent l’ère de la
      mise en scène de l’exploitation des femmes pour laquelle la fille fait sa réapparition. l’identifiée se
      constitue sur le modèle précédent, dérisoire et velléitaire. les heurts de plus en plus violents et de plus
      en plus fréquents entre l’économique et le sexuel constituent sa trame moderne, elle et il croient à son
      existence et à ses droits et tendent à s’opposer à son exploitation. les femmes sont les égales des hommes.
      <br>ce sont les <span class="physique">zoociété</span>s où s’origyne la révolution sexuelle, où le surmoi veille et se dote des
      instruments de surveillance adaptés à son développement :
      milices et camps pour les <span class="physique">zoociété</span>s retardataires, vidéos et
      pédagos pour les autres. père, fils et syntesprit ne font qu’un, la démocratie est la forme républicaine de
      cette ultime confusion, le syndicalisme fédérateur sa forme vidéologique, la gadgétisation sa forme
      matérielle, le spectacle sa forme totalitaire. les instances zoociales deviennent toutes des avancées du
      surmoi contre l’identifiée, et se réapproprient les familles qui deviennent vassalariées du système
      zoocial. leur fourniture de force de travail neuve leur vaut une prime sous forme de prestations et de
      médailles. ce sont les <span class="physique">zoociété</span>s du mode de production capitaliste de crise permanente, de la
      contrerévolution permanente, pour lesquelles les guerres de rapines reprennent du service de plus en plus à
      usage national alors que les invasions antiques et les conquêtes modernes se métamorphosent par convolution
      en immigrations et charniers, à l’image du mouvement géophysique qui voit le japon s’enfoncer sous le socle
      asiatique. le banditisme mondial voit ses structures et son rôle se développer et s’amplifier : il gère les
      épaves du système, et à la fois s’établit ou se renforce sur les trajets et les aires que le mode de
      production capitaliste lui abandonne ou lui concède, jusqu’à recouvrir des états entiers que l’inhibition
      sexuelle des peuples nationaux lui tolère. le capitalisme, avec son revers le zoocialisme, se dévore
      lui-même. les nouvelles faiblesses du travail, les enfantes, nourrissent son appétit insatiable :
      surexploitation, prostitution, regroupement extra-familial, massacre et utilisation des organes fondent, en
      une nouvelle guerre chronique <small class="text-muted">– du chronos dévorant –</small>, contrerévolution et
      révolution sexuelle. ce sont les
      <span class="physique">zoociété</span>s où s’opposent familles et enfantes, intersexualisme et autosexualité, homosexualisme et
      hétérosexualité, sexualité contre dessexualisation.
      <br>les guerres de réappropriation sexuelle apparaissent, elles ne sont pas, à ce jour, terminées. ces
      <span class="physique">zoociété</span>s
      se féminisent, se métissent, se sexualisent. le loisir apparaît à côté du travail sans encore le supplanter.
      l’inhi-bition sexuelle et son substitut le labeur demeurent encore déterminants. ces <span class="physique">zoociété</span>s nécessitent
      des inventions de destruction, d’insécurité et d’avilissement totaux : bombe nucléaire, camps
      d’exterminations, drogues chimiques, médiatisation, etc. elles nécessitent de plus une extension inégalée
      des formes et pouvoirs du syntesprit liée à la fragmentation permanente résiduelle des <span class="physique">zoociété</span>s. la
      dernière forme du syntesprit, d’autant plus esprit qu’il paraît éloigné de la matérialité économique, est
      l’associationnisme spectaculaire, d’autant plus saint qu’il apparaît sur le versant humanitaire
      <small class="text-muted">– retour de la médicale science dans le giron des églises –</small> des bonnes
      causes du père.
      ce sont les <span class="physique">zoociété</span>s de l’actuel et du résiduel. de 1920 à nos jours.
      du fait de la forme résiduelle de la liberté sexuelle, une structure se renouvelle et apparaît un nouveau
      potentiel. l’histoire des <span class="physique">zoociété</span>s et des formations particulières qui leur donnaient corps <small
          class="text-muted">– entreprise,
          familles, états –</small> prend fin, s’ouvre l’ère de la première civilisation authentique.
  </p>
  <h2>la société évoluée</h2>
  <p>la société évoluée est celle où l’inhibition sexuelle a pris fin. la liberté sexuelle individuelle s’assure
      du loisir, de la paresse pour fonder une hu-manité. la réappropriation sexuelle est complète. le système de
      la propriété privée, des classes zoociales est effacé. l’enfante s’appartient comme quiconque, la propriété
      privée, dont personne ne parle plus, a laissé place à la suffisance sexuelle. les fantômes des temps obscurs
      ont disparu. ce qu’il reste de machine dans la femme et l’homme est dépassé et replacé, la machine retourne
      à la machine comme l’amour à la vie, la vie à l’amour. cette humanité développe certainement le don,
      l’échange des plaisirs, des goûts et des compétences, la satiété. ses inventions sont celles de l’amour
      sexuelle libre, réciproque et égale, des nouvelles activités et nouveaux usages pour lesquelles l’amour
      jouira du nontemps et de l’abondance. la mort elle-même, cette séquence génétique apoptotique, qui tombe
      comme feuilles en automne, sera vaincue, comme le seront toutes les fatalités organiques ou non. c’est
      l’humanité du potentiel anhistorique de l’humanité, à partir de quoi l’histoire elle-même s’effacera dans le tourbillon éternellement actuel de la vie. de plus tard à encore
      plus tard, de bientôt à toujours.</p>

</div>
<div class="col-sm-3">
  <table class="table table-bordered mt-5">
      <tbody>
          <tr>
              <td scope="row">potentiel</td>
              <td class >quantité de force de travail utilisable <small class="text-muted">la masse humaine</small></td>
          </tr>
          <tr>
              <td scope="row">virtuel</td>
              <td>marché du travail
                  <small class="text-muted">les coûts de production</small></td>
          </tr>
          <tr>
              <td scope="row">transformation</td>
              <td>mouvement du capital
                  <small class="text-muted">mise en oeuvre du taux de profit</small></td>

          </tr>
          <tr>
              <td scope="row">actuel</td>
              <td>division génitale du travail
                  <small class="text-muted">distribution effective des tâches</small></td>
          </tr>
          <tr>
              <td scope="row">résiduel</td>
              <td><span class="physique">zoociété</span> <small class="text-muted">ajustement des rôles et des fonctions</small></td>
          </tr>
      </tbody>
  </table>
</div>
</div>
