<div class="container">
  <div class="row">
    <div class="col-10">
      <h1>éléments primordiaux de la matérialité hétérosexuelle</h1>
      <h2>guerres alliances guerres</h2>
      <h3>eia mouvements de masse</h3>
      <p>
        les guerres et les alliances nouent les mouvements de quatre types de
        masses :
      </p>

      <ol>
        <li>les territoires – géomes et biocénoses</li>
        <li>les zoociétés – modes de production et moeurs</li>
        <li>les échanges – flux économiques et transferts culturels</li>
        <li>les armes – informations, matériels et stratégies</li>
      </ol>
      <p>
        chacun de ces mouvements connaît des variations de fréquence,
        d’amplitude et de densité différentes des autres mouvements mais en
        corrélation permanente.<br />
        <b>les mouvements des territoires</b> expriment tout ce qui concerne les
        transformations de reliefs, depuis le creusement des mines jusqu’au
        détournement des fleuves, pour le géome; tout ce qui concerne les
        transformations écologiques, depuis l’implantation d’espèces étrangères
        jusqu’au carnage de la biomasse, pour la biocénose. <br /><b
          >les mouvements des zoociétés</b
        >
        expriment tout ce qui concerne les transformations des populations et de
        leurs modes de vie, depuis les massacres et déportations jusqu’à
        l’importation d’organisations nouvelles.<br />
        <b> les mouvements des échanges</b> expriment tout ce qui concerne les
        communications, depuis les accès aux ressources jusqu’aux droits
        commerciaux. <br /><b>les mouvements des armes</b> expriment tout ce qui
        concerne la guerre au sens restreint du terme, c’est-à-dire
        l’organisation et la tenue des combats, les leurres militaires et la
        capture d’informations.
      </p>
      <h3>eie mouvements de masse</h3>
      <p>
        les inerties propres à chacune de ces quatre masses, leur tectonique et
        leurs différences jouent le rôle de régulateurs de la guerre. cette
        inertie est elle-même en rapport étroit avec les développements
        technologiques. par exemple : l’aviation, les fusées, les satellites
        artificiels réduisent la part de l’inertie du mouvement de territoire;
        le bcmnl (biochimie, météorologie, nucléaire et lumière) celles des
        populations et des armes; le contrôle des banques internationales, celle
        des flux écono-miques, et le contrôle des médias et télécommunications,
        celle des échanges culturels. du coup, la guerre moderne devient la
        guerre pour le contrôle des contrôles. les alliances qui en dérivent
        deviennent des systèmes étendus s’interrecouvrant dont les fluctuations
        sont paradoxalement peu rapides, peu massives, mais dont les effets sont
        immédiats, parfaitement ciblés et drastiques.
      </p>
      <p>
        l’interactivité fonctionnelle, qui remplace la fidélité, joue le rôle
        que jouait la dépendance économique.
      </p>
      <p>
        la sécurité collective, qui répond de même à la fragilité, joue le rôle
        de la démocratie politique.
      </p>
      <p>
        l’ordre mondial qui supplée la monnaie unique joue le rôle que jouait la
        culture.
      </p>
      <p>
        interactivité, sécurité et ordre nécessitent le développement des
        contradictoires desquelles surgirait une inclusive octroyée unique. ces
        contradictoires, pour demeurer stationnaires, doivent donc être gérées
        de façon à ne pas se transformer en contradictoires par renforcement ou
        par épuisement.<b>la contradictoire par épuisement</b> présente deux cas
        : <br />soit elle déséquilibre l’inclusive
        <small
          >– comme cela s’est passé entre l’afghanistan et l’ex-union soviétique
          –</small
        >, et l’épuisement soustrait les capacités de l’épuisé, tantôt l’inclus,
        tantôt l’incluant, de l’alliance; soit l’épuisé est capté par l’incluant
        <small
          >– comme les nations européennes l’ont été par le plan marshall
          –</small
        >, et sert à la reconversion d’une partie du capital confronté à la
        baisse du taux de profit, en travail de valeur moindre, en prolifération
        de travail mort, en spectacle. <b>la contradictoire par renforcement</b>
        diffère de façon détournée le nouvel affrontement entre les belligérants
        en expansion.
      </p>
      <p>
        il y a deux formes d’expansion pour une telle contradictoire : soit elle
        avance à petits pas, c’est-à-dire absorbe des provinces qu’elle peut
        immédiatement gérer du fait de ses capacités actuelles, dans la mesure
        de ses compétences; soit elle fait un saut dans l’inconnu, c’est-à-dire
        envahit une province dont elle n’a pas les moyens effectifs de gérer la
        conquête.
      </p>
      <p>
        <b>l’octroyée nouante unique (onu)</b>
        <small>– autre forme de l’organisation nécropoliste unitaire –</small>
        doit donc négocier ses implémentations dans l’inclusive en fonction des
        états de guerre et de domination.
      </p>
      <p>
        les guerres réelles sont des combinaisons des guerres de rapines et de
        profit. chaque belligérant vise donc à imposer son alliance inclusive.
        la volonté des belligérants, leurs représentations, leurs désirs, etc.,
        entrent pour une faible part dans la mise en mouvement des alliances et
        leur bascule à l’état de guerre : les idéaux de la guerre ne sont que
        les indicateurs homosexuels des groupes armés et de leur histoire
        fantasmée, celle-ci servant paradoxalement, préventivement ou
        rétroactivement, à justifier ceux-là, déclassés, corporations et
        jusqu’aux alliances de nations. le paradoxe réside en ce que celui qui
        désire la guerre a atteint un seuil qui l’oblige à la vivifier en lui,
        c’est-à-dire à acquérir l’assurance dont il aura besoin pour la faire –
        à accéder à ce qui le dépasse –, et ce, alors que son désir apparent,
        image troublée de ses nécessités, l’y pousse sans autre raison, ce qui
        dénote sa part d’homosexualisme narcissique qui se conjoint le surmoi
        pour se consolider.
      </p>
      <h3>eei</h3>
      <p class="fst-italic">
        la femme est figée, étendue sur le dos, entièrement vêtue; l’homme
        entièrement vêtu s’étend sur elle, lui couvre le visage d’un voile noir,
        la pénètre brusquement, éjacule. depuis des siècles, c’est le scénario
        ordinaire de la copulation conjugale dans ce pays. un film yougoslave en
        a donné témoignage peu avant la guerre, un film qui doutait lucidement
        de la possibilité de sortir d’une telle arriération, de la terreur
        irrémédiable que tant de précautions révèlent. sous couvert de
        purification ethnique, les serbes arriérés violent les femmes
        non-serbes, et elles font des enfantes serbo-non-serbes. ce résultat
        semble à l’exact opposé du but affiché : purisme racial et métissage
        forcé s’annulent l’un l’autre. restent les viols – en troupe.
      </p>
      <h4 class="fw-bold">
        les viols sont les rêves dont la guerre est le sommeil.
      </h4>
      <p>
        ils accomplissent le désir homosexuel de ces arriérés, qui sont beaucoup
        trop lâches pour copuler d’homme à homme, et chacun incapable, même armé
        d’un fusil mitrailleur et bardé de grenades, de faire face tout seul à
        une femme. ce qui fait bander les violeurs, ce n’est pas la femme, c’est
        de se défroquer face aux pénis autour.
      </p>
      <p class="fst-italic">
        les femmes, comme d’habitude, pâtissent et fabriquent des enfantes. il
        n’y a ni paix ni guerre pour les femmes, il y a toujours l’immense,
        l’im-mémoriale machination à les détruire, à les faire mères ou mortes.
        <b>les viols, qu’on dit crimes de guerre</b>, sont la
        <i
          >technique universelle de base du mode de production paternel des
          enfants</i
        >. dans la guerre comme dans la paix, qu’ils soient serbes ou
        non-serbes, les hommes ne les voient pas, n’ont pas vu de femmes depuis
        des siècles, depuis les grecs, depuis les dieux, depuis l’invention de
        la répression des pulsions... <br />ils enfoncent leur pénis dans un tas
        de linge, déchargent dans les secondes qui suivent, et vont vite
        retrouver leurs frères. les frères d’abord. à paris, ou ailleurs!, en
        groupe dans les rues, fiers d’être serbes, ils interpellent les femmes.
        chacun drague haut et fort, et, par son mépris des femmes, prouve à ses
        copains qu’il n’est pas un pédé. aucun, jamais, ne se sépare de la horde
        virile pour aborder une femme et lui parler seul à seule. la femme
        interpellée n’est qu’un objet médiateur entre eux, la drague est faite
        pour séduire les copains, pour obtenir le renouvellement de leur
        considération, de leur amour. et pour bétonner l’équipe il ne passe pas
        quinze minutes sans que chacun dise, 185 haut et fort encore, son mépris
        pour les homos. ils méprisent ce qu’il reste à ceux-ci de
        hétérosexualité
        <small
          >– séquelle nécessaire à la réalisation de la copulation homosexuelle
          elle-même</small
        >. à eux, il ne leur reste rien de cette envie, de cet appétit. le
        développement de l’homosexualité fraternelle est le processus de
        dessexualisation par excellence, de conversion du sexuel en sentimental.
        lorsqu’il est abouti, lorsque la pulsion sexuelle est neutralisée, la
        dégradation de leur humanité est à un point que les hommes ne pratiquent
        pas la copulation directe entre eux. dans la troupe saturée de
        satisfaction sentimentale, il n’y a tellement pas de femme qu’il n’y a
        pas du tout de rapport sexuel. l’extérieur s’emplit donc de ce qui est
        rejeté : la femme, le sexuel et la satisfaction sexuelle. et comme tel
        l’extérieur devient et revient menaçant, puisqu’il resuscite l’appétit
        sexuel, corrupteur de la fraternité, et le besoin de rupture avec
        l’empire des mères.
      </p>
      <p>
        c’est contre cela, contre l’invasion de l’hétérosexualité que la troupe
        préserve, par la drague dans la paix et les viols dans la guerre, ses
        membres virils si idéalement castrés.<b
          >les viols ne sont pas une agression hétérosexuelle, c’est un double
          rapport homosexuel dont des femmes pâtissent comme médiateurs.</b
        >
      </p>
      <p class="fst-italic">
        pour être frères il faut être fils d’une même mère, et partager le désir
        de la posséder et d’en être possédés. si cette mère n’existe pas, il
        faut l’inventer. le viol est la négation d’une femme et sa
        transformation en mère commune. le rabaissement en objet sexuel est la
        mutation par laquelle une femme est dégradée en mère, se fétichise;
        cette dégradation ouvre la voie à la perversion. les prostituées sont à
        la fois la figure instituée de cette mère commune et les filles-otages
        livrées en pâture aux fils pour la conservation de l’empire des mères,
        où une femme ne devient la proie des uns que parce qu’elle était déjà
        celle des autres. une femme-proie, terrorisée et pétrifiée, n’est pas
        l’objet de la pulsion hétérosexuelle, elle est l’enfante à la merci de
        la cruauté de l’adulte pédéraste. l’amplitude de ce ravalement en objet
        sexuel donne la mesure de la dégradation des hommes en fils éternels des
        mères, craintifs, humiliés attroupés qui attendent leur tour dans
        l’impasse de l’homosexualité fraternelle. ceux qui sont des vrais mecs
        (serbes) baisent ceux qui sont des gonzesses (non-serbes) par femmes
        interposées. les différences raciales, religieuses, nationales prennent
        leur valeur de différences factices entre hommes. en l’absence de
        distinction hétérosexuelle, c’est-à-dire dans l’homosexualité virile,
        pour fabriquer un ersatz d’écart et de tension, il faut amplifier de
        petites différences secondaires : on s’identifie puis, captif de son
        identité, de son narcissisme, on se jette sur autrui, puisqu’on est
        incapable de copuler à l’amiable, de vivre intersexuellement la pulsion.
        on voit cela en france. les immigrés qui suscitent le racisme sont ceux
        qui spontanément constituent, sans autre motif apparent que le plaisir
        d’être ensemble, des groupes d’hommes dans des lieux publics. cette
        exhibition de l’homosexualité conviviale immédiate
        <small
          >– c’est-à-dire sans médiateur comme le travail, le jeu, le sport, la
          politique ou la religion –</small
        >
        excite ceux qui l’envient et qui regrettent que deux siècles de ravages
        industriels nous aient débarrassés de cette arriération rurale. ils se
        regroupent donc pour clamer leur grand principe de préférence nationale,
        de l’amour du plus semblable et du plus proche
        <small>
          - dont l’inceste homosexuel est logiquement l’idéal (comme disent les
          pères : mon fils ou moi, c’est pareil.</small
        >
        que répètent les fils : mon père et moi, c’est pareil et que les mères
        énoncent : le père et le fils, c’est pareil!). leur rage de voir que
        d’autres, qui plus est sont des pauvres, peuvent jouir de la ségrégation
        sexuelle, s’exprime en revendication de la ségrégation nationale et
        raciale, suivant la transformation des petites différences secondaires
        et tertiaires en différences sexuelles factices entre hommes
        dessexualisés. dans la rue, fiers d’être français, et furieux de
        s’abaisser à envier de plus fragiles parce que pauvres, ils se
        retournent au passage d’un arabe ou le regardent dans leur rétroviseur,
        comme s’il s’agissait d’une jolie jeune fille légèrement vêtue – sauf
        qu’ils en attendent le geste obscène qui suffira à les combler, auquel
        ils répondront avec un empressement soumis, comme s’ils étaient de ces
        jeunes filles timides et brûlantes qui n’osaient pas faire les premiers
        pas – sauf qu’ils précipiteront sur le champ le contact physique,
        l’étreinte, les coups, les cris, l’orgasme de deux corps virils
        étroitement enlacés se roulant sur le sol.
      </p>
      <p>
        l’immigration n’existe comme problème de la zoociété française que comme
        déguisement et miroir de sa propre arriération : les serbes sont des
        hommes comme les autres.
      </p>
      <p>
        les nations qui avant-hier s’étaient laissées entraîner dans la guerre
        balkanique construisent aujourd’hui par l’europe d’occident la paix 187
        fédérale qui tenait hier la yougoslavie, et qui annonce les guerres
        séparatistes. soyons prévenants : regarde ce que faisaient les serbes
        avant-hier, tu sauras ce que faisaient les allemands hier; regarde ce
        que font les serbes aujourd’hui. l’actuelle théorie obséquieuse
        judéo-hypocrite dite des justes n’a pour seul but que de préparer les
        circonstances atténuantes
        <small>– piétinant avec roublardise vers un futur non-lieu –</small>
        pour les criminelles et représente la composante judéo-zoocialiste,
        c’est-à-dire l’alliance judéo-protestante et son tribut, du nouveau
        révisionnisme fascisant permettant ainsi son extension au reste de
        l’histoire et à l’échelle du monde. déjà, en allemagne, en 1998, une
        décision narquoise a été prise qui tend à octroyer à 2 millions
        d’allemandes le statut de service du travail obligatoire afin de
        rembourser ces complices de ce qu’ils et elles ont été réquisitionnées
        entre 1939 et 1943 par leurs nazies autorités.
      </p>

      <div class="shadow p-2 bg-warning">
        <p>
          un peuple criminel n’est pas un peuple dont chaque membre est
          criminelle : c’est un peuple qui cache, approuve ou glorifie les
          crimes commis en son nom, et parvient à étouffer en lui toute voix
          contestataire. <br />
          qu’un peuple soit coupable ne fait pas de chacune de ses membres une
          coupable qui doive être personnellement sanctionnée. pour autant les
          peuples ne sont pas irresponsables : leur dénier toute responsabilité
          impliquerait leur dénier tout droit. il est possible de demander des
          comptes à un peuple en tant que tel, sans faire l’erreur de demander à
          ses membres de répondre personnellement de ce qui relève de
          l’ensemble.
        </p>
      </div>
      <div class="m-3 p-2">
        <p>
          la serbie est une nation criminelle parce qu’elle a mené pendant
          plusieurs années une guerre ethnique et religieuse, et qu’elle protège
          aujourd’hui les exécuteurs de sa politique de terreur. des hommes
          serbes, en bandes armées, ont violé des femmes nonserbes, puis ont
          contraint les violées-enceintes à mener à terme leur grossesse pour
          donner naissance à des enfantes serbononserbes. le fantasme des
          serbes était certes de polluer l’identité nationale des peuples
          nonserbes, mais les enfantes des violeurs anonymes pourront dans une
          vingtaine d’années se prévaloir de leur ascendance paternelle
          criminelle pour revendiquer leur part d’identité serbe. de la théorie
          universitaire de la purification ethnique à la pratique militaire du
          métissage forcé, la cohérence n’est pas à chercher dans les un peuple
          criminel n’est pas un peuple dont chaque membre est criminelle :
          c’est un peuple qui cache, approuve ou glorifie les crimes com-mis en
          son nom, et parvient à étouffer en lui toute voix contestataire. qu’un
          peuple soit coupable ne fait pas de chacune de ses membres une
          coupable qui doive être personnellement sanctionnée. pour autant les
          peuples ne sont pas irresponsables : leur dénier toute responsabilité
          impliquerait leur dénier tout droit. il est possible de demander des
          comp-tes à un peuple en tant que tel, sans faire l’erreur de demander
          à ses membres de répondre personnellement de ce qui relève de
          l’ensemble. 188 délires nationalistes, mais dans l’homosexualité
          zoociale, plus précisément en l’occurrence dans cette forme férocement
          arriérée d’homosexualisme dont la religion orthodoxe est le fleuron
          spirituel. serbes ou non, chrétiens ou non, les arriérés du pourtour
          de la méditerranée guerroient avant tout contre la dissolution de
          l’apartheid antisexuel. l’état de guerre c’est pour tous le moyen le
          plus expéditif de rétablir la division génitale du travail et de
          l’espace : ça permet de remettre les femmes à leur place, d’une part,
          et se regrouper fraternellement entre hommes, d’autre part, dans
          l’homosexuelle chaleur des bivouacs, des combats et des viols en
          troupe.
        </p>
        <p>
          pour faire oublier sa culpabilité, le peuple serbe se donne en
          spectacle démocratique depuis l’hiver 96-97 : il joue hypocritement au
          peuple en lutte contre son tyran, alors que ce tyran n’a été, et ne
          reste, que sa créature. s’il s’était agi de renverser une
          pseudo-dictature, l’affaire se serait réglée en une ou deux semaines :
          les pays ex-zoocialistes, la roumanie en particulier, nous ont montré
          comment un peuple peut se défaire en quelques jours de son bien-aimé
          tyran. en serbie, il s’agit de laisser le temps à toutes les
          catégories zoociales, à toutes les institutions
          <small
            >– y compris l’université, l’église orthodoxe et l’armée –</small
          >
          de faire preuve de leur aspiration à la démocratie. il faut convaincre
          la fameuse opinion spectaculaire occidentale qu’en serbie seuls les
          gouverneurs civils et militaires sont des criminels néonazis, et que
          tous les autres sont de braves types eichmanniens qui n’ont fait
          qu’obéir aux ordres. la remise en scène du peuple serbe comme victime
          de ses chefs
          <small>– et non plus coupable de ses viols et massacres –</small>
          risque bien de réussir avec la complicité des nations d’europe et
          d’amérique du nord si elles acceptent de faire semblant d’ignorer que
          dans les états démocratiques, les criminels sont privés du droit de
          participer à la démocratie
          <small
            >– privation des droits civiques ou du droit de disposer de
            soi-même.</small
          >
        </p>
      </div>
      <div class="shadow p-2 bg-warning">
        <p>
          si les viols n’ont été effectivement commis que par un nombre limité
          d’hommes, c’est l’ensemble de la nation serbe qui, en les protégeant
          aujourd’hui, en revendique la responsabilité. elle doit donc comme
          telle l’assumer. nous aurions plus que tort d’accepter l’oubli et le
          mensonge, le retour des violeurs dans le concert des nations, le
          mépris des femmes, la défiguration de la sexualité en violence. comme
          un homme peut perdre, du fait de ses crimes, le droit d’exister comme
          citoyen pour une durée déterminée, la serbie a perdu le droit
          d’exister comme état-nation pour quelques décennies
          <small
            >– à l’image de l'atimie qui frappa l’allemagne pendant
            quarante-cinq ans.</small
          >
          les nations modernes n’ont pas à calquer leur attitude sur celle des
          femmes arriérées qui, en yougoslavie comme partout, ont accepté et
          acceptent le retour auprès d’elles des violeurs, dans le droit fil de
          la tradition matriarcale-antiféminine.
        </p>
      </div>
    </div>
  </div>
</div>
