<div class="container-fluid bg-dark text-light py-5 mt-5">
  <p class="text-info">
    aux ouvrières qui savent ou pressentent qu’il n’y a rien de plus intéressant
    que la sexualité, qu’il n’y a pas d’expérience humaine plus importante que
    le plaisir sexuel, aux intelligentes-amoureuses ouvrières, l’ouvrière,
    l’hétérosexuelle s’adresse.
    <br />elle se livre à la conversation libertine et précieuse, noeudienne,
    elle publie ses intentions plastiques, sa conspiration intersexuelle, sa
    paresseuse révolution autosexuelle, qu’elle intitule la révolution
    intersexuelle de la paresse. <br />elle combat la répression
    antisexuelle-antiféminine, pour la libération et la généralisation de
    l’hétérosexualité.
  </p>
  <h1 class="text-danger">
    l’hétérosexualité est la seule relation intégrale entre femme et homme.
  </h1>
  <p>
    la zoociété capitaliste utilise les mots de parité, complémentarité,
    égalité, mixité, interchangeabilité, équité et leurs inverses, qui ne sont
    que des critères économiques d’organisation et de gestion des sexes, des
    corps et du travail, d’homosexualistes fétiches identificateurs et
    collectivisants pour refouler la distinction hétérosexuelle,
    l’individualisation et empêcher la question de la liberté sexuelle de se
    bien poser. la révolution intersexuelle de la paresse ne respecte ni les
    croyances ni les traditions ni les vidéologies
    <span class="small">– qu’elles soient
    culturelles, économiques, esthétiques, familiales, géographiques,
    médicales, morales, nationales, organisationnelles, philosophiques,
    politiques, psychologi-ques, raciales, religieuses, scientifiques,
    spirituelles ou zoociales</span> . la révolution intersexuelle de la paresse fait
    sans exception primer le sexe. par exemple, elle considère comme nulles, en
    toute élection  <span class="small">– organisationnelle, associative, politique ou syndicale –</span>
    les options partisanes et les hommes comme inéligibles.
  </p>
  <hr />
  n’importe quoi peut être touché par la critique noeudienne parce que n’importe
  quoi est sexuel. elle n’est pas tendre : des vieilleries du vieux monde, rien
  ne mérite d’être conservé. la critique noeudienne ne fait pas dans
  l’indulgence : nulle n’échappe à l’enfer présent des guerres homosexuelles.
  <hr />
  <span class="lead text-danger"
    >la sexualité, comme la liberté, comme la nutrition, ne connaît ni la morale
    ni la légalité ni le calcul, elle ne connaît que la pratique.</span
  >
  <p class="text-info">
    l’ouvrière, l’hétérosexuelle prévoit le recommencement de la révolution
    française dans trente ans, en ouverture de la longue révolution
    féminine-prolétarienne, internationale et intersexuelle, qui se poursuivra
    jusqu’à l’extinction du mode de production capitaliste dans trente ans,
    ainsi que la mise en oeuvre des premières tentatives génétiques
    d’immortalité portant sur le contrôle des séquences d’adn, désignées comme
    programme génétique de suicide, mort cellulaire programmée, ou apoptose,
    codant programmant et transmettant la mort dite naturelle encore couplée à
    la morphogenèse.
  </p>
  <p>
    ce que les vidéologues appellent non pas une crise économique mais une
    mutation, n’est autre que la dissolution de la zoociété capitaliste
    pornographique homomaternelle. ces affirmations, qui seront étayées au fil
    des prochaines lignes, tiennent de la critique noeudienne, radicalité du
    matérialisme hétérosexuel dont ce livre, l’ouvrière, l’hétérosexuelle, est
    un manuel d’habituation éployée. la révolution intersexuelle de la paresse
    vise à la convergence temporaire des femmes et des hommes qui considèrent
    que la paresse est le stade suprême de l’effort, la reconnaissance négative
    du travail; qu’elle est, dans le monde du labeur, le lit de l’invention et
    de l’intelligence – comme refuge de l’usage conjoint de la main du sexe et
    du cerveau, prémices à la pratique intégrée du corps –; que l’exaltation de
    la paresse doit accompagner et accélérer la dissipation du travail afin que
    personne ne le regrette et que soit enfin laissé libre cours au goût des
    plaisirs réciproques de l’amour hétérosexuelle.
  </p>
  <p>
    l’intersexuelle de la paresse promeut le défaitisme autosexuel dans la
    guerre inter-homosexuelle dominante, milite pour l’indépendance de la
    sexualité par rapport à l’économie, et oeuvre à la mise en place des
    conditions de réciprocité nécessaires à la pleine activité sexuelle, au
    libre éploiement de l’hétérosexualité et de l’autosexualité de chacune et de
    chacun.
  </p>
  <p>
    la révolution de la paresse projette la mutation de la zoociété humaine en
    société, la fin de l’ère de l’<i>homo sapiens sapiens</i> et le commencement de
    celle de l’<i>eva sexualis</i>. la révolution combat, sélectivement et patiemment,
    toutes les formes d’arriération; l’interse-xuelle travaille à l’accouchement
    de la société des individualités – sexuées, libres et égales.
  </p>
  <p>
    la révolution de la paresse rejette toute partition de l’humanité en tribus,
    communautés, races et oeuvre à l’effondrement de toutes les classes dans
    l’ouvrière ultime classe zoociale : elle combat le mythe de l’existence des
    races et de la coexistence – hiérarchique ou égalitaire – des communautés.
    l’intersexuelle est donc ennemie tant des racistes de droite, qui se veulent
    de la race unique et désirent une zoociété unihomoraciale, que des
    multiracistes de gauche, qui se veulent d’une zoociété multiraciale et
    multiculturelle et désirent perpétuer la répression antisexuelle
    multidisciplinaire qui, seule, assure l’emprise familiale, collectiviste et
    identitaire des communautés sur les personnes.
  </p>
  <p>
    la révolution intersexuelle de la paresse combat l’inégalité sexuelle des
    vassalaires et conforte toutes celles et tous ceux qui résistent à la
    violence qui leur est faite. l’intersexuelle de la paresse agit pour le
    métissage intégral et la dissolution de tous les collectivismes, au profit
    de la liberté sexuelle individuelle. la révolution affirme la possibilité de
    chaque fille et chaque garçon, chaque femme et chaque homme de ne pas
    appartenir à un groupe, de n’être pas la chose ou le sujet d’une communauté.
  </p>
  <p>
    la révolution intersexuelle de la paresse récuse l’usage de tout centre,
    toute organisation, toute instance censée la représenter, tout sigle ou
    insigne censé la désigner.
  </p>
  <h1>la différence sexuelle est la seule qui ait de l’avenir.</h1>
  <p>
    toutes autres différences sont appelées à s’effacer dans le mouvement
    historique d’humanisation – c’est-à-dire de féminisation – de l’humanité :
    le commerce et les communications entraînent le brassage des cultures et la
    conversion progressive des religions au culte de la marchandise; les
    disparités économiques et zoociales n’ont rien d’immuable et la richesse
    globale, toujours plus grande, ne tardera pas à atteindre un niveau tel
    qu’elle ne pourra plus être partagée; le métissage qui accompagne ces
    mouvements fait fondre les communautés. mais ces glaciers mortels, vestiges
    d’identifications ancestrales, ne se désagrègent que lentement, et la
    distinction sexuelle, source de la plus grande jouissance – le plaisir
    hétérosexuel –, est continuellement travestie, réduite au silence, brimée,
    falsifiée, ignorée, alors que les différences vidéologiques, si souvent
    prétextes de conflits et justifications de violences, sont en permanence
    exaltées, exagérées comme si elles devaient être scrupuleusement conservées.
    <br />
    qu’elle soit hiérarchique ou égalitaire, pacifique ou belliciste, la
    coexistence des communautés est synonyme d’étouffement des individualités
    parce qu’elle suppose le respect des cultures traditionnelles donc le mépris
    de la liberté sexuelle des filles et des femmes – sans laquelle la liberté
    n’est rien. les cultures précapitalistes ne se perpétuent que par la
    répression antisexuelle qui, seule, assure l’emprise familiale,
    collectiviste et identitaire des communautés sur les personnes.
  </p>
  <p>
    la révolution intersexuelle de la paresse opte pour le métissage intégral et
    la dissolution de toutes les communautés – qui ne sont qu’héritage primitif
    du règne animal, les zoociétés – au profit de la liberté sexuelle
    individuelle. elle affirme la possibilité de chaque fille, chaque garçon,
    chaque femme, chaque homme de ne pas appartenir à un groupe ou à une
    quelconque entreprise collectivisante, de n’être pas la chose ou le sujet
    d’une communauté, de ne pas s’identifier à ces racines qui nourrissent
    racismes, tribalismes, nationalismes, patriotismes, etc.
  </p>
</div>
