<h1>voix sur la dialectique spectaculaire</h1>
<p>
  celles et ceux qui veulent nuire réellement à la zoociété savent pratiquer une
  plastique qui détruit fondamentalement cette zoociété; dès que cette
  plastique, qui est pratique de la matérialité hétérosexuelle, est un peu
  divulguée, à condition qu’elle le soit dans des évitements qui perturbent le
  repos public, et avant même qu’elle en vienne à être exactement éployée, le
  mécontentement partout en suspens sera aggravé, et aigri, par la seule
  connaissance vague de l’existence d’une condamnation plastique de l’ordre des
  choses. et après, c’est en commençant à mener avec assurance la guerre de la
  liberté hétérosexuelle, que toutes et tous les prolétaires peuvent devenir
  stratèges. il faut aussi que cette plastique soit parfaitement admissible et
  déclarer mauvais, à la stupéfaction indignée de celles et ceux qui le trouvent
  bon, l’espace total même du monde existant, en en ayant découvert la nature
  homo-antisexuelle exacte. la plastique nœudienne, qui noue plastique des nœuds
  rares, plastique des nuées nœudiennes et plastique sexuelle, répond à toutes
  ces exigences.
</p>
<h2>a</h2>
<h3 class="fs-5">
  le principal défaut jusqu’ici du matérialisme dialectique est que l’activité
  concrète, la subjectivité, n’y sont saisies que sous la forme de pratiques et
  de produits économiques ou de vidéologies, non en tant que sexualité, de façon
  affective.
</h3>
<p>
  c’est ce qui explique pourquoi l’aspect politique fut développé par le
  matérialisme dialectique, en opposition à la sexualité
  <small
    >– mais seulement abstraitement, car le matérialisme dialectique ne connaît
    naturellement pas l’affectivité réelle, la sexualité concrète comme
    telle.</small
  >
  le matérialisme dialectique a ainsi généré un nouvel idéalisme, celui de la
  confusion des corps de la pensée
  <small>– articulée à la pensée des corps –</small>, avec les corps concrets;
  le point de vue de la totalité ouvrant à une rationalité supérieure s’enlisant
  dans l’impuissance des amalgames théoriques stériles, car ne considérant pas
  l’hétérogénéité sexuelle, il s’est lui-même piégé dans les filets de
  l’homosexualisme. c’est pourquoi les communistes ne considèrent comme
  authentiquement humaine que l’activité économique tandis que la sexualité
  n’est saisie et fixée par eux que dans sa manifestation familiale sordide,
  c’est-à-dire <b>pornographique</b>. ce pourquoi ils ne comprennent pas
  l’importance de l’activité sexuelle, du plaisir comme critère
  pratique-critique.
</p>
<h2>e</h2>
<h3 class="fs-5">
  la question de savoir s’il y a lieu de reconnaître à l’activité économique une
  vérité affective n’est pas une question politique mais une question plastique.
</h3>
<p>
  c’est plastiquement que la femme et l’homme prouvent la vérité c’est-à-dire la
  réalité et la puissance de leur vie. la discussion sur la réalité ou
  l’irréalité d’une pratique économique indépendante de la sexualité est
  purement vidéologique, c’est-à-dire fantasmatique. l’histoire réelle
  inconsciente n’a été en réalité que l’histoire du travail mort, faisant motif
  plastique de renversement avec le surtravail. la totalité actuelle du travail
  vendu devenue marchandise totale n’est que la forme déguisée de la sommation
  intégrale du travail mort devenue spectacle. la zoociété du spectacle est le
  capitalisme intégré d’une telle accumulation de travail mort, donc de
  surtravail, qu’il s’est muté en spectacle générant sa pensée garantie par
  l’état, duale du futé poltrone pragmatisme, vidéologie inerte du travail mort.
</p>
<h2>i</h2>
<h3 class="fs-5">onu - organisation nécropoliste unifiée</h3>
<p>
  cette zoociété, d’abord à la fois diffuse et concentrée du fait des rapports
  du travail vivant au travail mort, plonge ses racines dans les lointaines
  zoociétés d’invention du marquage et du deuil, dès lesquelles l’apparente
  circulation des femmes masque celle du travail mort c’est-à-dire de l’échange
  des mâles corps valués <i>dessexués</i>, d’où l’illusion volontaire et rouée
  de l’éternel présent. le monde unifié de la zoociété du spectacle est devenu
  ainsi une unique nécropole automortificatrice déclinant toutes les variantes
  de la nécrose parasitaire : nécro -logies, -mants, -phages, -phores, -psies.
  cette <b>organisation nécropoliste unifiée</b> a poussé à son terme
  <b>l’échangeabilité</b>.
</p>
<h2>o</h2>
<h3 class="fs-5">les marwistes</h3>
<p>
  les marxistes, dévergondés intellectuels maniaques du qu’est-ce que ça cache?,
  veulent que les hommes soient les produits des systèmes économiques et que,
  par conséquent, des hommes transformés soient des produits des systèmes
  économiques différents. ils oublient précisément que les hommes sont une
  classe sexuelle, les femmes l’autre et que la transformation hétérosexuelle de
  celles-ci et de ceux-là passe précisément par la transformation des rapports
  sexuels. c’est pourquoi les marxistes tendent inévitablement à diviser la
  zoociété en deux parties inatteignables répondant transversalement aux
  spectaculaires diffus et concentré. la coïncidence du changement zoocial et de
  l’activité sexuelle ou autosexualité ne peut être considérée et comprise
  révolutionnairement qu’en tant qu’activité plastique.
</p>
<h2>u</h2>
<h3 class="fs-5">base laborieuse, base temporelle et guerre antisexuelle</h3>
<p>
  frédéric engels, charles marx et sigmund freud partent du fait que l’économie
  capitaliste rend l’homme étranger à lui-même et dédouble le monde en un monde
  fantastique, celui du spectacle, et un monde temporel, celui du travail. leur
  oeuvre consiste à résoudre le monde du spectacle en sa base laborieuse. ils
  n’ont pas vu que, ce travail une fois accompli, le principal restait à faire.
  le fait notamment que la base temporelle se détache d’elle-même et se fixe
  dans les nuées constituant ainsi un royaume autonome ne peut s’expliquer
  précisément que par le déchirement antisexuel, anticlitoridien
  <small
    >– le clitoris est le seul organe, féminin sans équivalent masculin, gynéal
    donc, exclusivement voué au plaisir –</small
  >
  qui impose aux femmes d’être la classe inférieure et par l’inclussive interne
  de cette base temporelle qui notamment ressuscite le travail mort en
  parasitisme, en ornement, en gâchis, en représentation, en comportement, en
  truanderie, en répression, en névrose, en rite, en cérémonie, en famille, en
  masque, en surveillance, en texte, en droit, en morale, en sexualité, en
  spiritualité, en superstition, en état, en image, en rêve, en mémoire, en
  récit, en mythe, en sentiment, en technique, en religion, en art, en
  philosophie, en science, en personne, en publicité, en design, en culture –
  selon les modèles animaux, hypertrophiés, de la parade disciplinaire, de la
  répression soumise; bref de l’homosexualisme inarticulé. ce qu’on appelle
  "inhumain" n’étant que le signe de cette hypertrophie. pour la reproduction de
  l’espèce et pour l’homosexualité mâle, le clitoris n’a pas de fonction –<small
    >d’où le sceau férocement anticlitoridien de l’alliance maternomâle</small
  >
  . il faut donc d’abord comprendre ce qu’est cette base temporelle dans son
  inclusive imposée pour la révolutionner ensuite plastiquement en supprimant la
  guerre antisexuelle, fondatrice de la zoociété. donc, une fois qu’on a
  découvert, par exemple, que l’homosexualité familiale est le secret de
  l’homosexualisation zoociale, c’est la première désormais dont il faut faire
  la critique nœudienne et qu’il faut anéantir. cette destruction de la famille
  est de toutes les nécessités renversantes, celle que les théories et pratiques
  révolutionnaires ont jusqu’à présent refoulée avec le plus d’insistance.
</p>
<h2>aa</h2>
<p>
  les collectivistes, que ne satisfait pas la liberté sexuelle, qui est la vive
  liberté elle-même, en appellent à la vidéologie de classe; mais ils ne
  considèrent pas les classes en tant qu’organisations homosexuelles. ce faisant
  ils n’ont pas pu comprendre le fait que la bourgeoisie ayant été la seule
  classe disparate à avoir jamais vaincu, car elle est la seule classe à être le
  destin manifeste de l’économie, n’a pas réussi sa révolution – dire ainsi
  revient à comparer fallacieusement cette classe aux autres et donc à attendre
  sans fin, avec plus ou moins de pessismisme, une révolution symétrique
  ouvrière – car, comme toujours, il n’y a de révolution que du droit des
  femmes, ce pourquoi les révolutions, nécessaires et lassantes, sont toujours
  en retard sur les mutations. la phase de 1789 fut celle du droit des femmes au
  divorce. le dit "retard dans la liquidation révolutionnaire du capitalisme"
  n’est retard qu’en tant qu’il n’est observé que dans le référentiel économiste
  homoviril. dans la réalité il mesure l’écart existant entre l’homosexualisme
  de la lutte des classes et l’hétérosexualité de l’insertion/intervention de la
  féminie dans la révolution. quand le niveau de cette intervention annule cet
  écart, la révolution est complète; s’ouvre alors une ère de mutations, de
  nouvelles exigences, de nouvelles luttes. en dehors de ces cas, ce qu’on a
  coutume d’appeler "révolutions" ne sont soit que des "involutions", soit que
  des "dévolutions" : les involutions reflètent l’immaturité des luttes des
  classes lorsque les nouveaux moyens de production n’ont pas envahi la totalité
  de la sphère zoociale; les dévolutions réalisent des transferts de pouvoirs à
  un tiers incluant. les involutions précèdent les révolutions en 20 ce qu’elles
  permettent aux femmes de retrouver le cheminement des métamorphoses
  nécessaires pour révolutionner les moyens de production et la zoociété qui
  leur convient; les dévolutions succèdent aux révolutions en ce qu’elles
  subtilisent les conquêtes féminines, en attendant la prochaine involution. la
  bourgeoisie a été le vecteur obligé d’une mutation au sein même de l’humanité
  <small
    >– conservant les femmes dans l’identique nuée du génital mépris, donc des
    personnes, métamorphosée en le système intégré du spectaculaire mépris
    –</small
  >, comparable à la réorganisation des génomes après l’issue du primate
  aquatique, la cuisson des aliments et la division intersexuelle du travail
  <small>– l’apartheid génital du travail.</small> la bourgeoisie demeure,
  quelles que soient les mirages réalistes et les fumées vidéologiques, la
  domestique contrainte de futures mutations d’autres nuées, accompagnées de
  leurs révolutions confluentes des nouveaux emplois de la vie et du temps,
  notamment par la fin du trop-long vassalariat : fieffée entreprise, saint
  patron suzerain, singulier contrat collectif, vassalariée, marché et foire de
  dupes, serve-chômeuse et serf-chômeur sans accès au contrat. ces révolutions
  noueront la liberté individuelle et l’amour hétérosexuelle dans leur plénitude
  et leur évolution, ce pourquoi désormais <i>nous avons besoin d’abondance.</i>
</p>
<h2>ae</h2>
<p>
  les matérialistes résolvent l’essence de l’homme en l’espèce. mais l’essence
  humaine n’est pas une abstraction inhérente à ce qui s’identifie comme tel,
  isolé. dans sa réalité elle est l’ensemble des rapports ho-mozoociaux. les
  zoocialistes divers qui n’entreprennent pas la critique de cette moitié du
  couple intersexuel, sont par conséquent obligés :
</p>
<ol type="1">
  <li>
    de faire abstraction du cours de la féminisation et de faire de l’économique
    une chose immuable, existant pour elle-même, en supposant l’existence d’une
    identifiée auto-homosexuelle, à la propriété privée, ce dont l’économie
    sexuelle germaine de guillaume reich fut la folle tentative de renversement
  </li>
  <li>
    de considérer l’asexué être humain uniquement en tant que genre, en tant
    qu’universalité interne, muette, liant d’une façon purement naturelle les
    nombreux asexes, oublieux philosophiques
    <small
      >– au sens où l’homosexuel honteux nietzsche désigne la volonté de
      désincarnation de la philosophie –</small
    >
    de la vulve-vagin et de la verge.
  </li>
</ol>
<h2>ai</h2>
<p>
  c’est pourquoi les matérialistes ne voient pas que le système économique est
  lui-même un produit génital, une prothèse du détournement de la sexualité,
  même son résidu, et que l’identifié abstrait qu’ils analysent appartient en
  réalité à un rapport antisexuel déterminé. les successives et accrues
  précipitations des homosexualismes accélèrent les tendances à la
  dessexualisation entraînant l’effondrement de la sexualité, ce qui nourrit sa
  transformation en travail qui se décompose en travail vivant et travail mort
  <small
    >– qui ne sont ici que substitut d’exposition de leur revirement, torsade
    permutante du vivant et tresse du mort et du surtravail –</small
  >, civilisatrices forces ténaculaires qui torturent les pulsions sexuelles les
  faisant alimenter toujours plus le travail vivant qui se transforme et se
  réduit ainsi de plus en plus et de plus en plus vite en travail mort, source
  intarissablement polluée du pornographique capital.
</p>
<h2>ao</h2>
<p>
  après la période juvénile feuerbachienne du remplacement du sujet par le
  prédicat qui à la dessexuelle philosophie de la misère renvoyait sexuellement
  à la misère de la philosophie et dont la dictature du prolétariat qui en issit
  n’était qu’une prédicature, s’éploie la plastique noeudienne,
  hétéro-autosexuelle, ce qui est la diction même comme la productrice est la
  dirigeante même, l’amour l’amour. toute vie est essentiellement sexuelle. la
  vie veut la vie, la mort la mort. bien que la vie fasse vivre la mort et que
  la mort tue la vie, la vie se fait vivre et la mort se tue, ce qui entraîne
  qu’il y aura toujours plus de vie et toujours moins de mort, l’apoptose
  elle-même sera déverrouillée. le sexuel est ce qui fait fuir la souffrance et
  aspirer à la jouissance. tous les mystères qui détournent la liberté sexuelle
  vers le praticisme idéalo-matérialiste, tout ce qui fait jouir de la
  souffrance et souffrir la jouissance, trouvent leur solution plastique dans le
  primat de la sexualité et dans la critique noeudienne de cette sexualité.
</p>
<h3>au</h3>
<p>
  le résultat le plus avancé auquel atteint le matérialisme dialectique,
  c’est-à-dire le matérialisme qui ne conçoit pas l’activité sexuelle comme
  activité pratique, c’est la façon de voir des homomâles isolés et de la
  zoociété homomaternelle. jusqu’à présent l’inconscient a été l’ultime
  résistance à la compression abêtissante des vassalariées, résistance par
  laquelle s’est réfugiée et préservée la sexualité toujours nucléairement
  incompressible au grand dam des répresseurs. cette sexualité nucléaire a fait
  exploser les tenailles qui l’enserrent et tend à s’irrésistiblement épandre.
  c’est la matérialité de la deuxième révolution mondiale
  <small>– premier quart du 21e siècle –</small> répondant à la première du
  premier quart de veille des premières huminidées, qui ne connaît plus de
  limite zoociale.
</p>
<h2>ea</h2>
<p>
  le point de vue ancien est la "zoociété spectaculaire", très exactement la
  "zoociété homomaternelle pornographique" dans laquelle les viols sont la
  technique de base du mode de production paternel : homomaternelle parce que la
  famille est l’origyne et le sanctuaire de la violence antiféminine, masculine
  et maternelle, pornographique parce que la propriété privée impose aux
  personnes de ne paraître que comme marchandises, machines-vivantes se
  produisant par morceaux, mains, cerveaux, organes, ventres, sexes,
  identifiées de valeur d’usage en valeur d’obsolescence de la gérontéconomie,
  zoociété parce que la remise en scène superstitieuse permanente du travail et
  de la famille qu’est l’état n’est que la forme inhumaine de la gestion animale
  supérieure des ressources et des corps dans et pour laquelle
  l’homomaternalisme pornographique y dessine les traits de la mafia policée
  comme mode et méthode de gestion de l’irréalisation des désirs. s’annonce la
  mutation du climat car est apparue l’aurore évocatrice de l’interminable
  saison des amours, les femmes hétérosexuelles et les hommes hétérosexuels se
  délestant de la fantaisie d’une mithridatisation à l’égard de la toxicité
  homosexuelle. la pratique de la plastique noeudienne c’est la nuée rare,
  duelle d’une femme hétérosexuelle et d’un homme hétérosexuel.
</p>
<h2>ee</h2>
<p>
  de même qu’il n’est au pouvoir d’aucune humaine d’attenter à la totalité de
  la zoociété humaine, il n’est à la charge d’aucune le sort de cette zoociété.
  dès qu’une prend à charge le malheur zoocial, la sauvegarde de la
  civilisation, cela signifie en réalité qu’a été abolie en soi la recherche du
  plaisir hétérosexuel, c’est-à-dire encore que le malheur zoocial est l’image
  projetée réalisée de son propre malheur. du coup, prendre en charge le destin
  de la zoociété humaine ce n’est ni plus ni moins que la forme camouflée du
  désir de voir son propre destin pris en charge par les autres. l’angoisse de
  l’"avenir de l’humanité" n’est que la forme spectaculaire inversée de la
  misère de son propre passé affectif. la répression antisexuelle n’a fait que
  transformer les homosexualismes, ce qui importe c’est de les plastiquer
  quotinœudiennement c’est-à-dire de vivre la matérialité hétérosexuelle. la
  sexualité, indénombrable alors que deux font la vulve-vagin et la verge, ne
  connaît ni la morale ni la légalité ni le calcul, elle ne connaît que la
  pratique.
</p>
<p>paris, juillet 1996</p>
