<h1 class="fs-3 text-center border1">anthropologie nœudienne</h1>
<h2 class="fs-4 badge bg-warning mx-3 my-3 physique">horde et ordre</h2>
<div class="row">
  <div class="col-sm-10">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="physique fs-5"> habitat </mat-panel-title>
          <mat-panel-description>
            <span class="econo"> famille milieu, milieu nutritif </span>,
            <span class="physique">
              espèce, horde, niche écologique, rassemblements</span
            >
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
          les animaux sont asservis aux conditions naturelles de leurs niches
          écologiques. une telle niche connaît peu de fluctuations de son espace
          et de son temps propres, et de ses réseaux fonctionnels. les
          conditions du relatif équilibre de la niche sont, au-delà de notre
          regard qui le construit comme tel, des modalités externes du corps.
          <br />en effet, la niche se constitue, et se transporte, comme
          projection du milieu nutritif de l’espèce qu’elle reflète et régénère.
          l’animal est comme le ludion de ce milieu, il en est une forme
          compacte, la plus complexe, c’est-à-dire la moins entropique, qu’il
          réalise, stabilise et épuise : la niche est un système plus compliqué
          que l’animal qui en a l’usage et le consomme, mais n’est pas une
          formation plus complexe que lui.
        </p>
        <p>
          la horde est un milieu pour ses composant·e·s. toute espèce animale,
          toute forme de vie, occupe un espace dans des conditions de prédation,
          c’est-à-dire de transfert d’énergie, déterminées mais fluctuantes. une
          forme est toujours incluse dans au moins une chaîne de transfert
          d’énergie : proie d’un prédateur, prédateur d’une proie. la cyclicité
          de cette chaîne, avec ses bourgeonnements de dérive et ses
          dédoublements qui semblent la compliquer, n’est qu’une réalisation de
          l’universelle invariance du mouvement, c’est-à-dire de l’énergie pour
          le représenter. en d’autres termes, il n’y a pas de méta-univers.
          l’<span class="econo">habitat</span> d’une forme quelconque est le
          lieu où tend à s’optimiser cette double tension économique : réduire
          la prédation, accroître l’emprise, dans le cadre des contraintes
          géophysiques. les rassemblements zoociaux, comme la famille par
          exemple, forment de tels <span class="econo">habitats</span> aussi :
          la localité familiale est tout aussi matérielle et objective
          <small class="text-muted"
            >– topologie des relations, gestes et déplacements, parfums, etc.
            –</small
          >
          que la localité géographique. lieu eutectique de forces conflictuelles
          l’<span class="econo">habitat</span> est homologue au nombre comme
          coupure : l’<span class="econo">habitat</span> est coupure. la niche
          écologique est la synarchie de ces localités structurellement nouées.
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="fs-5 ling"> <b>langage</b> </mat-panel-title>
          <mat-panel-description>
            <span class="cyber">- la matière vivante est compulsion</span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
          un langage est à l’origyne un ensemble malléable de signaux de
          proximité. il réalise une fonction universelle, celle
          d’attraction-répulsion, dans les conditions mouvantes de la matière
          vivante, correspondant à des effecteurs déterminés reflétant eux-mêmes
          les conditions matérielles du milieu. ils réalisent organiquement les
          fonctions de résonances du corps vivant et de son milieu dans la
          fonction de recherche alimentaire et d’abri, de cohésion entre la
          matière vivante et son milieu. <br />le langage n’est ni plus ni moins
          à l’origyne qu’une fonction-organe de contact. cette fonction-organe
          n’en représente pas moins l’usage du corps comme réel, l’usage du réel
          comme corps. comme toute forme, un corps est en quelque manière un
          bord de son univers. la rencontre des corps est une rencontre des
          bords : les corps s’abordent, jusqu’au point où les bords s’accordent.
          nouer des impulsions c’est produire de la compulsion; la matière
          vivante est compulsion. le langage est l’expression de cette
          compulsion en tant qu’excédent de la réactivité, le langage est
          l’excédent de compulsion. il inscrit le corps comme progrès du réel et
          s’inscrit lui-même comme extension du corps. c’est pourquoi la
          première image du progrès chez les panseurs (avec un a) positivistes
          est celle du développement des prothèses.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="fs-5"> prothèse </mat-panel-title>
          <mat-panel-description>
            <span class="econo">- homosexualisme</span>,
            <span class="ling">- langage articulé</span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
          le progressisme contemporain n’est qu’un prothésisme. <br />une
          prothèse est une extension spécifique et imitation artificielle du
          corps selon toutes ses déterminations : mécanique, acoustique,
          optique, thermique et chimique, voire électromagnétique ; les échelles
          relatives à ces différents registres sont disparates. tout ceci
          contribue aux fonctions biologiques, transformations énergétiques
          telles l’alimentation, l’excrétion, etc., la reproduction en étant un
          reflet plastique, autrement noué, d’un excès d’énergie emmagasinée.
          <br />ce prothésisme fait suite à, et accompagnera plus tard, d’autres
          progrès : les métamorphoses de la sexualité et leurs conséquences sur
          les métamorphoses économiques. il se conjoindra ultérieurement au
          déploiement du langage articulé. tout ceci concourt à optimiser la
          cohésion de la matière vivante avec son environnement. la naturalité
          de cette cohésion n’est que la mesure d’un mutuel asservissement. ce
          sur quoi se fonde d’emblée l’homosexualisme.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="fs-5"> progrès </mat-panel-title>
          <mat-panel-description>
            <span class="econo">- travail vivant</span>,
            <span class="psy">- travail mort</span>
            <span class="cyber">- utiliser c’est contrôler</span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
          un progrès devient possible lorsqu’un discours tend à s’établir sur un
          outil, c’est-à-dire sur un savoir, c’est-à-dire sur un contrôle;<span
            class="cyber"
          >
            utiliser c’est contrôler.</span
          >
          à ce titre, l’utilisation n’est que l’amplification définitive et
          maximale des fonctions de la vie, à savoir : survivre. l’état
          <small class="text-muted"
            >– qui n’a pas besoin d’être l’état d’une nation entière, voire de
            trop grand groupe –
          </small>
          est apparu comme super outil de contrôle, contrôle de la sexualité
          comme fondement de tous les autres contrôles.
          <br />
          à l’époque moderne le discours est apparu comme une nécessité
          intrinsèque du capitalisme : lorsqu’une masse de travailleurs a
          développé dans des conditions déterminées un savoir – un savoir-faire
          –, le capital capte, extrait ce savoir et le transforme en machine.
          <br />le travail vivant s’est réalisé en
          <span class="psy">travail mort</span>. aussitôt la masse des
          travailleurs est dévalorisée et son niveau moyen retombe face aux
          nouveaux moyens de productions qui s’opposent à elle, telle une quille
          sur l’eau qui s’élève et s’abaisse au gré des marées
          <small class="text-muted"
            >– ce phénomène est repéré par volterra en 1935, dans le cadre des
            associations biologiques.
          </small>
          <br />la somme potentielle du travail vivant à toujours pour jauge la
          somme actuelle de travail mort. la somme actuelle de travail vivant a
          toujours pour jauge la somme résiduelle de travail mort. l’époque du
          savoir-faire laisse la place à l’époque du faire-savoir. <br />ce fait
          explique pourquoi une révolution, qui s’inscrit dans le prothésisme,
          c’est-à-dire est en fait une involution, peut ne pas aboutir :
          l’énergie des masses est captée, extraite et figée dans la machine
          correspondante, voire l’institution comme machine réelle d’une
          légitimité fictive. la révolution peut laisser la place à la
          dévolution; la théorie semble précéder la pratique –
          <small class="text-muted"
            >l’enseignement semble suivre l’installation.</small
          >
          <br />un savoir, c’est-à-dire un ensemble de connaissances organisées,
          est mécanisable car il est devenu spécialisé, répétitif, reproductible
          et segmentable – donc analysable. c’est ce que cristallisent l’outil
          ou la machine, l’arme ou l’instrument. <br />ces prothèses, toujours
          plus sophistiquées, cumulent les compositions qui tiennent
          <small class="text-muted"
            >– leur négation dialectique qui prend la forme d’une
            reconfiguration et d’une réduction physiques, donc d’une
            augmentation des capacités et des compétences productives –
          </small>
          et tendent à l’intégration des fonctions, puis des structures.
          <br />les involutions prothésistes
          <small class="text-muted"
            >– crises historiques qui ne débouchent pas sur des transformations
            sexuelles, et transforment la zoociété sur le plan de l’outillage et
            des échanges –</small
          >, commencent à mourir lorsqu’elles s’organisent à la fois par la
          fixation de l’énergie créatrice et par la résistance transversale
          induite qu’elles génèrent et qui s’oppose au mouvement.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="fs-5 sex">
            économie et sexualité
          </mat-panel-title>
          <mat-panel-description> </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
          le prothésisme est essentiellement
          <b>intégrateur et expansionniste</b> puisqu’il ramasse les parcelles
          symboliques du conflit humanité/nature et réorganise la horde humaine
          à partir des nouveaux systèmes de production. ce qui rend
          contradictoire, transformable, l’économie est sa double nature
          prothésique et sexuelle, le prothésisme se confrontant au
          conservatisme sexuel, la sexualité restant essentiellement jusqu’à nos
          jours invariante et refoulante. <br />ceci rend stationnaire le
          déploiement de l’économie, soumise aux jeux de forces du désir et de
          la fuite en avant qui concourt à rendre l’économie paradoxale,
          massivement invariante et cependant fluide.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="fs-5"> mécanisme </mat-panel-title>
          <mat-panel-description
            ><span class="econo">langage articulé</span></mat-panel-description
          >
        </mat-expansion-panel-header>
        <p>
          le bâton ou la pierre qu’on jette sont déjà des outils mais pas des
          instruments
          <small class="text-muted">– encore moins des machines –</small>
          car ils ne possèdent pas les qualités d’extension du corps n’étant pas
          articulés par eux-mêmes et de plus non composés ni modulables. seul le
          corps, à l’origyne, possède quelques qualités articulatoires. au bâton
          ou à la pierre qu’on jette correspond, au plan du
          <span class="econo">langage</span>, le cri aigu, lors d’une attaque,
          d’une dispersion ou d’un rassemblement. une topologie endogène formant
          mémoire des événements, qu’ils soient mécaniques, acoustiques, ou
          autres. l’outil articulé, ou la combinaison d’outils par eux-mêmes
          rigides mais pouvant former structure, mécanisme, c’est-à-dire
          composition articulée, est un produit du
          <span class="econo">langage articulé</span> en tant que projection,
          attente d’une réponse différée, scission du rapport d’immédiateté
          entre l’action et la réaction, séparation du besoin et de sa
          satisfaction c’est-à-dire création d’un délai en tant que tel,
          matérialisé dans et par la chose, c’est-à-dire en tant qu’inséré dans
          le mode de pulsation propre à l’usage.
        </p>
        <p>
          <span class="econo fst-bold">langage articulé</span> et mécanisme,
          c’est-à-dire redistribution des fonctions séparées, simultanément
          identifiés aux décalages, avances et retards des rythmes naturels,
          font apparaître simultanément la pratique de la nuance et de la
          ponctuation : timbre, hauteur, ton, rythme, intensité, etc, quelle que
          soit la brutalité animale immédiate, un temps conservée.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="fs-5"> prédation </mat-panel-title>
          <mat-panel-description>
            <span class="psy">narcissisme</span>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <p>
          la prédation est un parasitisme par la violence et toute violence
          prédatrice ne sert qu’à installer le parasitisme. la force, et non la
          puissance dont elle dérive, qui demande un temps pour s’affirmer, est
          le mode d’être naturel du narcissisme, dont la structure rigide fixe
          le comportement du prédateur. lorsque celui-ci a peu de prédateurs il
          doute peu
          <small class="text-muted">– le doute est fils de la crainte –</small>
          le fort est seul. moins une espèce a de prédateurs, plus la brutalité
          de ses besoins s’impose à ses proies pour lesquelles elle apparaît
          comme une catastrophe naturelle permanente à laquelle elles
          s’adaptent. la douleur qu’éprouve une forme vivante est l’échelle et
          la mesure de son inadaptation aux catastrophes dont elle est victime.
          une proie est une non-victime adaptée, une victime est une proie
          inadaptée.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="physique fs-5"> horde </mat-panel-title>
          <mat-panel-description>
            <span class="physique"
              >organisation naturelle collectivisante
            </span>
            <span class="math">- solidarité des identifications</span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
          le genre et l’ampleur des besoins d’un prédateur modèlent la horde de
          ses proies. <br />c’est une des lois fondamentales des formes vivantes
          et l’un des ciments les plus puissants de leurs solidarités vitales.
          dans ces conditions, la horde est la forme que prend la faiblesse face
          au prédateur. elle représente un état stationnaire des conflits.
          <br />à ce titre la horde est une forme d’organisation naturelle
          collectivisante qui répond déjà à la dictature des pulsions d’un seul;
          elle est le niveau zéro, non encore véritablement noué, de la
          communauté ou plus exactement de la solidarité des identifications, à
          l’origyne de l’obligation collective de sécurité.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="fs-5"> prédation interne </mat-panel-title>
          <mat-panel-description>
            <span class="psy">narcissisme,</span
            ><span class="physique"> horde</span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
          dans une <span class="physique">horde</span>
          <small class="text-muted"
            >– comme dans un corps, car un corps est à sa façon une horde : de
            formes vivantes et de relations fonctionnelles entre elles –
          </small>
          il y a une prédation interne qui se reflète par la valeur et la
          fonction, le rôle et la mobilité de ses membres. les conditions
          naturelle primitives du <span class="econo">narcissisme</span>, la
          musculation par exemple, lui permettent d’établir les places
          respectives, mais fluentes, des identifiées de la horde. <br />la
          forme finale de la horde est elle-même le reflet, c’est-à-dire le
          dessin, de ces forces. la force est le premier opérateur de
          comparaison vital. <br />si la horde tient, les valeurs, fonctions,
          rôle et mobilité peuvent se métamorphoser. les faits de proximité
          aussi.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="econo fs-5"> habitat stable </mat-panel-title>
          <mat-panel-description>
            <span class="physique">horde, niches écologiques</span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
          un habitat est stable lorsqu’il annule les effets de la prédation. cet
          habitat peut varier dans le temps et l’espace, notamment en fonction
          des ressources alimentaires; il n’existe pas de niche écologique
          éternelle, une dérive plus ou moins lente est le produit permanent
          d’une intégration des forces, de l’adaptation souveraine à la
          mutation. par exemple, la période où les femelles sont pleines
          perturbe fortement les possibilités alimentaires de l’ensemble de la
          horde, ces femelles devant absorber une quantité supérieure, et
          meilleure, de nourriture ce qui, dans le cas d’un stock fixe,
          amoindrit la part des autres. dans le cas d’une aire alimentaire en
          voie d’épuisement, plusieurs scénarios sont possibles :
        </p>

        <ol type="1">
          <li>la horde entière émigre</li>
          <li>
            les femelles pleines, ou certaines d’entre elles, sont chassées,
            d’où la création de nouvelles hordes dirigées par les femelles dans
            le cas où elles survivent et retrouvent, recréent, donc un habitat
          </li>
          <li>
            les femelles pleines sont massacrées, et dévorées si la horde est
            autophage, ou meurent à l’occasion de leur expulsion de la horde
            soit qu’elles ne trouvent pas de nouvel habitat soit que leurs
            défenses sont insuffisantes
          </li>
          <li>
            les éléments de la horde se dispersent et la horde se dissocie,
            quitte à se recomposer partiellement du fait des conditions avancées
            précédemment.
          </li>
        </ol>
        <p>
          les animaux qui ont cessé d’évoluer explosivement car l’humanité a
          stabilisé leurs habitats sont nos dépendances alimentaires. <br />les
          seules évolutions possibles, explosives ou non, sont celles que
          provoque l’humanité, volontairement ou non
          <small class="text-muted"
            >– c’est l’effet anthropomorphique ou domestication généralisée de
            la terre, qu’elle soit directe ou induite –</small
          >, ou celles qui s’effectuent dans le silence de niches écologiques
          cachées ou encore soustraites aux effets de la prédation humaine. les
          insectes
          <small class="text-muted">
            – plus généralement toutes les bestioles –</small
          >, sont les animaux pour lesquels presque tous les habitats tendent à
          devenir stables.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="ling fs-5"> langage figé </mat-panel-title>
          <mat-panel-description>
            <span class="physique">- habitat stable</span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
          une horde en habitat stable développe un langage figé, non articulé,
          qui s’identifie à l’ensemble des actions plus ou moins étroitement
          fixé de la horde et forme une collection des signaux de proximité
          unique, à la structure relativement rigide, c’est-à-dire qu’elle
          s’identifie quasiment à un code, son code, peu malléable, ceci
          signifiant qu’une plasticité possible de l’usage ne rompt pas
          l’unicité, la monotonie, fonctionnelle. <br />ceci peut éventuellement
          se matérialiser dans une adéquation des organes et des fonctions, ce
          qui contribuera encore à figer l’état de langage atteint et donc à
          limiter les degrés de liberté, antiphrase des degrés de contrainte, de
          la plasticité d’usage, cependant que ces organes, nouveaux venus dans
          l’univers de la forme, pourraient contribuer à de nouvelles
          métamorphoses, voire des mutations.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span class="ling">dispertion</span>
          </mat-panel-title>
          <mat-panel-description>
            <span class="physique">- horde,</span
            ><span class="econo"> habitat</span>,
            <span class="ling"> langage</span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
          cette collection de signaux reflète l’histoire, c’est-à-dire les états
          significatifs par lesquels la horde est passée, et l’état actuel,
          dernier terme d’une série toujours ouverte bien que pétrifiée, de la
          horde à ce moment donné de la dispersion :
        </p>

        <ol type="1">
          <li>
            de la dispersion nulle, celle où les proximités étant les plus
            grandes possibles n’offrent aucune, ou presque, dépense
            d’attraction-répulsion
            <small class="text-muted">
              – et dans ce cas on observe un arrangement mobile de tous les
              constituants –</small
            >, jusqu’au point de refoulement minimum et d’attraction maximum
          </li>
          <li>
            à la dispersion maximum, où tous les constituants, éloignés les uns
            des autres, sont à la limite de perception des signaux, émission ou
            réception. la dispersion majeure, ou brisure, est celle où les
            éléments de la horde sont hors de portée des signaux mais à partir
            de laquelle cependant la horde peut se reformer quasiment à
            l’initiale
            <small class="text-muted"
              >– quelques membres ne la rejoignent pas et, peut-être, des
              membres étrangèr·e·s, plus ou moins isolées auparavant, s’y
              agglomèrent.</small
            >
          </li>
          <li>
            la dispersion totale, ou dissociation, absolue, est celle où chaque
            membre est livrée à soi-même dans le vaste monde.
          </li>
        </ol>
        <p>
          lorsque la dispersion ne dépasse pas les limites du domaine de
          l’habitat stable, le langage ne mue pas. il se compose de sons, cris,
          sifflements, etc., de parfums, de toutes les possibilités expressives,
          sonores et gestuelles, offertes par le corps et au corps
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="fs-5"> signifiants </mat-panel-title>
          <mat-panel-description>
            <span class="ling">- langage,</span
            ><span class="math">- identifiants</span>
            <span class="psy">- inconscients, inconscient </span>
            <span class="econo">- biologique</span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
          les sons sont des bruits caractéristiques c’est-à-dire des formes
          stables, évanouissantes et itératives. comme bruits, ils sont formés
          d’impulsions. <br />ce sont ces impulsions qui trouvent dans le
          signifiant leur forme compacte comme synthèse dialectique qui les fait
          oubliées. seulement, l’énergie de ces impulsions pour n’être pas
          infinie est enclose dans la largeur d’une durée. les impulsions
          elles-mêmes étant séparées par un écart qui en mesure
          l’indiscernabilité. <br />cet écart est l’écart minimal
          d’intelligibilité, c’est-à-dire minimum d’identification, d’où se
          construit en sens la chaîne des signifiants. <br />en deçà, le
          signifiant qui en résulte se noie dans une bouillie continue,
          insécable, pôle imbécile du langage, et aucun message n’est possible.
          <br />au-delà, les signifiants perdent leurs rapports nécessaires de
          proximité, pôle débile du langage, et aucun code ne trouve son
          armature. le signifiant est le signal reconstruit à partir de la série
          de ses impulsions, celle-ci apparaissant comme un échantillonnage
          opéré sur le réel. <br />le signifiant a donc la forme d’une pulsation
          dont l’énergie est la somme totale des énergies des impulsions entrant
          dans sa combinaison. deux impulsions sont identiques si elles ont même
          durée et même énergie, l’inégalité de l’un des deux paramètres ou
          simultanément des deux entraîne la distinction des deux impulsions. la
          variabilité de la durée, d’une impulsion à l’autre
          <small class="text-muted"
            >– non nécessairement corollaire d’une variation de la quantité
            d’énergie –</small
          >
          comme la variabilité de l’écart d’indiscernabilité entre impulsions,
          couplées à la variabilité de l’échantillonnage
          <small class="text-muted"
            >– c’est-à-dire de la hauteur d’une impulsion et de leur nombre –
          </small>
          créent une grande multitude de découpes possibles dont le signifiant
          est un représentant. la signifiance se trouvant ainsi être une
          plastique de la modulation et des harmoniques cachés dans le
          signifiant, celui-ci étant activé par les horloges de ses impulsions
          constituantes.
          <br />en d’autres termes, cela signifie que le signifiant est déjà un
          complexe pour lequel les rapports mutuels de ses constituants sont à
          l’origyne de sa stabilité interne, ainsi que de sa stabilité dans ses
          rapports à d’autres signifiants. <br />ce sont ces éléments qui font
          jonction entre l’inconscient psychique et l’inconscient biologique.
        </p>
        <p>
          l’<b>itération</b> est due à la qualité de résonateur du corps. le
          langage est possible lorsque cette itération est contrôlée
          c’est-à-dire que lorsqu’une pulsation est perçue elle est réutilisée
          compulsivement
          <small class="text-muted"
            >– si cette pulsation génère la jouissance –
          </small>
          d’abord puis rythmiquement c’est-à-dire masturbatoirement.
          <br />le rythme consistant en un décalage de la jouissance
          <small class="text-muted"
            >– comme disparition de barrière de potentiels –
          </small>
          et des moyens d’y accéder, c’est-à-dire en la formation de potentiel,
          ce décalage formant lui-même une forme et cette forme étant répétée.
          <br />
          évanouissement comme forme, répétition et apparition comme trait de la
          jouissance génèrent le langage.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="ling fs-5">
            langage articulé
          </mat-panel-title>
          <mat-panel-description>
            <span class="econo">habitat instable, </span>
            <span class="physique"> horde</span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
          une horde qui tient en habitat instable développe des états de langage
          articulé. <br />
          le langage, articulé ou non, est un organe de préhension acoustique.
          il possède tous les caractères des organes équivalents : préhension,
          rétention ou répulsion. <br />la horde se construit au travers de ses
          états de langage qui la constituent comme <mark>grande autre</mark>,
          réceptacle et dispensatrice des codes. c’est à ce titre qu’elle
          organise et régit la hiérarchie des droits et des devoirs,
          c’est-à-dire l’ensemble des lignes isobares des pouvoirs et isochores
          des usages. <br />un code est immédiatement un champ d’affiliation de
          ses usagères, un filtre de ses ayant-droits, l’origyne des droits
          sur lesquels peuvent s'ajuster les membres de la horde. le ou la
          chef·ve de la horde est tout à la fois le ou la maître·sse de
          l’économie, de la sexualité et des signifiants. <br />cette triple
          capacité construit la horde à l’identique, du domaine habité à la
          réserve le langage articulé s’articule sur les désirs du ou de la
          maître·sse. de langage.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="math fs-5"> parade </mat-panel-title>
          <mat-panel-description>
            <span class="econo"> habitat instable</span>,
            <span class="physique">
              horde, parcours mimique, hiérarchie zoociale</span
            >, <span class="psy">- narcissisme</span>
            <span class="econo">- homomaternalisme</span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
          dans un habitat instable le prédateur interne est soumis aux mêmes
          forces que les autres membres de la horde. c’est dire qu’il risque sa
          place. c’est à l’occasion de cette lutte permanente pour la place de
          prédateur interne que l’énergie des vaincus passe en mascarades
          bruyantes de combat sans risque et en fuite
          <small class="text-muted">– ce qu’on appelle sauver la face –</small>
          qu’on peut tout aussi bien entendre comme la face se sauve et montre
          son derrière. lorsque les adversaires sont face à face ils parcourent
          ensemble tous les signifiants de la force et de la préséance, du
          narcissisme et de la prédation. si, à la fin de ce parcours mimique
          une hiérarchie des signifiants apparaît à l’avantage de l’un des
          adversaires le combat réel n’est pas nécessaire : le vainqueur sera le
          maître des signifiants. si au contraire il y a ambiguïté, incertitude,
          incompréhension
          <small class="text-muted"
            >– voire incompétence à reconnaître les signifiants –</small
          >, ou égalité alors les adversaires s’affrontent. <br />l’éducation
          des jeunes est moment et forme, généralement atténuée, de cette
          parade, tout ceci concourant à la hiérarchie zoociale; d’où le rôle de
          l’homomaternalisme comme conservation des places et transmission des
          codes. les traditions en seront les mises en scènes pétrifiées et
          pétrifiantes
          <small class="text-muted"
            >– réglementation non des droits mais de la tristesse, disait
            <em>cioran</em>.</small
          >
          <br />cette palpation mutuelle des signifiants est aussi à l’oeuvre
          dans la séduction. les cris et les odeurs ont des effets inhibiteurs,
          à la fois sur l’agressivité du prédateur et sur la terreur de la
          proie, ils dénotent une énergie dont le potentiel peut ne pas être
          supportable et imposent donc des barrières indépassables au prédateur
          et franchissables par la proie. <br />la mascarade, combinaison
          gestuelle, fragrante ou sonore, composition de grimaces répulsives,
          mouvements d’affronts et cris inhibiteurs, est l’image représentée de
          cette énergie dans les conditions d’une fuite non effective, image de
          la réversibilité possible de la situation de danger.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="econo fs-5"> humanité </mat-panel-title>
          <mat-panel-description>
            <span class="econo"> habitat,</span>,
            <span class="cyber">- auto-prédation</span>,
            <span class="physique">- organisations zoociales</span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
          par le travail, la terre entière est devenue la proie de l’humanité.
          l’humanité est la seule espèce à être passée à l’état de prédateurs de
          ses prédateurs et à son autoprédation
          <small class="text-muted">
            – c’est-à-dire jusqu’à l’époque du capitalisme mondial, le
            zoocialisme n’en étant qu’une variante ressuscitée
            adaptative.</small
          >
          <br />ce fait a été rendu possible par la permanence de l’instabilité
          de son habitat dans laquelle elle a constamment vécu, dans sa masse,
          comme le montrent encore les grandes migrations contemporaines.
          <br />cette période n’a pas encore pris fin. les systèmes économiques,
          les langues, la sexualité, les organisations zoociales qui en
          découlent, portent témoignage mnémonique dans leur structure des
          couches d’habitats historiquement occupés dans des conditions de
          stabilité, d’instabilité faible ou de forte instabilité données.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="fs-5"> signe </mat-panel-title>
          <mat-panel-description>
            <span class="econo"> l'homomaternelle </span>,
            <span class="math"> identifié, identification </span>,
            <span class="physique">horde </span>,
            <span class="ling"> langages</span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
          les langues s’articulent avec des mots. les mots sont des motifs,
          assemblages de signes, participant à des montages qui s’effectuent
          simultanément en sélection et combinaison. <br />le signe est d’emblée
          communauté du signe et signe de la communauté. c’est cette propriété
          armantaire initiale qui fait surgir de la
          <mark>grande autre</mark> comme réel, l’homomaternelle, la réalité du
          sujet et de la sujette, qui est à l’origyne de tout code possible. le
          signifiant est impératif car le signe est immèratif, ou encore le
          signifiant est plongée car le signe est immergeant. à partir des codes
          situés dans la <mark></mark>grande autre l’intentionnalité
          <small class="text-muted"> – pulsion issue du besoin – </small>va
          modeler un message. par cet acte, il y a simultanément reconnaissance
          et création de sens, c’est-à-dire d’un forme mémorisée, empreinte
          désormais thésaurisée de l’orientation qu’ont prises les réactions de
          la sujette ou du sujet et de son état intérieur déterminé par le choc
          causé par son acte. ce qui est gouvernable est l’acte lui-même
          <small class="text-muted">>– y compris au lapsus près –</small>
          pour peu que la horde soit réflexive, c’est-à-dire permissive.
          <br />ce qui est incontrôlable c’est le sens en tant que résidu de
          l’acte, sans rapport nécessaire avec lui, en tant que chute, ou
          ornure, dont la contrôlabilité n'atteint que la limite du champ de
          sens déjà élaboré et stagnant dans la <mark></mark>grande autre et
          différé sur le sujet ou la sujette puis diffracté par lui ou par elle.
          <br />que le signe se délite est effet et signe de l’altération de la
          communauté, celle-ci produisant les dérives inverses du signifiant et
          du signifié qui ne sont, du signe armantaire, qu’une représentation.
          les langages non articulés ne connaissent pas l’altération du signe
          puisque l’articulation est l’effet de l’altération de la communauté. à
          l’origyne, il n’existe que des contraintes naturelles, hordonnées,
          c’est-à-dire armantaires. le signe est alors l’image de la corporéité
          régnante : contrainte du prédateur sur la proie, et renoncement de la
          proie face au prédateur, le prédateur étant identifié au signifiant
          identificateur de la horde
          <small class="text-muted"
            >– tout totem est signifiant armantaire –</small
          >, identification qui produit à partir du renoncement le consentement.
          <br />ce couple, à la fois par l’ordre nécessaire de ses composants et
          par le travail qu’il produit, contrainte/consentement fournit
          l’économie de production du signe. économie qui s’actualise dans les
          rapports structuraux entre signifiants et signifiés. il en résulte la
          fluidité voire la superfluidité
          <small class="text-muted"
            >– ça peut s’en échapper du fait de la composition impulsive du
            signifiant – </small
          >, de ces rapports, dont un état se réalise en l’autonomie du
          signifiant, et dont un renversement réalise, tout aussi bien,
          l’autonomie du signifié. ce couple qui donne sa consistance au signe,
          désormais signe armantaire, produit les effets de parole. de ces
          considérations sur la composition du signifiant il infère que les
          effets de parole sont nécessairement effets de corps.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="sex fs-5"> parole </mat-panel-title>
          <mat-panel-description>
            <span class="econo"> langage, </span>
            <span class="cyber"
              >- torsades simples, lunules, coins alternés, coin retournable,
              permutations...</span
            >
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
          la parole est le langage oral, articulé, muable. <br />classiquement,
          les mots sont des actes de dimension zéro, ce sont des scalaires
          d’actes, des tenseurs d’ordre zéro du langage; les actes de langage
          étayés sur des phrases sont les vecteurs, c’est-à-dire des tenseurs
          d’ordre un, du langage. enfin, les discours en sont les tenseurs
          d’ordre deux, et nulle parole ne connaît de dimension supérieure car
          cette dimension est la dimension du sexuel.
        </p>
        <p>
          la topologie de cet espace n’est pas celle dont rend compte la
          mathématique :
          <span class="cyber"
            >les mots sont formés soit comme torsades
            <small class="text-muted"
              >– simples, c’est-à-dire mailles à un seul croisement, et
              multiples, c’est-à-dire mailles irréductibles à plusieurs
              croisements –</small
            >
            soit comme coins alternés
            <small class="text-muted"
              >– c’est-à-dire mailles formées de trois brins qui se croisent
              deux à deux dessus-dessous, les trois ornures étant identiques, ou
              com-me coins non alternés, dits encore coins retournables –
            </small>
            c’est-à-dire mailles formées de trois brins qui se croisent deux à
            deux mais dont une ornure est différente des deux autres, soit comme
            épingles retournantes ou non, mailles formées d’un brin bordé de
            deux croisements, soit encore comme permutations
            <small class="text-muted"
              >– c’est-à-dire torsades doubles alternées, dites encore lunules,
              accompagnées en coin d’une torsade simple faisant pivot de la
              métamorphose, ou encore comme agrafes –
            </small>
            c’est-à-dire montage d’une lunule et d’une épingle retournante,
            etc.. </span
          >c’est sur cet ensemble de dimension nulle que se fonde la parole
          comme étoffe potentielle
          <small class="text-muted">– comme dioptre –</small>, comme pellicule
          ou comme nouage traversant les corps de la horde comme la horde
          elle-même et à partir de laquelle le ou la sujette surgira, comme
          courbure intrinsèque faisant bord; les métamorphoses noeudiennes
          faisant phrases et les états des noeuds discours sexuels.
          <br />simultanément, la parole recèle la mémoire de ce dont elle est
          issue dans ses conditions d’émission.
        </p>
        >
        <p>
          elle se déroule comme échec de parole, c’est-à-dire comme sexualité
          sublimée, aliénée au jeu maximal des signifiants qui s’offrent sans
          nombre à sa discrétion. <br />le corps parlé est résistance à la
          parole comme faux-cadavre, c’est-à-dire comme réel compulsif par
          effraction duquel la parole s’effectue.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="psy fs-5"> conscience </mat-panel-title>
          <mat-panel-description>
            <span class="psy"> inconscient, fantasme, </span>
            <span class="econo">- langage articulé</span
            ><span class="sex">- parole</span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
          voilà l’origyne de la conscience. installée dans le fantasme, elle se
          déploie dans la fiction. elle estla forme d’acquisition du fantasme.
          c’est ce fait qui explique la résistance du ou de la sujet·te mis·e en
          position de parole. la parole dimensionne et oriente le réel
          <small class="text-muted"
            >– ce qui se structure par la synchronie et se vérifie par
            l’écriture –</small
          >
          , de plus elle le noue et l’exerce par la diachronie.
          <br />la conscience n’est à l’origyne que le résidu produit par la
          parole, sa bave. d’où la fiction du savoir. elle provient de la
          fabuleuse invention de la réflexion verbale gutturale, ou parole
          rentrée, c’est-à-dire verbalisation sans ouverture de la bouche et
          sans émission sonore
          <small class="text-muted"
            >– source de l’illusion et de la confusion saussuriennes –
          </small>
          niveau de la gorge; ce qui a dû suivre la longue période où les
          humain·e·s ne pouvaient qui s’effectue, comme toute une chacune
          peut le vérifier en quotidienne expérience, au certainement penser
          qu’en parlant, à partir du coup de glotte et du grognement, période où
          l’acte et la parole ne faisaient encore qu’un, sans écart, comme on le
          voit dans la brutalité épaisse et la prime enfance. voilà l’origyne du
          secret de la profondeur de la pensée.
          <br />la conscience ne se connaît pas car elle n’a ni fixité, ni borne
          et ne cesse de se rencontrer. dans le cas contraire, comme
          l’inconscient, ou comme dieue, elle accéderait immédiatement à la
          totalité de son domaine. <br />
          à cette pensée brute se nouait économiquement l’appropriation brute,
          c’est-à-dire le rapt. période où se constitue le matériau de
          l’inconscient. la pensée n’apparaît comme superstructure indépendante
          du langage articulé que par l’erreur de perspective due à l’oubli de
          son origyne invisible et à la méconnaissance de l’inconscient auquel
          elle répond par inertie, puisqu’en effet elle prélève sur le réel
          l’information qu’elle ne peut que dégrader par l’interprétation. c’est
          ce qui semble la rendre indépendante, lui attribuer les pouvoirs des
          locuteurs ou locutrices, voire les surpasser. si l’on y ajoute la
          projection visuelle lorsque les paupières sont fermées, on aura toute
          la magie de la pensée. le réel du ou de la sujet·te, c’est-à-dire sa
          situation de sujet·te dans son corps propre se réduit à se localiser
          en tant que moi à hauteur, et légèrement derrière, des yeux et à la
          distance, ainsi qu’à la conformation, de sa gorge et de ses lèvres. il
          ne peut en être autrement pour le ou la sujette humaine, sujette du
          fantasme. la transmission du spectacle, le passage à l’écrit
          nécessitent l’ouverture des paupières et la création d’une paupière
          fictive recevant le résidu des projections intérieures, rideau plus ou
          moins plastique de la mise en scène du fantasme; la muraille, le
          solide, la page ou l’écran ou la mise en ordre d’une série d’accidents
          : traits, noeuds cailloux, qui en permettent la neutralisation et la
          manipula-tion. une extension de cette sensation-localisation du réside
          plus ou moins selon les sujet·tes, moi dans les mains organes du
          toucher de la masturbation et du travail, dans les zones dites
          érogènes ou douloureuses qui, lorsqu’elles sont activées, assument une
          part de cette sensation-localisation.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="cyber fs-5">voix </mat-panel-title>
          <mat-panel-description>
            <span class="sex">- parole,</span>
            <span class="physique">- horde</span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
          la voix est l’instrument, le vecteur et la force déployée de la parole
          et sa portée constitue le réseau régulier des repères acoustiques de
          la horde. elle met en oeuvre, par ses inflexions et son débit, les
          jeux de résonances implicites du signifiant et en expérimente les
          attractions, les enchaînements et la permanence. l’articulation,
          c’est-à-dire l’altération de la communauté, est une désarticulation
          armantaire et fait surgir le temporel en remodulant les horloges
          pulsionnelles. <br />
          c’est ainsi que l’articulation n’est qu’une phase de la
          désarticulation armantaire qui, pouvant aller jusqu’à la
          désorganisation, entraîne chez le ou la sujet·te de la parole la
          possibilité de la déviance glossolalique.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="physique fs-5">ordre </mat-panel-title>
          <mat-panel-description>
            <span class="sex">- parole</span><span class="cyber">- voix</span>
            <span class="physique">- réhordonner</span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
          - parler c’est sélectionner et combiner. mais cela est insuffisant et
          devient inexact si l’on n’ajoute tout aussitôt que sélectionner c’est
          déjà projeter le résultat de la combinaison, comme combiner c’est
          réaliser le résultat de la sélection. parler c’est donc à la fois
          projeter comme anticipations et effectuer sur les axes matériels de la
          parole
          <small class="text-muted">–voix et langue d’usage -</small> cette
          anticipation. <br />ce fait explique pourquoi, travaillée par le
          couple contrainte-consentement, la parole est toujours suivie d’effet.
          en d’autres termes, parler c’est toujours réhordonner. ou tenter de
          réhordonner! <br />les effets mesurent les degrés de liberté et de
          puissance armantaire de la parole de qui parle
          <small class="text-muted">
            – comme représentante de la <mark>grande autre</mark></small
          >, à qui est parlé·e
          <small class="text-muted"
            >– comme représentante nodal·e de la topologie de la
            <mark>grande autre</mark>, de son espace et ses sentiers ou
            lacets–</small
          >
          , la locution palpant en quelque sorte, les lieux de résistances, et
          donc de remodelage, de cet espace incluant le ou la parlante en tant
          que parlée dès que la parole est émise, d’où l’importance sexuelle
          substitutive de la voix. le réel est la réalité du ou de la sujette
          dans ce qu’il ou elle consomme.
          <br />
          langage et sujette se consomment mutuellement. ce que le ou la
          sujet·te ne consomme pas du réel mais qu’il ou elle consomme comme
          information d’autres réalités alimente son imagynaire
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="fs-5"> temps </mat-panel-title>
          <mat-panel-description>
            <span class="physique">- horde,</span
            ><span class="econo">- langage</span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
          puisque l’articulation fait apparaître le temporel
          <small class="text-muted">>– comme pluriel des temps –</small>
          d'une autre manière cioran exprime ce fait en écrivant que l'identité
          d'un vocable recouvre quantité d'expériences divergentes.
          <small class="text-muted"
            >- elle en indique les métamorphoses qui s’origynent dans la
            désarticulation spatiale de la horde.</small
          >
          <br />les formes du temps, c’est-à-dire les organisations des éléments
          du temporel, apparaissent donc comme des métamorphoses des espaces de
          la horde, métamorphoses transcrites dans le langage actualisé de la
          horde par les délais, écarts, précipitations ou retards instituant les
          temps de pulsation du signifiant. <br />c’est une loi plastique qui
          veut que, plus la désagrégation armantaire se poursuit, plus
          apparaissent des formes de plus en plus différenciées du langage, des
          formes de langages de plus en plus différents, les langues
          accompagnant leurs formes associées du temps. <br />au bout du compte,
          advient l’humain·e comme de plus en plus désaccordé·e de l’animal,
          l’humain·e comme animal désaccordé, d’un troupeau de plus en plus
          désarticulé. <br />c’est le temps où les mains ont accompli leur cycle
          et deviennent outils de la captation imagynaire, ayant été les
          instruments de la captation masturbatoire du plaisir. les trois
          moments structuraux de ce cycle qui noue toutes nos histoires sont le
          moment de prendre, ou captation, le moment d’assimiler ou regard et le
          moment de restituer c’est-à-dire de dessiner.
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
