<div class="row pt-1 mt-2">
  <div class="col-sm-2">
    <ul>
      <li>
        <a routerLink="/contact/mailing">{{ "MAILING" | translate }}</a>
      </li>
      <li>
        <a routerLink="/contact/map">{{ "MAP" | translate }}</a>
      </li>
      <li>
        <a href="https://www.paypal.com/paypalme/fredfichant ">{{
          "DONATION" | translate
        }}</a>
      </li>
    </ul>
  </div>
  <div class="col-sm-8 my-3 text-justify text-light py-1">
    <div class="my-5 py-3 ps-4 pe-2 bg-secondary border1 shadow-lg">
      <h1 class="bg-warning text-success">{{ "TITLE1" | translate }}</h1>
      <p>
        {{ "P11" | translate | translateCut: 0 }}
        <br />{{ "P11" | translate | translateCut: 1 }}
      </p>
      <p>
        {{ "P12" | translate | translateCut: 0 }}
      </p>
      <p>
        {{ "P13" | translate }}
      </p>
      <p>
        {{ "P14" | translate }}
      </p>
    </div>
    <div class="my-5 py-3 ps-4 pe-2 bg-secondary border1 shadow-lg">
      <h2 class="bg-primary">{{ "TITLE2" | translate }}</h2>
      <p>
        <i>{{ "P21" | translate }}<br />{{ "P22" | translate }}</i>
      </p>

      <h2 class="bg-primary">{{ "TITLE3" | translate }}</h2>
      <p>
        {{ "P31" | translate }} <em class="bg-light">josef bayema</em>,
        {{ "P32" | translate }} <br />à l'époque j'occupais un poste d'éducateur
        technique en jardinage et j'avais pu bénéficier à ce titre d'une
        formation courte sur le sujet de la psychose. le formateur était un
        psychanaliste qui termina son propos avec le concept lacanien du nœud
        borroméen, le réel, le symbolique et l'imaginaire. j'avoue avoir éprouvé
        à cet instant une sensation d'incomplétude. la curiosité poussa mon
        investigation jusqu'à solliciter une rencontre auprès de josef.
        <br />trés peu de gens pratiquent la plastique nœudienne et jusqu'à
        maintenant, je n'ai pu que constater ce fait annoncé dans le texte
        <a href="./domains/knotpast" class="bg-warning"
          >écriture de l'indicible</a
        >. et ceci en dépit du fait d'avoir un peu partout tenté de divulguer
        cette nouveauté. peut être que je suis encore le seul au monde à
        chercher des dessins de nœuds rares. comme de bien entendu, la création
        de ce site est une nouvelle tentative pour transmettre cette pratique.
        <br />
      </p>
    </div>
    <div class="my-5 py-3 ps-4 pe-2 bg-secondary border1 shadow-lg">
      <h2 class="bg-danger">{{ "TITLE4" | translate }}</h2>
      <p>
        nous n'utilisons pas de MAJUSCULES au début des mots et pour les noms
        propres. le point suffit à fermer une phrase et à en débuter une autre,
        comme dans la plastique nœudienne, il n'y a pas de privilèges. ce qui
        n'empêche d'utiliser d'autres moyens comme les couleurs pour spécifier
        des mots ou des phrases, des personnages ou des citations
      </p>
    </div>
    <div class="my-5 py-3 ps-4 pe-2 bg-secondary border1 shadow-lg">
      <h2 class="bg-success">{{ "TITLE5" | translate }}</h2>
      <p>
        {{ "P5" | translate }}
      </p>
    </div>
  </div>
</div>
