<div class="row pt-3">
  <div class="col-md-2">
    <ul>
      <li><a routerLink="/contact/mailing">Mailing</a></li>
      <li><a routerLink="/contact/map">Map</a></li>
    </ul>
  </div>
  <div class="col-sm-8 my-5 text-justify text-light py-3">
    <div class="my-5 py-3 ps-4 pe-2 bg-secondary border1 shadow-lg">
      <h1 class="bg-warning text-success">what is nœudian plastic ?</h1>
      <p>
        it is this practice that is referred to as nœudian plastic .
        <br />let's take a step back: when we calculated with Roman numerals,
        calculations quickly became impossible, zero did not exist! with
        hindo-arabic ciphering the universe of numbers has conquered the world.
        nothing is thought without the number, directly or in the background.
        the real "globalism" began with this and culminates in technology,
        especially computer science, and... sociology, that is to say the
        digital tracking of populations.
      </p>
      <p>
        with the nœudian practice it seems that a new paradigm appears. a sign
        of this conceptual revolution is given by the veritable frenzy (the word
        is weak!) which has gripped topologists and the more or less friendly
        echo they encounter within other scientific practices. but... as in any
        revolution there are two ways... at least! and no more than the
        Hindo-Arabic numerals erased the Roman numerals which found refuge in
        pendulums, will the nœudian practice erase the numeral.
      </p>
      <p>
        our ambition is to distribute an overview of the plastic book of rare
        nodes and other works that followed, in order to allow each and everyone
        to embark on this adventure and to learn about the nœudian plastic with
        a piece of paper as their only baggage, a pencil and a lot of
        curiosity.the sequences are arranged in such a way as to simply progress
        in complexity.
      </p>
      <p>
        the text and drawings step by step provide the tools, vocabulary, method
        and illustrations needed to draw the swarm of a rare knot . this
        systematic exposition is not linear; moreover, the notions evoked here
        intersect with each other...like a knot.
      </p>
    </div>
    <div class="my-5 py-3 ps-4 pe-2 bg-secondary border1 shadow-lg">
      <h2 class="bg-primary">lettre de l'auteur</h2>
      <p>
        <i
          >quand tu en auras assez de filer droit dans l’espace orthosexuel de
          l’agynécographie, tu t’apercevras que la plastique sexuelle — qui est
          au travail sur les noeuds ce que poésie et linguistique sont à
          l’apprentissage d’une langue nouvelle —, à peine née nuée au printemps
          1993, te répondait déjà.
          <br>nous devons être persuadé e s que la nature
          du vrai est de percer quand son temps est venu, et qu’il se manifeste
          seulement quand ce temps est venu; c’est pourquoi il ne se manifeste
          pas trop tôt et ne trouve pas des lectrices sans maturité
          auto-hétérosexuelle pour le recevoir; nous devons être aussi
          persuadé e s  que l’individu e a besoin de ce résultat pour se
          confirmer dans ce qui n’est encore que sa conviction solitaire
          autosexuelle , et pour éprouver comme quelque chose d’universel la
          conviction qui appartient d’abord seulement à la
          particularité....l’action efficace de l’oeuvre sur la lectrice est
          plus discrète que l’agitation de ces morts ensevelissant leurs
          morts....cette action lente prépare ainsi aux un e s seulement au bout
          de quelques temps un monde qui est le leur, tandis que les autres
          après une vogue temporaire n’ont plus de postérité.</i
        >
      </p>

      <h2 class="bg-primary">note de l'éditeur</h2>
      <p>
        j'ai découvert la plastique nœudienne en faisant la rencontre de son
        inventeur, <em class="bg-light">josef bayema</em>, qui est l'auteur de
        la plupart des textes de ce site. c'était en 2007. <br />à l'époque
        j'occupais un poste d'éducateur technique en jardinage et j'avais pu
        bénéficier à ce titre d'une formation courte sur le sujet de la
        psychose. le formateur était un psychanaliste qui termina son propos
        avec le concept lacanien du nœud borroméen, le réel, le symbolique et
        l'imaginaire. j'avoue avoir éprouvé à cet instant une sensation
        d'incomplétude. la curiosité poussa mon investigation jusqu'à solliciter
        une rencontre auprès de josef. <br />trés peu de gens pratiquent la
        plastique nœudienne et jusqu'à maintenant, je n'ai pu que constater ce
        fait annoncé dans le texte
        <a href="./domains/knotpast" class="btn btn-warning"
          >écriture de l'indicible</a
        >. et ceci en dépit du fait d'avoir un peu partout tenté de divulguer
        cette nouveauté. peut être que je suis encore le seul au monde à
        chercher des dessins de nœuds rares. comme de bien entendu, la création
        de ce site est une nouvelle tentative pour transmettre cette pratique.
        <br />
      </p>
    </div>
    <div class="my-5 py-3 ps-4 pe-2 bg-secondary border1 shadow-lg">
      <h2 class="bg-danger">typographie</h2>
      <p>
        nous n'utilisons pas de MAJUSCULES au début des mots et pour les noms
        propres. le point suffit à fermer une phrase et à en débuter une autre,
        comme dans la plastique nœudienne, il n'y a pas de privilèges. ce qui
        n'empêche d'utiliser d'autres moyens comme les couleurs pour spécifier
        des mots ou des phrases, des personnages ou des citations
      </p>
    </div>
  </div>
</div>
