<h1 class="fs-2 text-center text-warning">
  <i class="fas fa-pen"></i>
  clusters drawing<span class="badge bg-secondary mx-3 my-3">amas</span>
</h1>
<div class="row">
  <div class="col-sm-12">
    <h2 class="fs-3 text-center">un exemple ; le nœud 8<sub>20</sub></h2>
    <p class="lead">
      we draw the cluster from any of its states because each state harbors one
      or more patterns of metamorphosis and all of them are the "seed" of the
      cluster.
    </p>
    <div class="text-center">
      <img src="assets\SVG\c=8\amas821.svg"
      style="width: 60%"
      class="imgbg" />
    </div>
    <p>
      all the states of the cluster have the same number of crossings, eight,
      and all have arcs of maximum range p_m = 2p m ​ =2, according to the
      formula 8 ≥ 5.2 - 1 - 18≥5 . 2−1−1. exercise: verify that by inverting a
      crossing, Above below, of any state of the cluster below, and thus
      obtaining an arc oflitter_3p o r t And ˊ And 3 ​ , the state becomes
      reducible . the formula tells us that there cannot exist a prime node with
      a circle and 8 crossings accepting an arc of span > 2; for example,8 ≥ 5.3
      − 1 − 18≥5 . 3−1−1 is false, etc.. the metamorphosis patterns are
      designated by signs placed in their active zones in order to recall the
      states of the same sign that they generate. the state Ω is the only state
      with two patterns and giving only one metamorphosis , that is to say that
      the performance of the two metamorphoses gives two indistinguishable
      results, the state € -- exercise: try ; the states ♣ and ♥ are each
      self-transforming, that is, one of their patterns returns the state; we
      say it "misses"; in this regard it is fair to note that performing a
      metamorphosis that "misses" or doing nothing is not the same thing! the €
      state is the no state is the dual of any other, so they are all perfectly
      distinct, which is by the way the definition of state change.
      <small class="text-muted"
        >exercice : vérifiez qu'en inversant un croisement, Dessus dessous, d'un
        quelconque état de l'amas ci-dessous, et obtenant ainsi un arc de
        equation="portée_3">, l'état devient réductible </small
      >. <br />la formule nous indique qu'il ne peut exister de nœud premier à
      un rond et 8 croisements acceptant un arc de portée > 2; par exemple,
      equation="8 ≥ 5.3 − 1 − 1"> est faux, etc.. <br />
      les motifs de métamorphoses sont désignés par des signes placés dans leurs
      zones actives afin de rappeler les états du même signe qu'elles génèrent.
      <br />l'état Ω est le seul état possédant deux motifs et ne donnant qu'une
      seule métamorphose
      <small
        >c'est-à-dire que l'effectuation des deux métamorphoses donne deux
        résultats indiscernables, l'état € -- exercice : essayez</small
      >; les états ♣ et ♥ sont chacun autométamorphosables, c'est-à-dire qu'un
      de leur motif redonne l'état; nous disons qu'il "rate"; à ce propos il est
      juste de remarquer qu'effectuer une métamorphose qui "rate" ou ne rien
      faire ce n'est pas la même chose!<br />
      l'état <b>€</b> est l'intermédiaire obligé entre <b>Ω</b> et le reste de
      l'amas.<br />
      aucun état n'est le dual d'aucun autre, ils sont donc tous parfaitement
      distincts, ce qui est d'ailleurs la définition du changement d'état.
    </p>
    <h2 class="text-center">chemins dans l'amas, histoires</h2>
    <p>
      il n'y a pas de chemin
      <small>-c'est-à-dire une suite d'états consécutifs-</small> des
      métamorphoses privilégié pour parcourir l'amas, en voici un, par exemple,
      qui passe par toutes les flèches et tous les états; il comporte 14 états
      donc 13 métamorphoses : equation="Ω € Ş Φ ♥ ♥ € ♣ ♣ ♥ β Ψ € Ω">. <br />
      on peut imaginer que chaque métamorphose s'effectue à la plus grande
      vitesse possible, soit celle de la lumière, sur la plus petite longueur
      envisageable, soit la longueur de planck, etc. <br />
      le chemin ci-dessus, partant de <b>Ω</b> et y retournant, mettrait donc 13
      temps de planck pour s'effectuer, soit equation="13
      \times5,391•10^&#123;-44&#125;s ≈ 7•10^&#123;-43&#125;s">. il est donc
      loisible de rechercher, pour chacun des états par exemple, le plus court
      chemin dans l'amas partant de l'état et y revenant en ayant parcouru tout
      l'amas, c'est-à-dire être passé par tous les autres états.
    </p>
    <p>
      amas du 820 pour illustrer la notion de portance vue plus haut, nous
      donnons dans l'ordre lexicographique les portances des huit états de
      l'amas : <br />Ω 01011122 <br />€ 01020122 <br />♥ 01020212 <br />Ψ
      01021022 <br />♣* 01110212 <br />β* 01111022 <br />S,Φ 01112102 <br />les
      astérisques indiquent les états pour lesquels l'écriture de la portance
      connaît deux arcs de portée 0 de départ, c'est-à-dire produisant deux mots
      portance identiques, les mots étant circulaires; par exemple, la portance
      de ♣ peut se lire du premier 0 de la gauche vers la droite, et du second 0
      de la droite vers la gauche circulairement. <br />écrivons pour chacun de
      ces états leur polynôme de portance ṗ2 (nous sous-entendons l'exposant 2
      du premier coefficient et omettons le coefficient des arcs "0" - voir plus
      haut #portance) : <br />
      ṗ2 &#123; "&#123;" &#125;&#125;Ω, ♣, β, S, Φ&#123; "&#125;" &#125;&#125; =
      24 et ṗ2&#123; "&#123;" &#125;&#125;€, ♥, Ψ&#123; "&#125;" &#125;&#125; =
      32. <br />une relation qualitative simple existe entre le nombre d'arcs de
      portée la plus grande et la "flexibilité" de l'état : plus ce nombre est
      élevé, plus le potentiel de métamorphoses de l'état est important, comme
      on peut le remarquer dans l'amas ci-dessus pour les états € et ♥ qui sont
      les deux états qui offrent le plus de motifs de métamorphoses.
    </p>
    <p>
      ampleurs des états — voir plus haut #portance — (nous ne donnons le
      développement que pour Ω) : <br />
      Ω = 64 + 16 + 8 + 4 + 4 + 2 = 98, € = 106, ♥ = 108, Ψ = 110, ♣ = 124, β =
      126 et S = Φ = 134. <br />d'autre part, l'amas se comporte comme une
      variété pour laquelle, vu la singularité Ω, l'état € joue un rôle
      particulier : si on le retire, l'amas est coupé en deux tronçons, Ω d'une
      part et le reste sans € d'autre part. dans ce sous ensemble, un seul
      chemin complet minimal est possible (dans un sens ou dans l'autre) : Ψ β ♥
      ♣ ♥ Φ S. c'est ensuite au tour de ♥ de jouer ce rôle, etc.
    </p>
    <p>
      les noeuds à un rond et huit croisements sont au nombre de vingt et un
      dont dix-huit triviaux (alternés) et trois non alternés (métamorphosables
      donc). il est intéressant de comparer les amas de la nuée du même noeud et
      des autres noeuds dont nos dessins donnent l'un.
    </p>
  </div>
  <div class="col-sm-2"></div>
</div>
