<h1>internationnalité française</h1>
<h2 style="color: rgb(253, 184, 184);" >la france est le jardin du discours amoureux.</h2>
<p>
  elle est de longue date la plus grande puissance littéraire parce qu’elle est,
  par la grâce des françaises qui ont inventé le régime démographique moderne,
  la nation la plus <span class="sex"><span class="sex">hétérosexuelle</span></span> de l’histoire. l’intelligence amoureuse des
  françaises réside dans leur refus continu de la stratégie classe contre classe
  dont les angloaméricaines sont les championnes mondiales. la guerre permanente
  entre les deux classes génitales
  <small class="text-muted">– l’homosexe maternel et l’homosexe mâle -</small>
  est leur alliance contre la liberté sexuelle. elle ne tente donc guère les
  françaises, généralement plus animées par l’aspiration à la liberté
  <span class="sex">hétérosexuelle</span> que par la volonté homosexuelle de puissance qui secoue le camp
  maternomâle des ennemies de la liberté.
  <br> depuis quelques siècles, maintes
  françaises essaient, chacune pour sa part <span class="sex">hétérosexuelle</span>, de séduire un homme,
  de l’induire à se détacher de la troupe homomâle et glisser à l’écart du monde
  et du temps homose-xualistes, là où commence à s’achever la préhistoire
  humaine pour s’ouvrir le bonheur hétérosexuel
  <small class="text-muted"
    >– quand bien même il ne peut y avoir d’îlot de l’hétérosexualité</small
  >. d’où cette littérature dite érotique que la france est la seule à produire
  continûment depuis des siècles, et qui constitue le laboratoire des formes
  littéraires parce qu’elle est le sismographe de la sexualité. cette stratégie
  de la séduction des françaises a pour défaut, aux yeux des guerrières
  germaniques, d’être impolitique, de ne cesser d’échouer, et de ne sembler
  jamais pouvoir arracher de victoire paranoïaque. or il ne s’agit pas, pour les
  françaises, de gagner cette guerre mais de la vaincre ; il ne s’agit pas
  d’accéder à l’autorépression antisexuelle hystérique ou à l’autosuggestion
  obsessionnelle par les femmes de la répression antiféminine, mais de mener
  celle-ci à sa perte.
  <br>la littérature française est empreinte de cette
  perspective de libération de l’hétérosexualité. les histoires d’amour qui
  constituent la plupart de sa matière, ne sont encore que des chroniques de la
  guerre que l’homosexualisme fait depuis le fond des âges à l’hétérosexualité
  qui émerge lentement
  <small class="text-muted"
    >– mais inéluctablement car les nuées des plaisirs ont un potentiel
    d’éploiement sans commune mesure avec la répression anti-<span class="sex">hétérosexuelle</span> qui
    n’a à infliger qu’un nombre limité de coups, aussi misérables que
    cruels</small
  >. les romans sont des récits de batailles que l’hétérosexualité mène
  patiemment contre l’environnement homosexuel, qu’ils soient œuvres d’amies de
  celle-là ou de défenseurs écologistes de celle-ci. la littérature française
  est la fille de cette longue révolution; elle est aussi l’ambassadrice que
  l’hétérosexualité envoie à ses ennemies qui, en lui rendant hommage, se
  mettent chaque jour un peu plus dans leur tort.
  <br> la littérature est de
  l’hétérosexualité lorsqu’elle parle de l’amour de la femme et de l’homme,
  lorsqu’elle est réaction sexualiste contre la dessexualisation, lorsqu’elle
  choisit l’amour sexuelle individuelle contre l’ordre zoocial antisexuel. comme
  toute nation, toute littérature a le droit de devenir française; de prendre le
  parti de la liberté amoureuse, de cette liberté indéfendable que personne n’a
  voulue, et dont presque personne ne veut encore.
</p>
<h2 style=" color:rgb(144, 144, 250); background-color: red;">révolution française - révolution nationale</h2>
<p>
  au sens restreint, la <b>révolution française</b> couvre la période de l’histoire de
  france comprise entre juillet 1789 et novembre 1799, tandis que la révolution
  nationale domine la période comprise entre juillet 1940 et août 1944. au sens
  large, la <b>révolution française</b> et la <b>révolution nationale</b> sont deux mouvements
  historiques de longue durée, bien antérieurs et postérieurs à leur moment de
  précipitation et de prise de conscience aiguë.
  <br>à la <b>révolution française</b>
  s’oppose en tous points délibérément la <b>révolution nationale</b> : comme l’une est
  l’enfanteresse de la liberté, l’autre en est l’ennemie; comme celle-là est
  intrinsèquement internationale, celle-ci est nationaliste; comme l’une a aboli
  la ségrégation antijuive dans une large partie de l’europe occidentale,
  l’autre a rétabli la discrimination antisémite et largement contribué à la
  destruction national-zoocialiste des juives et des juifs d’europe; comme
  celle-là fait la france, nation universelle, celle-ci la défait en parcelles
  privées dont les français seraient les petits propriétaires; etc.
</p>

<h2 style="color: rgb(255, 72, 72);">la france n’appartient pas aux français !</h2>
<p>
  elle est un peu aux françaises, et toute à la liberté des femmes et des
  hommes, des nations et des peuples, du monde. avant de devenir, en 1795,
  l’hymne national français, le <b>chant de guerre de l’armée du rhin</b>, composé en
  1792, s’est fait connaître sous le titre méditerranéen de <i>la marseillaise</i>
  <em>parce que le sud ne commence pas à la loire, il commence au rhin</em>. interdite à
  partir de 1815, <i>la marseillaise</i> n’a retrouvé sa position officielle qu’en
  1879. entre temps, elle n’est pas restée sans emploi : de l’atlantique à
  l’oural, ce sont les prolétaires en révolution dans l’europe qui l’ont chantée
  en guise d’<em>internationale</em>
  <small class="text-muted"
    >– elle aussi chant de la révolution française, composé en 1871</small
  >.
  <br>cette double vie du <b>chant de guerre de l’armée du rhin</b>, débordant les
  frontières, sortant de sa fonction patriotique pour lutter partout contre les
  propriétaires du monde, ce choix des opprimés des nations dépossède le peuple
  français de la france en ce qu’il la fait trop grande, trop internationale et
  trop révolutionnaire pour lui tout seul. la phrase : <cite>tout homme a deux pays,
  le sien et puis la france</cite>, écrite vers 1880 (henri de bornier, la fille de
  roland, vers prononcé par charlemagne), procède de ce fait, témoigne de cette
  échappée historique, alors qu’il est bien difficile de ne pas aboutir à un
  énoncé absurde ou ridicule en essayant de l’appliquer à d’autres nations.
  <br>le  nationalisme qui nie précisément cette internationalité révolutionnaire de la
  france, voudrait ramener celle-ci à la dimension d’un quelconque peuple de
  copropriétaires pétainistes <small class="text-muted">– ce qui n’est jamais que la manière ordinaire
  d’être de la plupart des peuples</small>. se posant comme le négateur et l’effaceur de
  la révolution française, comme contrerévolution donc, il s’est lui-même
  dénommé révolution nationale, opposant à son tour nationale à française, tant
  est vive l’internationalité de la france. la contrerévolution antifrançaise
  <small class="text-muted"
    >– le nationalisme et ses adversaires qui ont le patriotisme en partage et
    ne disent pas que la france n’appartient pas aux français –</small
  >
  est l’affirmation de l’identité de la france et de toute autre nation, en ce
  sens qu’elle rend la france identique à n’importe quelle nation
  petite-bourgeoise.
  <br>la république française est l’alliance de la <b>révolution
  française</b> et de la contrerévolution antifrançaise : celle-ci ne peut se passer
  de celle-là, tandis que celle-là se moque littéralement de celle-ci et de
  cette république qu’elle lui abandonne tranquillement, comme elle lui a
  abandonné, il y a un peu plus de deux siècles, la monarchie absolue devenue
  obsolète. <i>la france est le support de la révolution qui porte la liberté comme
  la nuée l’eau, ou elle n’est rien</i>. l’intersexuelle propose que la france
  réinvente <b>le droit à l’internationalité française</b> : le droit de toute femme et
  de toute nation à devenir française, le droit de tout homme et de tout peuple
  à devenir français
  <br><em>– non pas en respectant l’identité nationale du peuple
  français, qui n’est qu’un arriéré de fantasmes, mais en situant la france au
  sud, dans la confédération méditerranéenne, en prenant part au métissage et à
  l’œuvre de désarriération dont la france est, malgré son pétainisme
  persistant, la locomotive internationale, comme elle est grâce aux françaises
  la nation la plus <span class="sex">hétérosexuelle</span> de l’histoire.</em>
</p>
