
h1 {

  background-color:red;
  text-align: center;
  border-radius: 1em;
}

h2 {
  background-color: rgb(6, 4, 161);
  color: white;
  text-align: center;
  border-radius: 1em;
  margin: 1em;
}
p {
  text-indent: -3em;
  margin-left: 3em;
  margin-right: 3em;
  text-align: justify;
}
mark {
  color: blueviolet;
  font-weight: bold;
}
em {
  font-style: oblique;
  color:crimson
}
cite {
  font-style: oblique;
  color: purple
}
.physique {
  color: blue;
}
.math {
  color: rgb(3, 101, 114);

}
.cyber {
  color: darkorchid;

}
.psy {
  color: goldenrod;
}
.econo {
  color: firebrick;
}
.ling {
  color: rgb(55, 190, 28);
}
.sex {
  color:red}
