<h1>plastic chromodynamic</h1>
<h2>material presentation</h2>
<p>
  here is a knotian pattern formed of three crossings named corner, drawn into a
  hexagonal frame, each thread has been labelled with a voyel and is common to
  two crossings, each crossing is common to two threads.
</p>
<h3>above-under reading.</h3>
<p>
  to each crossing is associated a symbolical marking, named ornure,
  corresponding to the above-under reading, as there are just two kinds of
  crossing, so there are two ornures, w and w’. unlike in mathematical methods,
  there is no standard of ornure attribution. once the first ornure has been
  attributed, only opposition makes the coherence. before we look at the ornure
  attribution protocol, we explain the knotian alternance.
</p>
<h3>alternance</h3>
<p>
  two consecutive crossings are alternated when their common thread pass now
  under, now above without reading order preconception. they form a pattern
  named alternated pin. two consecutive crossings are not alternated when their
  common thread pass always under or above. this pattern is named non-alternated
  pin.<br />therefore in a similar way, we can say : a corner is framed of three
  -- consecutive crossings -- threads crossed two by two --pins drawing up a
  flexible triangle. a corner is alternated if all its pins are alternated, it
  is non-alternated in the opposite case. on the drawing above, the corner is
  non-alternated, pin “i” only is alternated.
</p>
