<h1>12 courtes leçons modernes sur le capitalisme</h1>
<div class="d-flex align-content-end flex-wrap">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> 0 </mat-panel-title>
        <mat-panel-description>
          la force est le premier opérateur d’ordre
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        elle est aussi, dans le monde humain, le premier opérateur de
        comparaison. cette propriété lui vient de l’intégration du monde humain
        à l’espace de prédation. cet espace de prédation se développe selon les
        deux dimensions : agir pour manger, agir pour ne pas être mangé. la
        place du "respect" du congénère est mouvante, la reproduction sexuelle
        n’en est qu’une réalisation. cet espace de prédation génère, et est
        accompagné par, deux bases de toute psyché : la jouissance de manger et
        la terreur d’être mangé. tous les autres éléments psychiques ne sont que
        les infinies combinaisons des myriades de déclinaisons de ces deux
        bases. ceci stratifie les êtres humains en 3 âges fondamentaux :
      </p>
      <ol type="a">
        <li>
          la jouissance de manger, l’âge bébé-nourrisson, qui s’apparente à la
          situation strictement zoologique de l’être humain, avec ses
          satisfactions et insatisfactions, premiers modelages
        </li>
        <li>
          l’apprentissage de la terreur d’être mangé, connecté aux premières
          souffrances physiques, si elles existent ; l’âge de l’éducation,
          seconds modelages. un enfant qui n’a jamais souffert ne connaît pas
          cette peur, c’est le cas de bouddha, extrêmement rare sur terre,
          rapporté à la vie réelle de la masse du monde humain, semble-t’il.
        </li>
        <li>
          l’apprentissage et l’intrication active des deux âges précédents, ce
          que darwin appelait la lutte pour la vie. l’âge de la projection et de
          la viabilité zoociales, de la formation des alliances.
        </li>
      </ol>
      <p>
        toute vie zoociale est le frottement statistique, au sens d’einstein, de
        ces 3 âges vécus en groupes. chacun y défend ses intérêts au détriment
        d’autrui, en reconnaissant ceux dont les intérêts concourent au sien
        propre. toutes les notions éthiques, philosophiques, altruistes, ne
        servent qu’à justifier cet état de chose, justification qui, elle-même,
        est un aspect de ce qui précède. la sexualité, le don, sont les deux
        activités qui servent à unir, dans ces luttes planétaires et
        permanentes, les personnes au niveau des petits groupes, deux en étant
        le minimum. petits groupes en formations et déformations constantes,
        comme tout le reste.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> 1 </mat-panel-title>
        <mat-panel-description>
          il n’y a pas de science de l’économie-politique.
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>
        on y navigue à vue ; c’est un art comme la navigation maritime, qui
        connaît d’adroits capitaines et de franchement mauvais. cet art est
        totalement investi par les intérêts personnels qui, comme toutes choses
        humaines, se catégorisent du fait de la finitude. ces intérêts
        personnels sont, dans l’ère collective que nous vivons encore, et pour
        des siècles encore, valorisés par d’autres intérêts personnels qui sont
        dirigeants.
        <br />c’est le monde mouvant des alliances, plus ou moins déformables,
        et des adversaires désignés avec inconstance plus ou moins versatile.
        puisque la nature mouvante des intérêts personnels change constamment, à
        une plus ou moins grande vitesse, avec des accélérations passagères, les
        navigateurs changent.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> 2 </mat-panel-title>
        <mat-panel-description> il n’y a pas de peuples </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        les gens se regroupent, aléatoirement d’abord puis plus systématiquement
        ensuite, momentanément ou sur de longues durées, sur des fantasmes de
        peurs communes et de réactions à ces peurs, ainsi que de défenses
        d’intérêts qui forment des alliances, provisoires ou non, des multitudes
        d’intérêts personnels. ces regroupements se répartissent en alliances
        "cladiques", "phylogénétiques" (ces termes n’ayant ici qu’une valeur
        faible de désignation), plus ou moins inconstantes. c’est dire qu’il n’y
        a pas de solidarité qui ne servent des intérêts. c’est le sens profond
        de la défaite du christianisme dont l’échec, face à son idéal
        (simplement manger son pain sans manger celui des autres), se mesure par
        la séparation entre ses clades. le bouddhisme prône d’ailleurs le
        désintérêt du sort d’autrui comme du sien propre. les autres religions
        ne forment que des déclinaisons particulières des trois âges ci-dessus
        présentés
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> 3 </mat-panel-title>
        <mat-panel-description>
          les clades se hiérarchisent par leurs forces respectives
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        ces forces ont permis l’accaparement des ressources naturelles, des
        êtres humains en tant que forces productives et sexuelles, des
        hiérarchies et de l’organisation zoociales, leurs structures, leurs
        perpétuations et leurs dynamiques. les castes en sont une manifestation
        visible. les hiérarchies des clades forment des échelles plastiques, en
        éternelles reconfigurations. les mercenaires (qu’on les appelle milices,
        polices ou armées, …) sont ces ressources sexuelles non productives
        chargées par les clades supérieurs de contraindre autrui à leurs
        impératifs.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> 4 </mat-panel-title>
        <mat-panel-description>
          forces virtuelles des clades
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        les clades ont, en outre, développé des forces virtuelles, comme
        l’éducation, l’instruction, la religion, les rituels et protocoles
        zoociaux, etc. les religions, grâce aux matériaux d’irrationalités
        fournis par les âges préhistoriques, ont pour première mission de gérer
        ces forces virtuelles. quand leur mission, après des siècles et des
        siècles, a abouti, elles sont remerciées par les clades supérieurs.
        <br />les forces virtuelles forment, dès leur apparition, le "double"
        des forces matérielles qu’elles ont pour but de soutenir. elles-mêmes
        tendent à se reproduire, mais leurs inerties, aux forces matérielles et
        aux forces virtuelles, sont différentes. elles ont chacune leur vie
        propre, tout en restant connectées. elles peuvent mêmes se séparer selon
        les mouvements "tectoniques" des clades. certaines disparaîtront, comme
        les langues par exemple, d’autres apparaîtront, se combinant plus ou
        moins avec les anciennes ou parties d’anciennes, qui sont restées.
        <br />chacune des forces virtuelles, ci-dessus citées, ont pour but de
        renflouer les clades supérieurs afin : d’une part de renforcer ceux-ci
        en permanence, d’autre part de vider les clades inférieurs de leurs
        forces, selon le modèle de la prédation virtuelle ; "élever" quelqu’un
        c’est le désolidariser de son clade antérieur d’où il est (t)issu.
        rabaisser quelqu’un c’est, symétriquement, le renvoyer à un clade
        inférieur, plus ou moins bas, décidé selon les besoins et les
        circonstances.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> 5 </mat-panel-title>
        <mat-panel-description>
          il n’y a pas de solidarité autre que celle qui convient aux intérêts
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        à l’intérieur d’un "clade", les luttes d’"influences" sont les effets
        visibles des pulsions de prédation. le clade est comme une boule de
        gomme plus ou moins élastique ; certains clades sont rigides, d’autres
        très plastiques, mais toujours en déformations permanentes. la mécanique
        statistique d’einstein en est une bonne métaphore.
        <br />de plus, les clades sont tous soumis aux pressions des autres, à
        l’image de tout ce qui existe dans l’univers. à ce titre, la cosmologie
        est une bonne métaphore de toute l’humanologie. <br />pressions
        intérieures, pressions extérieures, les clades ont des membranes qui
        vibrent et se tordent à l’unisson de la somme de toutes les pressions.
        certaines résistent, notamment par une nouvelle répartition des forces,
        internes et externes d’autres crèvent comme on voit en biologie des
        cellules.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> 6 </mat-panel-title>
        <mat-panel-description> la zoociété </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        ce qu’on a coutume d’appeler la zoociété est la connexion, au sens de
        cartan, plus ou moins intime, plus ou moins régulière dans le temps et
        l’espace, des clades, leurs interpénétrabilités et exclusions. la
        biologie est une bonne métaphore de ces faits. ce qu’on appelle "un
        corps" en biologie est une "nation" en humanologie
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> 7 </mat-panel-title>
        <mat-panel-description>
          il n’y a pas de leçons de l’histoire
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        il n’y a pas de leçons de l’histoire, non pas que celle-ci n’existe pas
        mais les mouvements zoociaux prennent deux voies pour arriver jus-qu’à
        nous, parce qu’elle est introuvable en soi : celle des agents des forces
        virtuelles, dont le but sert leurs intérêts matériels et virtuels, d’où
        leurs besoins d’"enseigner" l’histoire, c’est-à-dire de tenter de
        convaincre du sens de la vie, leurs écritures partielles toujours, de la
        440 parcellisation de l’histoire, irracontable comme le sont certains
        ensembles indénombrables accompagnés de plus d’incomplétude et
        d’indiscernabilité, et celle de toute la masse humaine, immensément
        majoritaire, qui ne vit que par gisements, dépôts du réel dans les corps
        et les esprits naturellement irrationnels et tout aussi réactifs que le
        sont les végétaux selon les terrains, les climats et les rencontres
        minérales ou biologiques. <br />il n’y a pas de leçon de l’histoire
        parce que personne n’a de mémoire de l’histoire conçue comme la totalité
        de l’humain. essayons de regarder pousser une plante, eh bien c’est la
        même chose ! de plus, la mémoire n’a d’intérêt pour les humains que si
        elle sert leurs intérêts, d’où nécessairement le choix idéologique des
        histoires, quelles que soient les "recherches" archéologiques toujours
        menées par les agents virtuels des clades supérieurs, dans le silence et
        le désintérêt "culturel" des clades inférieurs.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> 8 </mat-panel-title>
        <mat-panel-description> le capitalisme </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        le capitalisme est une création du christianisme débarrassé de sa
        barbarie germanolatine médiévale, de ses archaïsmes israélites, de son
        échec oecuménique et catholique. l’économie a pris ainsi la place de
        l’oecuménisme, comme aujourd’hui l’islam tend à s’étendre dans le monde
        chrétien. pour créer le capitalisme, il fallait certaines conditions :
      </p>

      <ol type="a">
        <li>
          des forces matérielles qui poussaient à outrance les guerres de
          clades, intérieures et extérieures.
        </li>
        <li>
          une revanche du christianisme contre le fondateur, yéhochoua le juif,
          celui de la parabole du chameau, de la femme adultère, du mauvais
          ouvrier, etc. on pourrait appliquer cette analyse freudienne (le
          meur-tre du père), à cet événement.
        </li>
        <li>
          la formation d’une élite des forces virtuelles, avec un dynamisme
          corollaire des forces matérielles en mouvement à l’époque.
        </li>
      </ol>
      <p>
        ce fut, en occident, le premier signal et de l’échec du christianisme,
        et de la première séparation de l’église d’avec la zoociété civile.
        depuis, le christianisme n’a jamais cessé de défendre la propriété
        privée, l’état et la famille, qui sont les trois réalisations de la
        confirmation des clades supérieurs, quels qu’ils soient, démocrates ou
        dictatoriaux, esclavagistes et pourfendeurs du prolétariat, etc. de ce
        point de vue, les pays islamiques ne peuvent accéder au capitalisme que
        par des successions de guerres et de révolutions entraînant le
        développement des forces matérielles et des élites virtuelles
        afférentes. ce pourquoi la guerre contre l’état d’israël revêt la même
        importance que les guerres napoléoniennes pour assurer au capitalisme,
        c’est-à-dire aux clades supérieurs, son assiette définitive.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> 9 </mat-panel-title>
        <mat-panel-description>
          "exploitation de l’homme par l’homme"
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        la formule qu’on croit appliquer principalement au capitalisme
        "exploitation de l’homme par l’homme" est en réalité applicable à toute
        l’histoire humaine, sans avoir besoin de recherches techniques : la non
        mémoire historique du genre humain inclut la non mémoire d’un état qui
        ne fut pas exploiteur. dans leurs intérêts, tous les hommes désirent
        exploiter les autres hommes; c’est de ne pas y réussir que se forment
        les clades. mais une fois formés, la guerre reprend de plus belle. par
        "en bas", les vols, les viols, les crimes ne cessent pas. la criminalité
        mondiale est un supplétif de la criminalité des clades. comme les lois
        sont faites par les élites pour les clades supérieurs, en tenant compte
        des tensions intercladiques, il revient aux magistrats d’équilibrer les
        crimes en fonction.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> 10 </mat-panel-title>
        <mat-panel-description>
          zoociété du spectacle métamorphosée en zoociété informatisée
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        il revient au capitalisme de tresser la jonction universelle et complète
        des forces matérielles et virtuelles; ce fut la zoociété du spectacle
        métamorphosée en zoociété informatisée. pour la première fois dans
        l’histoire, la totalité du monde est au courant. la totalité du monde,
        tous clades confondus, utilise l’outil informatique qui, étrangement,
        n’est produit et développé que par un très petit nombre de concepteurs,
        capables même, comme élite virtuelle, de se ghettoïser – fantasme
        zoocial des clades supérieurs – , avec la silicon valley comme
        paradigme. même les parias de l’inde possèdent des cellulaires et
        participent aux réseaux dits, par antiphrase, zoociaux. la répression
        meurtrière dans un pays comme l’iran, par exemple, s’accompagne
        nécessairement du blocage d’internet.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> 11 </mat-panel-title>
        <mat-panel-description>
          le capitalisme comme "système" n’existe pas
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        le capitalisme comme "système" n’existe pas par la raison que
        l’humanité, comme tout ce qui consiste dans la nature, ne fait rien par
        442 système, c’est-à-dire qu’elle se meut par tant de myriades de
        myriades d’événements qu’elle ressemble plus aux "systèmes" quanti-ques
        qu’aux systèmes newtoniens. cette notion de système équivaut à lisser
        des organisations, événements et métamorphoses perpétuels, à les cadrer
        dans des moules, des structures, des dynamiques, qui conviennent aux
        clades supérieurs et aux clades qui visent à les subjuguer. mais ce qui
        est visible de ce que l’on appelle capitalisme, montre des structures
        partielles en mouvements relatifs qui, vues du côté clades supérieurs,
        permet, comme l’on voit pour certaines structures aléatoires que les
        mathématiques probabilistes, et aujourd’hui du chaos, des prévisions,
        des calculs toujours très localisés dans le temps et l’espace. aucune
        (pseudo-)théorie économique n’a de statut équivalent à la mathématique,
        la chimie, la physique, la biologie. tout autant que les
        (pseudo-)théories psychologiques. plus généralement, ce que l’on nomme
        pompeusement "sciences humaines" n’existe pas. ce ne sont que bricolages
        d’esthètes, bidouillages "intellectuels" qui se renvoient l’un l’autre
        pour faire autorité, mode d’action principal des élites virtuelles.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> 12 </mat-panel-title>
        <mat-panel-description>
          l’espace dit "capitaliste" et la guerre globale
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        l’espace dit "capitaliste" est une partie du mouvement humain vers un
        double objectif contradictoire :<br />
        a) la constitution d’un clade suprahumain nécessitant l’assistance et la
        participation de tous les clades, c’est-à-dire du maximum possible
        d’humains.<br />
        b) la récupération de l’espace planétaire, des ressources matérielles et
        virtuelles, de l’autosexualité, etc., par les clades inférieurs et les
        éléments inférieurs des clades supérieurs.
      </p>
      <p>
        cette guerre globale, mondiale, se déroule sous nos yeux et utilise
        toutes les incompétences dans les combats militaires ou non. chacun de
        nous y participe, en tant que consommateurs, citoyens, partisans et
        militants, familialistes, fonctionnaires, simples travailleurs, mères de
        familles, etc. etc. etc..
      </p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
