<div class="row mt-5">
  <div class="col-md-2">
    <ul>
      <li>
        <a routerLink="/contact/mailing">{{ "ABOUT.MAILING" | translate }}</a>
      </li>
      <li>
        <a routerLink="/contact/map">{{ "ABOUT.MAP" | translate }}</a>
      </li>
      <li>
        <a href="https://www.paypal.com/paypalme/fredfichant ">{{
          "APP.DONATION" | translate
        }}</a>
      </li>
    </ul>
  </div>
  <div class="col-sm-9 my-1 bg-primary text-justify py-1">
    <h1>{{ "CONTACT.H1" | translate }}</h1>
    <p>{{ "CONTACT.P1" | translate }}</p>
    <div class="container-fluid py-3">
      <share-buttons
        theme="circles-dark"
        [include]="[
          'copy',
          'facebook',
          'email',
          'messenger',
          'mix',
          'line',
          'linkedin',
          'pinterest',
          'print',
          'reddit',
          'sms',
          'telegram',
          'tumblr',
          'twitter',
          'viber',
          'vk',
          'xing',
          'whatsapp'
        ]"
        [showIcon]="true"
        [showText]="false"
        url="https://web-knot.web.app/"
        description="rare knots plastic"
        twitterAccount="fred_fichant"
        class="pt-5"
      >
      </share-buttons>
    </div>

    <div class="col-10 col-sm-10 col-md-7 col-lg-7 col-xl-7 mb-5">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
