<div class="container">
  <div class="row">
    <div class="col-10">
      <h1>l'amour vraie</h1>
      <p>
        contrairement à l’amour vrai qui n’est jamais assez étoffé, c’est à la
        nudité que se reconnaît l’hétérosexualité. l’amour vrai, c’est quand ya
        pas que le sexe, ya des sentiments, une complicité, des intérêts
        communs, une entente intellectuelle, des rêves et des passions
        partagées, des fantasmes complémentaires, de la tendresse, de
        l’admiration mutuelle, de la confiance, du respect mutuel, des petites
        attentions câlines, des idées, des valeurs identiques, des projets
        d’avenir, et qu’on a envie de faire plein de choses ensemble quoi!
        l’hétérosexualité, c’est autre chose, c’est quand tout est dans la
        situation : quand une femme et un homme sont seule à seul, nue à nu,
        chair à chair <small>– à l’écart du monde et du temps</small>. c’est
        qu’il faut de tout pour faire l’amour, tandis que pour baiser
        hétérosexuellement il ne faut que la matérielle différence des sexes,
        dans sa plus grande simplicité et sa plus grande généralité
        <small>– surtout rien d’autre</small>.
      </p>
      <h3>e - le plaisir anal féminin</h3>
      <p class="fst-italic">
        si le verbe emboucher signifie, entre autre, porter à sa bouche, prendre
        en bouche
        <small
          >– de sorte qu’il se peut dire qu’une femme embouche la verge puis
          suce cette verge embouchée ou, par synecdoque, cet homme embouché
          –</small
        >, le verbe enculer, bien que de construction similaire, semble ne pas
        avoir la signification de porter à son cul, prendre en cul
        <small
          >– de sorte qu’il ne se peut dire qu’une femme encule une verge puis
          presse ou serre cette verge enculée ou, par synecdoque, cet homme
          enculé</small
        >. c’est que dans la pratique sexuelle qui donne leurs sens aux mots, il
        n’est pas <small>– encore –</small> d’usage que femme saisisse verge de
        son anus, mais plutôt qu’elle la reçoive ou la subisse avec plus ou
        moins de délices. cet anusage perpétue la soussexualisation de cet
        organe qui, contrairement au vagin, demeure un motif isolé du corps,
        comme l’indiquent l’existence du terme localisant enculage et l’absence
        du mot envaginage de même facture, de sorte que si le vagin même est la
        femme <small>– le pénétrer c’est la pénétrer –</small>, comme la verge
        l’homme <small>– il pénètre ce qu’elle pénètre –</small>, l’anus de la
        femme est comme isolé d’elle-même
        <small>– le pénétrer ce n’est pas la pénétrer mais l’enculer</small>.
        cette mention simultanée de la localité corporelle et de la globalité
        personnelle signale la double question de l’intégrité corporelle et de
        l’intégration sexuelle : elle correspond soit à la réduction de la femme
        à son cul, achèvement de l’inclusive anale sadique imposée à sa vulve et
        son vagin
        <small class="fs-5">– et donc à toute sa sexualité –</small> l’enculeur,
        et en particulier son pénis, n’étant alors que membre répressif détaché
        de la mère, tandis que la femme elle-même est alors comme précipitée en
        son anus désastré en trou noir d’inhibition
        <em class="text-danger"
          >–, soit au dépassement de la pornographique séparation de l’anus et
          du corps sexué féminins, à l’intégration de celui-là au sexe de la
          femme par extension manifeste de son irradiation clitoridienne.</em
        >
        le coït anal féminin, absorption, inclusion ou pénétration d’une verge
        par l’anus dans le rectum d’une femme, participe de la recherche du
        plaisir hétérosexuel et contribue à l’accomplissement de la destinée
        manifeste du sexe.
      </p>
      <h3>a - génitalité de l’anus féminin</h3>
      <p class="fst-italic">
        sous prétexte que l’anus participe au corps des deux sexes, beaucoup le
        tienne, orthosexuellement, pour d’aucun ou des deux, pour asexué. ou
        bien sous prétexte que l’anus-rectum est, comme le vagin, trou et
        conduit pénétrable par la verge, beaucoup le tienne pour femelle, et
        sous prétexte que le trou féminin est par excellence le vagin, beaucoup
        font de l’anus le trou masculin, du rectum le vagin de l’homme, jusqu'à
        considérer, homovirilement, la sodomie féminine comme un substitut
        d’enculage masculin
        <small
          >– en quoi est aussi souvent dévoyée la pénétration vaginale –</small
        >, une technique de répression antisexuelle-antiféminine.
        hétérosexuellement, l’anus féminin se distingue de l’anus masculin par
        l’éroplastique des montages de motifs sexuels avec lesquels il se
        compose et se métamorphose, par leur nouage producteur de plaisir. le
        vagin et le rectum sont séparés par une cloison souple et possèdent une
        innervation commune, c’est-à-dire des terminaisons nerveuses et donc
        sensibles, importante. le nerf périnéal dessert l’anus et la vulve, et
        nombre de ses ramifications leur sont communes. une femme peut ainsi
        connaître des sensations génitales par l’anus – ou des sensations
        rectales par le vagin. dans la plastique de l’amour, le coït rectal
        hétérosexuel peut offrir des jouissances spécifiques à la femme.
      </p>
      <h3>i - pratique du coït anal féminin et sensations conjuguées</h3>
      <p class="fst-italic">
        tout acte hétérosexuel requiert délicatesse et doigté, ce qui oppose la
        même amour hétérosexuelle à l’homosexualité mâle. le coït anal féminin
        peut se pratiquer comme le coït vaginal. toutes les positions de l’un
        peuvent être positions de l’autre. il y va donc du plaisir de chacune et
        de chacun dans leurs choix. l’intromission aisée de la verge est
        possible si elle est tendue, mais pas trop, et la bague anale distendue.
        l’absence de lubrification de la verge dont la raideur et le diamètre –
        et non la longueur – peuvent être trop importants eu égard à l’ouverture
        féminine anale, risquent d’entraîner des conséquences pénibles pour la
        femme, comme d’ailleurs toutes les maladresses de l’homme.
        l’éroplasticité (de éros et plasticité) en la chose est la garantie du
        bonheur. mais si deux corps sont deux sexes, la libre sexualité est
        indénombrable et il ne peut rien arriver de pathologique entre une femme
        et un homme qui ont su se soustraire à la répression homomaternelle. le
        coït anal hétérosexuel
        <small>– comme le coït vaginal hétérosexuel –</small>, ne gêne pas la
        stimulation manuelle du clitoris ou de toute zone sensible, ce qui
        autorise une multiplicité de jouissances. lors de l’accouplement, du
        fait de l’excitation, la muqueuse rectale diffuse une sécrétion qui
        lubrifie le conduit anal féminin. la verge peut donc s’y lubrifier si
        elle ne l’a déjà été par les sécrétions vaginales ou buccales. le rectum
        n’ayant pas de fond, la verge peut s’enculer entièrement – alors qu’elle
        ne pourrait pas toujours se couler totalement dans le vagin. l’homme
        sent la gaine qui enserre son pénis le masser sur toute sa longueur
        pendant que les muscles anaux le serrent étroitement à la base. la
        femme, du fait de l’innervation périnéale de la vulve et de l’anus,
        connaît une jouissance dite anale
        <small
          >– mais ne serait-elle pas mieux dite ano-clitoridienne?, puisque ses
          spasmes sont semblables aux clitoridiens, et comme eux répétables à
          liberté.</small
        >
        à celle-ci s’ajoute, pour peu que persiste le mouvement de la verge qui
        remplit étroitement le rectum doté d’une extrême sensibilité, une
        durable jouissance, se perpétuant en délicieuse accalmie, dite rectale
        <small
          >-bmais ne serait-elle pas mieux dite recto-utérine?, puisque 11
          simultanément, chaque choc ébranle, au travers de la cloison
          périnéale, le col de l’utérus tout proche</small
        >. enfin, les exaltations respectives de la femme et de l’homme, comme
        en tout acte sexuel, se combinent et s’ajoutent pour constituer la
        volupté mutuelle.
      </p>
      <h3>ie - inter-hétérosexualisation du corps.</h3>
      <p>
        la volupté mutuelle ne constitue pas seulement la réalisation de la
        sexualité. elle est aussi moteur inclusif des organes du corps et du
        corps dans sa totalité, inapparente ou non, à la sexualité complète . la
        guerre des organes trouve sa liquidation victorieuse dans leur union au
        plaisir sexuel. la sexualité est à elle-même force productive, moyen de
        production et rapport de production en ce qu’elle joint inaliénablement,
        c’est-à-dire hors de toute complicité homomaternelle, une femme et un
        homme en une création permanente
        <small
          >– au-delà des sottises de la reconnaissance de dieue, dont c’est la
          dernière apparition, le dernier rappel –</small
        >, c’est-à-dire encore du moment où l’humaine est le tout de l’humain.
        <br />
        en ce sens, la destinée manifeste de la sexualité est la totalisation et
        l’intégration de toutes les forces productives, s’opposant en cela à la
        morale obligatoirement antisexuelle, qui vise à retenir chaque femme
        dans sa position d’exploi-tée, selon la formule chaque femme à son usage
        et chaque usage à sa femme.
      </p>
      <h3>oi - dégoût et goût.</h3>
      <p>
        les excrétions ne sont pas pour nous à réingurgiter, comme c’est le cas
        pour les animaux autocoprophages – dont certains mammifères cæcotrophes
        qui, en tant que systèmes digestifs incomplets, doivent se réapproprier
        ainsi les éléments nourriciers restant inclus dans leurs excrétions –,
        et se trouvent par là même désintégrées en pièces morales de la
        répression antisexuelle, puis se transforment, par cette antiplastique
        antisexuelle qu’on dit opération du syntesprit, en corps étrangers,
        nocifs ou toxiques, premières pièces antisexuelles du racisme, selon la
        formule jamais exprimée ce que tu rejettes est mauvais, fausse inversion
        de ce qui est mauvais rejette-le, car ce mauvais-ci il faut le soumettre
        à l’étude quand ce mauvais-là il n’y suffit que le dégoût. la salive,
        hors la bouche de l’amante et l’amant devient crachat; les fèces, hors
        le rectum, deviennent merde; les émissions sexu-elles pollutions, le
        méthane du pet signal de fuite, etc. – tout le secret de l’écologie
        politique – la politique de la dimension cachée – est là. les dégoûts
        sont donc de très forts indicateurs de l’homomaternalisme, ce sont des
        correspondances étroites; comme les goûts peuvent être des indicateurs
        de tout homosexualisme, ce sont des correspondances molles.
        l’hétérosexualité s’oppose à l’homosexualisme en ce qu’elle rapporte le
        corps à la sexualité et non l’inverse. ce rapport est ce par quoi le
        corps est ce qu’il est, intégralement, à savoir le corps de la sexualité
        elle-même, c’est-à-dire encore ce par quoi elle est la sexualité même.
        il est en ceci le seul et unique rapport vrai et absolu, le rapport non
        mortifère, c’est-à-dire non fétichiste, par lequel le corps sexué en
        vient à se connaître et à établir le monde total de l’humaine et de
        l’humain. c’est à ce rapport intégral, aussi peu fractionnant que l’est
        l’horizon de toute étendue, que s’oppose la morcelante mise en rapport
        fétichiste et donc mutilante, mortifère, du corps et du sexuel par
        l’homosexualisme, en premier lieu par l’homomaternalisme, première
        pratique de la dis-jonction, de l’efficience du corps comme outil de
        reproduction, et de la sexualité comme rapport de reproduction, outil et
        rapports pour lesquels le plaisir est la prime attribuée à la bonne
        qualité du travail et du bon usage pornographique – c’est-à-dire utile,
        efficace et limité – des organes. ce qui s’y distribue, d’un sexe à
        l’autre, ce sont les fossi-les et les survivances d’usures et de
        positions pour lesquelles la parole est inutile, laissant gravement la
        place à la toxicité du calcul.
      </p>
      <h3>ao - le clitoris délieur.</h3>
      <p>
        le clitoris, nodule précieux du plaisir sexuel manifeste sa préciosité
        au travers des transformations qui le font passer du plaisir comme
        excroissance de la copulation alimentaire à la copulation sexuelle :
        cette préciosité n’est donc pas nécessairement à réé-prouver. le
        clitoris est l’organe de plus grande hétérogénéité, support des
        comparaisons les plus fines et des distinctions ineffaçables entre
        classes sexuelles. il impose donc la différenciation la plus grande à la
        réintégration du corps en sa sexualité. ce processus de totalisation
        entraîne la différence radicale des corps sexués aussi loin l’une de
        l’autre que possible – ce pourquoi il mérite l’appellation particulière
        d’organe gynéal et non génital, ouvrant ainsi la voie à la désalliance
        13 entre gynéalogie et gynécologie, brisant l’inclusive octroyée par la
        médecine au plaisir hétérosexuel féminin – : la sexualisation adonne la
        femme et l’homme. c’est ainsi que l’anus féminin, comme le corps complet
        de la femme dans son autonouage clitoridien, c’est-à-dire par ses
        irradia-tions vulvaires, se génitalise
        <small
          >— comme le clitoris délie le vagin, il délie l’anus féminin —</small
        >
        quand ce n’est pas le cas de l’anus masculin pour lequel l’homosexualité
        mutilante masque cette différenciation par une prédation accrue des
        zones corporelles transformées en territoires pornographiques, fragments
        <small>– de discours prétendument amoureux –</small> porteurs de
        gradients de diversité habités de désirs corrélatifs, corps travestis
        aux sensations prévisibles, stables et productives, dont l’inté-rêt
        homosexuel réside dans l’abaissement de la pression de compétition
        spécifique ouvrant la voie à la possibilité de cœxistence entre
        homosexes. les deux modalités sexuelles à part entière, l’autosexualité
        homosexuelle (ao) et l’hétérosexualité intersexuelle (ei), opèrent un
        quart de tour l’une par rapport à l’autre, ce que montrent nudiennement
        leurs courbures respectives, et servent ainsi d’indicateurs référentiels
        dans le passage à l’écriture des nouages sexuels.
      </p>
      <h3>ae - la femme noue.</h3>
      <p>
        cette incomparabilité de l’autosexualité féminine à la masculine
        présente deux facettes : elle rend indestructible la sexualité et
        représente tout à la fois cette indestructibilité. l’intégration totale
        des forces productives n’est possible que par l’accomplissement de
        l’hétérosexualité féminine. mais cette intégration a pour effets à la
        fois d’abolir la séparation du corps de l’individue et de sa sexualité,
        et de nouer les sexualités de la femme et de l’homme hétérosexuelles
        en maintenant leur différence sexuelle. la fonction clitoridienne est
        donc la suture sexuelle des deux sexes. son effet le plus puissant
        réside dans l’inséparabilité absolue de la femme et de l’homme,
        simultanément à leur radicale non confusion, conformément à la loi
        d’insuffisance sexuelle. ce qui entraîne pour conséquence vitale qu’il
        ne saurait y avoir maîtrise du monde par l’un des sexes sans l’autre, de
        progrès isolé. 14 l’accès au plaisir anal féminin, pour la femme comme
        pour l’homme, est le pas actuel d’insatisfaction sexuelle nécessité par
        la réalisation de l’intégration sexuelle.
      </p>
      <h3>
        ai - l’intelligence sexuelle. la liberté sexuelle est la vérité humaine
      </h3>
      <p class="fst-italic">
        la répression antisexuelle, pour peu qu’elle s’installe dans la durée,
        vise à entraîner l’oubli de cette vérité. l’inhibition antisexuelle qui
        en résulte, comme infestation morale des corps sexués, n’est ainsi
        jamais zoocialement combattue dans ce qu’elle camoufle d’éternelle
        animalité anthropologique, qu’elle enferme dans de soi-disant couples de
        complémentaires et d’antagoniques
        <small
          >– comme l’inauthentique respect du corps et l’obligation religieuse
          par exemple qu’on nomme aristocratiquement patronalement mafieusement,
          honneur et éthique, plus démocratiquement santé et éducation.</small
        >
        la déchéance que tente ainsi d’établir à demeure la répression
        antisexuelle, n’est destructible et détruite que lorsque l’humaine et
        l’humain se nouent à l’unique puissance non contraignante qu’est
        l’authentique existence de la duelle hétérosexuelle qui a pour véritable
        merveille l’irradiation clitoridienne de la sexualisation, dont les
        corps, parole et geste, portent la relation rare du plaisir sexuel qui
        adonne femme et homme à la seule cause signifiante qui soit, souple et
        mélodieuse. cette adonnation sexuelle est à l’origyne de l’intelligence
        amoureuse, l’intelligence sexuelle qui est imminence nue de toute chose,
        à commencer par le corps-féminin à corps-masculin, rythme conjoint de la
        palpation réciproque et souveraineté absolue de l’espace duel.
        <em
          >le destin prodigieusement courant de la femme et de l’homme c’est de
          se toucher amoureusement, ce que toujours et encore toute philosophie,
          toute science et toute économie politique ont nié, oublié ou celé. la
          question de la liberté sexuelle est désormais définitivement bien
          posée.</em
        >
      </p>
      <h3>aei - la volupté productive et représentative.</h3>
      <p>
        la plastique sexuelle, dont l’icsografie (de <b>ics</b>, abréviation de
        inconscient, et grafie) est la pratique autosexuelle des dessins des
        nœuds rares et l’éroplastique la recherche intersexuelle du plaisir
        hétérosexuel, est l’éclaircie complète dont la liberté sexuelle est la
        visée unique et qui est à elle-même la totale étendue attractive. la
        liberté sexuelle est ainsi intégralement, hors la morale, hors la loi et
        hors le calcul, trois ronds d’un homologue borroméen. <br /><b
          >l’icsografie</b
        >
        vise à la désintoxication sexuelle, à la désinhibition plastique des
        pulsions sexuelles
        <small
          >– à la résorption de l’homosexualité dans l’autosexualité,
          l’autosexualisation de l’homosexualité, et à la reconformation de
          l’autosexualité en hétérosexualité, l’hétérosexualisation de
          l’autosexualité.</small
        >
        <br />l’éploiement des métamorphoses de la sexualité qu’elle met en
        œuvre se condense en schémas nœudiens, où sont noués les deux paires de
        mots opposés (hétérosexuel, homosexuel) et (autosexuel, intersexuel).
      </p>
      <p>
        comme toute nouveauté, l’icsografie doit, pour se présenter, se
        rattacher à du connu; ce faisant, elle s’expose à être unilatéralement
        ramenée à de l’ancien, en vertu du réflexe par lequel s’entretient
        l’inhib-ition de la curiosité au profit de l’autorité des spécialistes.
      </p>
      <p class="fst-italic">
        l’icsografie c’est d’abord de la <b>topologie infantile</b> et de la<b
          >psychanalyse sauvage</b
        >
        . la topologie est dite infantile lorsqu’elle ne refoule pas le nouage;
        la psychanalyse est dite sauvage lorsqu’elle traite d’emblée du sexuel.
        en leur enfance sauvage et ingénue, inconscientes des dangers et
        ignorant l’ennui, la psychanalyse et la topologie n’étaient pas
        assimilables à la médecine, la psychologie, la géométrie ou l’algèbre.
        <br />ce qui n’est pas nouveau dans l’icsografie c’est ce dont la
        topologie et la psychanalyse se sont, de bonne heure et
        irréversiblement, débarrassées pour n’être plus traitées comme des
        infantes sauvages. cette part ancienne de l’icsografie est donc presque
        aussi inconnue que sa part nouvelle, la plastique des nœuds rares et des
        nuées nœudiennes. l’icsografie c’est aussi de <b>l’œconomie naïve</b>.
        l’œconomie est dite naïve lorsque sans représentation ni spéculation,
        elle fait résulter la sujette et le sujet économiques de leur réalité de
        classe, à partir de laquelle s’exprime de façon flagrante leur
        subordination, et se bâtissent dans les oppositions et les alliances les
        vidéologies <small>– les mystifications –</small> et la conscience. en
        son sérieux naturaliste d’origyne et ingénument bourgeoise, l’œconomie
        n’était pas assimilable au commerce ni à la politique. l’icsografie peut
        être dite galiléenne, freudienne et engelsienne, comme la physique peut
        être dite galiléenne, bien que l’une et l’autre se passent de la dieue
        comme du psychisme, et sans égard pour les croyances personnelles de
        sigmund freud et de galileo galilei. l’univers objectif, somme des corps
        morts pesants
        <small>– c’est-à-dire des corps sans pratique sexuelle –</small>, se
        dématérialise pour n’apparaître pas comme subjectif mais, par glissement
        duel du sexuel, pour se reconformer comme totalisation finale de la
        productive et de la représentative, c’est-à-dire la nuée nœudienne.
      </p>
      <p>
        l’essence de la liberté sexuelle est la pratique. ce qui n’a pas de
        pratique n’est pas réel pour nous. chaque maille de la liberté sexuelle
        vit dans la mesure où elle participe d’une pratique intégrale. ce qui
        n’est pas pratiqué n’existe pas pour nous.
      </p>
    </div>
  </div>
</div>
